<app-banner></app-banner>
<section class="about-section py-5">
  <div>
    <img
      alt="flower-img"
      loading="lazy"
      [src]="s3Bucket.flower"
      class="flower-img"
    />
  </div>
  <h1>
    Prāṇa Ārambha
    <span class="project-color"
      >(meaning "Beginning of Prana") is a focused online Pranayama course
      offered that serves as a foundational practice for revitalizing your inner
      energy and daily productivity</span
    >
  </h1>
  <div class="row mb-3">
    <div class="col-md-12 d-flex justify-content-center">
      <div>
        <p>
          Designed to be absorbed within 21 days, the course unlocks one video
          at a time, encouraging a disciplined and sequential learning
          experience. It provides practical Pranic techniques that help
          stabilize the mind and foster an effortless habit of conscious
          breathing in just 30-minute daily sessions.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12 image d-flex justify-content-center">
    <a
      href="checkout/pranayama-course-online-pranarambha"
      class="get_access_btn"
      >Join Now</a
    >
  </div>
</section>
<section class="subjectSection py-5">
  <div class="row">
    <div class="col-md-12 mb-5">
      <div>
        <h2 style="text-align: center">
          <span>Let's Understand the Practice -</span> PRANA ARAMBHA
        </h2>
        <p>
          <b>Videos:</b> 13 Ancient Pranayama Techniques in Detail Self Practice
          Time: 30 Minutes Every Day
        </p>
        <p><b>Hours:</b> 6 Hours of Content, including all Practice Videos</p>
        <p><b>Self Practice Time:</b> 30 Minutes Every Day</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-4">
      <h2 style="text-align: center">
        <span>Benefits of Online Pranayama Course</span> PRANA ARAMBHA
      </h2>
    </div>
    <div class="col-md-6">
      <div class="left-panel">
        <div class="accordion-list">
          <details class="accordion-item">
            <summary style="cursor: pointer">
              <strong>Develop a Habit of Being Constant</strong>.
            </summary>
            <div class="accordion-body">
              <p>
                The biggest disruption in today’s time in the mind of a person
                is, unable to maintain continuity. Due to which you fail to
                achieve your goal and even after trying again and again the goal
                remains far from your grip. So, the first change you will feel
                when learning this exercise is to be able to maintain the
                continuity in your life. And this continuity is not just in
                common practice. It is a continuation in a particular practice.
                That will give strength to your energy body due to which you can
                achieve new heights of your life.
              </p>
            </div>
          </details>

          <details class="accordion-item">
            <summary style="cursor: pointer">
              <strong>Purification Of Mind</strong>
            </summary>
            <div class="accordion-body">
              <p>
                Since this Yogic Breathing Course is a special PranicPractice,
                you are also working on purification of your mind. This pranic
                exercise will clear various disorders of your mind, causing the
                mind to attain a particular Satvik (Purest) state.
              </p>
            </div>
          </details>

          <details class="accordion-item">
            <summary style="cursor: pointer">
              <strong>Time For Your Inner self</strong>
            </summary>
            <div class="accordion-body">
              <p>
                Much of our time and energy is utilised by satisfying the
                passions of others; we are constantly striving to please others,
                which makes us forget the life of restraint and we stop working
                on our inner self which fill our body with a variety of
                ailments. This practice gives you inner purification from the
                moment you begin the course.
              </p>
            </div>
          </details>

          <details class="accordion-item">
            <summary style="cursor: pointer">
              <strong>Inner Communication</strong>
            </summary>
            <div class="accordion-body">
              <p>
                We are always extroverted. Our mind is more influenced and
                attracted by external topics. Because of which we walk away from
                our inner self. And we are not at all aware of the developments
                and changes that are taking place inside us. We get this
                understanding only when a very difficult or unfavourable
                situation comes to us which is very difficult to deal with. And
                then we swagger into emotion and seek out the wrong judgements
                that make our life disturbed. But through this online pranayama
                course, you will be able to connect with moderation easily and
                be able to understand what is happening in you.
              </p>
            </div>
          </details>

          <details class="accordion-item">
            <summary style="cursor: pointer">
              <strong>Mystery of Emotions</strong>
            </summary>
            <div class="accordion-body">
              <p>
                Everyone wants to restraint on their emotions, and make these
                emotions favourable to them. Many try it, but fail again and
                again because it is not such an easy task. It requires constant
                practice and right transmission of energy so through this
                practice you become able to give right direction to your
                emotions.
              </p>
            </div>
          </details>

          <details class="accordion-item">
            <summary style="cursor: pointer">
              <strong>Right Transmission of Energy</strong>
            </summary>
            <div class="accordion-body">
              <p>
                Sometimes we are constantly striving, but we are unable to
                achieve our goal. Which causes the mind to become impatient and
                the excitement to try gets over. We stop trying and thus the
                goal goes away from us. This happens to many of us all the time.
                There are numerous reasons that keep us away from the success we
                dream of. Some of the reasons can be laziness, negligence, lack
                of interest, lack of enthusiasm in life. This happens to many of
                us all the time.
              </p>
              <p>
                But when you practice pranayama constantly in your life, all
                these obstacles begin to vanish from your life and the mind
                reaches the goal through concentration. Because the entire
                energy get in one direction, the energy paved right path leading
                to life.
              </p>
            </div>
          </details>

          <details class="accordion-item">
            <summary style="cursor: pointer">
              <strong>Improve Productivity</strong>
            </summary>
            <div class="accordion-body">
              <p>
                If I tell you one exercise or activity that can increase your
                productivity by 10 times. Will not you do it? I am sure everyone
                will be motivated to learn that technique. This is the practice
                of Pranayama.
              </p>
              <p>
                I am saying this because I have experienced the miracles of
                Pranayama in my life. When you wake up early in the morning, do
                right thing with your own energy system and give the right
                direction to your Prana, energy starts flowing correctly which
                removes the impurities or disorders from the mind and mental
                productivity improves. It is like a miracle and your mind won't
                distract you from your focus.
              </p>
            </div>
          </details>

          <details class="accordion-item">
            <summary style="cursor: pointer">
              <strong>Memory Improvement and Creativity</strong>
            </summary>
            <div class="accordion-body">
              <p>
                In today 's busy life there are lot of activities going on
                around us, and whether we want or not we have to engage in these
                unwanted activities due to peer pressure or social
                responsibilities. This makes the mind unstable all the time and
                as a result our memory slowly decreases because we have never
                driven the mind to be fixed, we always made it busy. Our mind,
                because of being occupied with unwanted activities, is never
                empty and free. This wastes the entire energy of mind and
                restricts the flow of new ideas. But when we adopt the practice
                of Yogic Breathing or Pranayama in our life, it attracts the
                positive thoughts and new ideas in our life that leads to an
                origin point of the spiritual direction.
              </p>
            </div>
          </details>

          <details class="accordion-item">
            <summary style="cursor: pointer">
              <strong>Free from Sickness</strong>
            </summary>
            <div class="accordion-body">
              <p>
                It is believed that the seed of any disease first starts in the
                Pranic body. If we address this disease at this point, it
                perishes before it appear to gross body, and does not dominant
                over a physical body. So a pranayama sadhaka or practitioner who
                constantly keeps on strengthening and purification of his body
                by various Pranic techniques can safeguard his body at very
                initial stage. Because the energy transmitted in his/her body
                destroys the seeds all kinds of serious diseases. The major
                cause for these diseases is non - removal of disorders from the
                Pranic body. This disorders firstly occur on energy level and
                then on physical.
              </p>
            </div>
          </details>

          <details class="accordion-item">
            <summary style="cursor: pointer">
              <strong>Makes you a Giver</strong>
            </summary>
            <div class="accordion-body">
              <p>
                Don 't you want to be able to help others, and give the society
                a new direction? Don't you want the individuals at higher
                positions in society consult from you. This will happen
                automatically once you become a Pranayama practitioner because
                the expansion of your energy will not limited to you alone if
                you make this practice as a routine. The energy of the pranayama
                sadhaka begins to travel outside his physical body. And can
                impress every single person and this is a reason a Pranayama
                sadhka shines in the crowd.
              </p>
              <p>
                What benefits I have mentioned above are not confined to only
                writing. It can practically happen in your life once you
                practice pranayama through this only pranayama course. I am sure
                you are the one who wants to bring all these changes into your
                life. And want to give your life a balanced direction.
              </p>
            </div>
          </details>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="imageback">
        <img
          [src]="s3Bucket.pArambh1"
          class="img-fluid"
          loading="lazy"
          alt="pranayama course online pranarambha"
        />
      </div>
    </div>
  </div>
</section>
<section class="banner">
  <div class="video-container">
    <video
      muted
      loop
      playsinline
      controls
      id="backgroundVideo"
      class="background-video"
    >
      <source [src]="youtubeLink.pranaArambh" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="form">
    <h3>Want To Practice Pranayama Sadhana!</h3>
    <h3>Well-Researched Course to:</h3>
    <ol>
      <li>Improve Health & Spiritual Wellbeing</li>
      <li>Enhance the Quality of Life</li>
      <li>Break the Cycle of Addictions</li>
    </ol>
    <div class="d-flex mt-4">
      <button class="modern-btn" (click)="registerClick()">Register Now</button>
    </div>
  </div>
</section>
<app-pricing [slug]="routEnum.pranOnlinePranaArambh"></app-pricing>
<!-- <app-video-reviews [specialvideo]="true"></app-video-reviews>
<app-review-list-component></app-review-list-component> -->
<app-faq [data]="faqData"></app-faq>
