.breadcrumb_section {
  background-color: #f9751e;
  padding: 10px 0;

  ol {
    margin-bottom: 0;

    li {
      color: #fff;
    }
  }

  .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
  }
}

section.blogArea {
  .aboutAuthor {
    .content {
      margin: 15px 0 0 15px;
      border-radius: 15px;
      padding: 10px;
      background-color: #f5f0e4;

      h2 {
        color: #f9751e;
      }

      img {
        width: 100%;
        display: block;
        margin: auto;
        border-radius: 10px;
      }

      h3 {
        font-size: 20px;
        font-weight: 600;
        margin-top: 20px;
      }

      p {
        a {
          text-decoration: none;
          background-color: #f9751e;
          border-radius: 8px;
          padding: 5px 10px;
          color: #fff;
        }
      }
    }
  }

  .readBlogContent {
    .content {

      margin-top: 15px;

      img {
        display: block;
        width: 100%;
        margin: auto;
        border-radius: 15px;

      }

      ::ng-deep a {
        text-decoration: none;
        color: #f9751e;
      }
    }
  }

  .yogaCards {
    .content {
      margin: 15px 15px 0 0;

      .btn-orange {
        background: linear-gradient(to right, #f47019, #d55502) !important;
        background-size: 100px !important;
        border: none;
        color: #ffffff !important;
        font-weight: 700;
        padding: 10px 15px;
        border-radius: 10px;
        width: 150px;
        text-decoration: none;
      }
    }

  }
}


@media only screen and (max-width:992px) {
  section.blogArea {
    .aboutAuthor {
      order: 2;

      .content {
        margin: 10px;
      }
    }

    .readBlogContent {
      order: 1;

      .content {
        margin: 10px;
      }
    }

    .yogaCards {
      order: 3;

      .content {
        margin: 10px;
      }

      ;
    }
  }
}
