<section class="training-section py-5">
  <div>
    <img
      loading="lazy"
      alt="Not Loaded"
      src="https://my-s3-images-bucket.s3.amazonaws.com/img/flower-color.png"
      class="flower-img"
    />
  </div>
  <h3>{{ heading3 }}</h3>
  <h2>
    <span>{{ ytData.title }}</span>
  </h2>
  <div class="video my-2 py-2" *ngIf="!this.ytData.videoId">
    <iframe
      loading="lazy"
      width="860"
      height="500"
      src="https://www.youtube.com/embed/vPD1NGMY_8E?si=PZ1aqfhF5s0UKkaA"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen=""
    ></iframe>
  </div>
  <div class="video my-2 py-2" *ngIf="ytData.videoId">
    <iframe
      loading="lazy"
      width="860"
      height="500"
      [src]="safeUrl"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen=""
    ></iframe>
  </div>
  <div *ngIf="content" class="my-2" [innerHTML]="content"></div>
  <app-start-class [data]="ytData" [slug]="slug"></app-start-class>
</section>
