<section class="training-section py-5">

  <div class="row mb-5">
    <div class="col-md-6 bg-object-fit image" id="tranner-img">
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <div>
        <h2>Become A <span>Yoga Teacher In Rishikesh, India</span></h2>
        <p>
          Yoga Vidya School is a Yoga Alliance USA certified yoga school in Rishikesh. We offer different yoga teacher training courses in Rishikesh like the fundamental 200-hour yoga teacher training  course in Rishikesh, the Advanced-level 300-hour yoga teacher training course in Rishikesh and the 500-hour teacher training yoga course in Rishikesh.
        </p>
        <p>
          For beginners, we offer the short-duration 100-hour yoga course in Rishikesh that acts as a gateway for future yoga TTC programs.  We also offer an online 200-hour yoga TTC for individuals who for some reason are unable to join our residential 200-hour teacher training yoga course in Rishikesh.
        </p>
        <p>
          We, at Yoga Vidya School each month  enroll intermediate and advanced level yoga students from across the world in our various yoga teacher training courses in Rishikesh. Yoga aspirants join our various yoga courses in Rishikesh for a truly traditional and authentic yoga training.
          Our yoga school in Rishikesh is backed by expert yoga faculty members who help students gain authentic knowledge and experiences of yoga in simple, easily-comprehensible ways.
          These learnings not only prove to be life-transforming but also open up many career opportunities for aspiring yoga teachers.
        </p>
      </div>
    </div>
  </div>

  <div><img src="https://my-s3-images-bucket.s3.amazonaws.com/img/flower-color.png" class="flower-img" /></div>
  <h2>Yoga Alliance Certified <span>Yoga Teacher Training in Rishikesh</span>

    </h2>
  <small>These transformative yoga courses create necessary yogic platform for the yoga practitioners to explore deeper dimensions of the Yoga World. With rich curriculum, these certified trainings cover 14+ Yoga subjects including Hatha, Ashtanga, Pranayama, Ayurveda, Philosophy. These courses make true yoga practitioners and prepare them to meet the requirements of Registered Yoga Teacher with Yoga Alliance.</small>

  <div class="row my-3 ">
    <div class="col-md-4">
      <div class="card">
        <div class="card-image relative">
          <img src="https://my-s3-images-bucket.s3.amazonaws.com/images/Yoga_333_sz9y7i.jpg" class="card-img-top" alt="Card Image">
          <div class="card-img-overlay d-flex align-items-end p-0">
            <div class="card-title-gradient w-100 p-2">
              <h5 class="card-title text-white">100 Hour Yoga Teacher Training in Rishikesh</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">
            The 100 Hour Yoga TTC is an introductory program, perfect for those who have less time and want to build a correct foundational understanding of yoga practices, with holistic approach.
          </p>
          <a routerLink="/100-hours-yoga-teacher-training-in-rishikesh" class="course-button">Explore Course Details</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-image relative">
          <img src="https://my-s3-images-bucket.s3.amazonaws.com/images/Yoga_456_ojy6ih.jpg" class="card-img-top" alt="Card Image">
          <div class="card-img-overlay d-flex align-items-end p-0">
            <div class="card-title-gradient w-100 p-2">
              <h5 class="card-title text-white">200 Hour Yoga Teacher Training in Rishikesh</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">
            A comprehensive course for those ready to deepen their practice and start teaching yoga professionally. In addition to a structured regular practice, it covers teaching methodology.
          </p>
          <a routerLink="/200-hours-yoga-teacher-training-in-rishikesh" class="course-button transparent">Explore Course Details</a>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-image relative">
          <img src="https://my-s3-images-bucket.s3.amazonaws.com/images/300_pvgfvo.jpg" class="card-img-top" alt="Card Image">
          <div class="card-img-overlay d-flex align-items-end p-0">
            <div class="card-title-gradient w-100 p-2">
              <h5 class="card-title text-white">300 Hour Yoga Teacher Training in Rishikesh</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">
            An advanced multi-style yoga program for dedicated yoga practitioners and professionals  to refine their practice and skills, expand their knowledge and elevate their teaching to a higher level.
          </p>
          <a href="javascript:void(0)" routerLink="/300-hours-yoga-teacher-training-in-rishikesh" class="course-button transparent">Explore Course Details</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div><a href="#" class="button">Get Enroll To Become Successful Yoga Trainer</a></div> -->
</section>
