@if(slug==routeEnum.rishikesh){
<section class="ready-section">
  <div class="ready-container">
    <h2 class="ready-title">✨ Ready to Begin?</h2>
    <p class="ready-subtitle">
      Take the leap toward a deeper practice and a more aligned life.
    </p>
  </div>
</section>
} @else{
<section class="ready-section">
  <div class="ready-container">
    <h2 class="ready-title">✨ Ready to Begin Your Journey?</h2>
    <h3>Limited spots available.</h3>
    <p class="ready-subtitle">
      📥 Apply now and get personal guidance from our team.
    </p>
  </div>
</section>
}
