<section id="page-title" class="faq patern-bg2">

  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Frequently Asked Questions</h1>

      </div>
    </div>
    <div class="row">

      <div class="col-md-12 bottommargin-sm yoga-page-template">

        <div id="faqs" class="faqs">




          <h3 class="text-center">General Queries</h3>


          <div class="accordion" id="GaccordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="GheadingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#GcollapseOne"
                  aria-expanded="true" aria-controls="GcollapseOne">
                  Is the program residential or non-residential?
                </button>
              </h2>
              <div id="GcollapseOne" class="accordion-collapse collapse show" aria-labelledby="GheadingOne"
                data-bs-parent="#GaccordionExample">
                <div class="accordion-body">
                  To maintain the integrity and to keep up with the discipline the program needs, the programs
                  offered at our school are primarily residential.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="GheadingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#GcollapseTwo" aria-expanded="false" aria-controls="GcollapseTwo">
                  What kind of food is served during the program?
                </button>
              </h2>
              <div id="GcollapseTwo" class="accordion-collapse collapse" aria-labelledby="GheadingTwo"
                data-bs-parent="#GaccordionExample">
                <div class="accordion-body">
                  We serve highly nutritious vegetarian and vegan food to fulfill our students’ daily dietary needs.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="GheadingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#GcollapseThree" aria-expanded="false" aria-controls="GcollapseThree">
                  Is the stay comfortable?
                </button>
              </h2>
              <div id="GcollapseThree" class="accordion-collapse collapse" aria-labelledby="GheadingThree"
                data-bs-parent="#GaccordionExample">
                <div class="accordion-body">
                  Yes, we provide all the basic amenities to our students for a safe and comfortable stay.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="GheadingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#GcollapseFour" aria-expanded="false" aria-controls="GcollapseFour">
                  Can I get my meals customized according to my health condition?
                </button>
              </h2>
              <div id="GcollapseFour" class="accordion-collapse collapse" aria-labelledby="GheadingFour"
                data-bs-parent="#GaccordionExample">
                <div class="accordion-body">
                  Yes. If you have a pre-existing health condition, then please let us know in advance so we can
                  customize your diet according to your health requirements. We try our best to serve your
                  requirements as much as possible but at the same time we expect from you to understand It is
                  difficult to maintain separate food for one person In the group.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="GheadingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#GcollapseFive" aria-expanded="false" aria-controls="GcollapseFive">
                  Is the water provided at the school safe to drink?
                </button>
              </h2>
              <div id="GcollapseFive" class="accordion-collapse collapse" aria-labelledby="GheadingFive"
                data-bs-parent="#GaccordionExample">
                <div class="accordion-body">
                  Yes. We provide clean and safe drinking water at the school. A water-filter is Installed In the
                  kitchen to offer 24X7 filtered water for cooking and drinking.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="GheadingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#GcollapseSix" aria-expanded="false" aria-controls="GcollapseSix">
                  Is there a Wi-Fi facility at the school?
                </button>
              </h2>
              <div id="GcollapseSix" class="accordion-collapse collapse" aria-labelledby="GheadingSix"
                data-bs-parent="#GaccordionExample">
                <div class="accordion-body">
                  Yes, we provide FREE Wi-Fi access at the school. However, you are not allowed to use the internet
                  during the classes.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="GheadingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#GcollapseSeven" aria-expanded="false" aria-controls="GcollapseSeven">
                  Can I use my phone at school?
                </button>
              </h2>
              <div id="GcollapseSeven" class="accordion-collapse collapse" aria-labelledby="GheadingSeven"
                data-bs-parent="#GaccordionExample">
                <div class="accordion-body">
                  Yes, you may use your phone at school. However, the phones are not allowed in the classroom or
                  while the practice sessions are on.
                </div>
              </div>
            </div>
          </div>


          <h3 class="text-center">Program &amp; Certification Related FAQs</h3>


          <div class="accordion" id="ProaccordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="ProheadingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#ProcollapseOne" aria-expanded="true" aria-controls="ProcollapseOne">
                  When do I reach the school to commence the program?
                </button>
              </h2>
              <div id="ProcollapseOne" class="accordion-collapse collapse" aria-labelledby="ProheadingOne"
                data-bs-parent="#ProaccordionExample">
                <div class="accordion-body">
                  We advise arriving a day early before the date of program commencement. As for the departure from
                  the school, you can leave the same day after completing the certification ceremony and rest of the
                  formalities of the course (if any).
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="ProheadingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#ProcollapseTwo" aria-expanded="false" aria-controls="ProcollapseTwo">
                  When does the program end?
                </button>
              </h2>
              <div id="ProcollapseTwo" class="accordion-collapse collapse" aria-labelledby="ProheadingTwo"
                data-bs-parent="#ProaccordionExample">
                <div class="accordion-body">
                  The programs are usually 4 weeks long and the duration of the program depends upon the type of
                  program chosen.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="ProheadingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#ProcollapseThree" aria-expanded="false" aria-controls="ProcollapseThree">
                  Do I need to be a prior yoga practitioner to be eligible for the program?
                </button>
              </h2>
              <div id="ProcollapseThree" class="accordion-collapse collapse" aria-labelledby="ProheadingThree"
                data-bs-parent="#ProaccordionExample">
                <div class="accordion-body">
                  For a 200 Hour Yoga Teacher Training Course or 500 Hour Yoga TTC, you do not need to know yoga
                  before joining these programs. But doing some basic study before joining the program helps
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="ProheadingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#ProcollapseFour" aria-expanded="false" aria-controls="ProcollapseFour">
                  Are we allocated any free time during the program?
                </button>
              </h2>
              <div id="ProcollapseFour" class="accordion-collapse collapse" aria-labelledby="ProheadingFour"
                data-bs-parent="#ProaccordionExample">
                <div class="accordion-body">
                  Yes, you shall have some free time in between sessions which you can spend at your leisure.
                  Sundays are kept free for the students to explore local activities and culture.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="ProheadingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#ProcollapseFive" aria-expanded="false" aria-controls="ProcollapseFive">
                  How much attendance is compulsory?
                </button>
              </h2>
              <div id="ProcollapseFive" class="accordion-collapse collapse" aria-labelledby="ProheadingFive"
                data-bs-parent="#ProaccordionExample">
                <div class="accordion-body">
                  Yes. We recommend attending all classes for a successful completion of the program. If you are
                  unable to attend the class due to some emergency or a medical condition, then please inform your
                  teacher.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="ProheadingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#ProcollapseSix" aria-expanded="false" aria-controls="ProcollapseSix">
                  What is the medium of instruction in the classes?
                </button>
              </h2>
              <div id="ProcollapseSix" class="accordion-collapse collapse" aria-labelledby="ProheadingSix"
                data-bs-parent="#ProaccordionExample">
                <div class="accordion-body">
                  English.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="ProheadingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#ProcollapseSeven" aria-expanded="false" aria-controls="ProcollapseSeven">
                  How are the courses conducted at the school?
                </button>
              </h2>
              <div id="ProcollapseSeven" class="accordion-collapse collapse" aria-labelledby="ProheadingSeven"
                data-bs-parent="#ProaccordionExample">
                <div class="accordion-body">
                  The courses are a blend of theory and practice.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="ProheadingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#ProcollapseEight" aria-expanded="false" aria-controls="ProcollapseEight">
                  Who takes the sessions?
                </button>
              </h2>
              <div id="ProcollapseEight" class="accordion-collapse collapse" aria-labelledby="ProheadingEight"
                data-bs-parent="#ProaccordionExample">
                <div class="accordion-body">
                  The classes are conducted by certified yoga experts and gurus only.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="ProheadingNine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#ProcollapseNine" aria-expanded="false" aria-controls="ProcollapseNine">
                  What kind of course certification will I be given?
                </button>
              </h2>
              <div id="ProcollapseNine" class="accordion-collapse collapse" aria-labelledby="ProheadingNine"
                data-bs-parent="#ProaccordionExample">
                <div class="accordion-body">
                  Since our programs are recognized by Yoga Alliance, upon graduation, you will be eligible to get a
                  certification registered with Yoga Alliance.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="ProheadingTen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#ProcollapseTen" aria-expanded="false" aria-controls="ProcollapseTen">
                  Are the programs globally recognized?
                </button>
              </h2>
              <div id="ProcollapseTen" class="accordion-collapse collapse" aria-labelledby="ProheadingTen"
                data-bs-parent="#ProaccordionExample">
                <div class="accordion-body">
                  Yes.
                </div>
              </div>
            </div>
          </div>

          <h3 class="text-center">Payment &amp; Fees Related FAQs</h3>


          <div class="accordion" id="PayaccordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="PayheadingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#PaycollapseOne" aria-expanded="true" aria-controls="PaycollapseOne">
                  What is the program fee?
                </button>
              </h2>
              <div id="PaycollapseOne" class="accordion-collapse collapse" aria-labelledby="PayheadingOne"
                data-bs-parent="#PayaccordionExample">
                <div class="accordion-body">
                  The program fee starts from $500 USD for a retreat, $1200 for 200 hours, $1400 for 300 hour yoga
                  teacher training. The exact fee depends upon the type of program, the location, and room type
                  chosen. For more details, please get in touch with our team.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="PayheadingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#PaycollapseTwo" aria-expanded="false" aria-controls="PaycollapseTwo">
                  Can I make the payment in installments?
                </button>
              </h2>
              <div id="PaycollapseTwo" class="accordion-collapse collapse" aria-labelledby="PayheadingTwo"
                data-bs-parent="#PayaccordionExample">
                <div class="accordion-body">
                  Yes.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="PayheadingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#PaycollapseThree" aria-expanded="false" aria-controls="PaycollapseThree">
                  What is the standard registration fee for the program?
                </button>
              </h2>
              <div id="PaycollapseThree" class="accordion-collapse collapse" aria-labelledby="PayheadingThree"
                data-bs-parent="#PayaccordionExample">
                <div class="accordion-body">
                  You can register for any program at our school at a nominal fee of USD 200 only.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="PayheadingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#PaycollapseFour" aria-expanded="false" aria-controls="PaycollapseFour">
                  What is the mode of payment accepted at the school?
                </button>
              </h2>
              <div id="PaycollapseFour" class="accordion-collapse collapse" aria-labelledby="PayheadingFour"
                data-bs-parent="#PayaccordionExample">
                <div class="accordion-body">
                  We accept both online and offline payments in major International Currency. We also accept
                  transfers through Paypal, Wise, Western Union, Direct Bank Transfer.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="PayheadingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#PaycollapseFive" aria-expanded="false" aria-controls="PaycollapseFive">
                  When do I make the rest of the fee payment?
                </button>
              </h2>
              <div id="PaycollapseFive" class="accordion-collapse collapse" aria-labelledby="PayheadingFive"
                data-bs-parent="#PayaccordionExample">
                <div class="accordion-body">
                  You can pay the remaining fee once you arrive at the school through Card, Paypal or In Cash.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="PayheadingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#PaycollapseSix" aria-expanded="false" aria-controls="PaycollapseSix">
                  Is the fee refundable?
                </button>
              </h2>
              <div id="PaycollapseSix" class="accordion-collapse collapse" aria-labelledby="PayheadingSix"
                data-bs-parent="#PayaccordionExample">
                <div class="accordion-body">
                  Sorry! Owing to unavoidable reasons, Advance Fee Is Non Refundable but can be transferred to other
                  months. Advance Fee Booking Is valid for one year.
                </div>
              </div>
            </div>
          </div>

          <h3 class="text-center">Transport Related FAQs</h3>


          <div class="accordion" id="TaccordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="TheadingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#TcollapseOne"
                  aria-expanded="true" aria-controls="TcollapseOne">
                  How do I Reach Rishikesh?
                </button>
              </h2>
              <div id="TcollapseOne" class="accordion-collapse collapse" aria-labelledby="TheadingOne"
                data-bs-parent="#TaccordionExample">
                <div class="accordion-body">
                  Rishikesh is well-connected to Road and Railway, so you can easily reach here through State Buses,
                  Taxis and Trains from Delhi or anywhere from India. The nearest Airport Is Dehradun Airport.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="TheadingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#TcollapseTwo" aria-expanded="false" aria-controls="TcollapseTwo">
                  How do I reach Varkala?
                </button>
              </h2>
              <div id="TcollapseTwo" class="accordion-collapse collapse" aria-labelledby="TheadingTwo"
                data-bs-parent="#TaccordionExample">
                <div class="accordion-body">
                  There are no direct flights for Varkala. However, there are KSRTC buses, trains that ply between
                  Kochi and Thiruvananthapuram. The nearest international airport for Varkala is in
                  Thiruvananthapuram, the Trivandrum International Airport.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="TheadingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#TcollapseThree" aria-expanded="false" aria-controls="TcollapseThree">
                  Do you have a pick and drop facility for the students?
                </button>
              </h2>
              <div id="TcollapseThree" class="accordion-collapse collapse" aria-labelledby="TheadingThree"
                data-bs-parent="#TaccordionExample">
                <div class="accordion-body">
                  We can make arrangements for a pick up and drop off from the school to the airport, bus stand or
                  the railway station from all the locations of the school. You just need to inform us in advance of
                  your date and time of arrival. The conveyance charges are not part of the program fee.
                </div>
              </div>
            </div>
          </div>

          <h3 class="text-center">Health &amp; Security Information</h3>


          <div class="accordion" id="HaccordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="HheadingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#HcollapseOne"
                  aria-expanded="true" aria-controls="HcollapseOne">
                  What are the COVID-19 guidelines in Kerala, India?
                </button>
              </h2>
              <div id="HcollapseOne" class="accordion-collapse collapse" aria-labelledby="HheadingOne"
                data-bs-parent="#HaccordionExample">
                <div class="accordion-body">
                  As of now, there are no additional regulations other than the visa requirements that need to be
                  met when travelling to India. You might need to carry your RT-PCR report along with a proof of the
                  WHO validated vaccination certificate while travelling here. For more information, please make
                  sure to go through the travel advisory of India.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="HheadingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#HcollapseTwo" aria-expanded="false" aria-controls="HcollapseTwo">
                  Is the place safe for tourists and women?
                </button>
              </h2>
              <div id="HcollapseTwo" class="accordion-collapse collapse" aria-labelledby="HheadingTwo"
                data-bs-parent="#HaccordionExample">
                <div class="accordion-body">
                  Yes. Rishikesh and Varkala are safe place for tourists and women.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="HheadingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#HcollapseThree" aria-expanded="false" aria-controls="HcollapseThree">
                  Will I get emergency medical assistance if needed?
                </button>
              </h2>
              <div id="HcollapseThree" class="accordion-collapse collapse" aria-labelledby="HheadingThree"
                data-bs-parent="#HaccordionExample">
                <div class="accordion-body">
                  Yes. We provide medical assistance to each student whenever a need arises. We have a 24X7 help
                  desk at the school for students.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="HheadingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#HcollapseFour" aria-expanded="false" aria-controls="HcollapseFour">
                  Are all kinds of medicines available here?
                </button>
              </h2>
              <div id="HcollapseFour" class="accordion-collapse collapse" aria-labelledby="HheadingFour"
                data-bs-parent="#HaccordionExample">
                <div class="accordion-body">
                  Rishikesh and Varkala are affluent places with all kinds of amenities and facilities. However, if
                  you have a pre-existing condition for which you are taking prescribed medication, then we advise
                  carrying the medication along.
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</section>
