.services-section {
    text-align: center;
    position: relative;
    padding-top: 40px;

    h2,
    .namaste {
        font-size: 25px;
        color: #fff;
        padding-top: 45px;
    }

    .middle-text {
        margin: 0px 150px;
        border-radius: 10px;
        position: absolute;
        top: 269px;
        width: 75%;
        padding: 0px 0px 0px 20px;

    }
    .p-0{
        padding: 0;
    }
    .text-left {
        text-align: left !important;
    }

    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        img {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    small {
        padding: 0;
        font-size: 18px;
    }

    .upper {
        height: 450px;
        background-color: rgba(0, 0, 0, 0.47);

        small {
            padding: 0;
        }
    }

    .bottom {
        height: 650px;
    }

    .bottom-abs {
        position: absolute;
        bottom: 0;
        padding: 0px 100px ;
        width: 100%;
    }
    .border{
        border: 3px solid rgba(255, 255, 255, 1);
        border-radius: 10px;
    }
    .ngx-lite-youtube{
        box-shadow: 0px 23.77px 23.77px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    .small-shadow{
        box-shadow: 0px 12.13px 12.13px 0px rgba(0, 0, 0, 0.25);

    }
    .services {
        position: relative;
        border: 1px solid #f5711a;
        border-radius: 10px;
        padding-bottom: 10px;
        width: 100%;
        .icon {
            text-align: left;
            padding: 30px 0 1px 12px;
        }
        h2{
            margin-top: 10px;
            text-align: left;
        }
        .text{
            font-size: 12px;
            line-height: 14px;
            text-align: left;
            margin-left: 10px;
        }
        .count {
            position: absolute;
            top: 0;
            right: 0;
            padding: 7px 14px;
            background: rgba(245, 113, 26, 0.1);
            color: rgba(249, 117, 30, 1);
            border-top-right-radius: 10px;
            font-weight: 600;
            font-size: 21px;
        }
    }
}
