.banner_image {
  width: 100%;
  height: clamp(460px, 30vw, 588px);
  object-fit: cover;
  display: block;
}
.card {
  border: 0.94px solid #f9751e;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-inline: 40px;
}
.banner-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  padding: 0 15px;
  width: 100%;
  max-width: 90%;
  z-index: 1;
  line-height: 1.3;
}
.about-rishikesh-section {
  background: #f8eed8;
  padding: 40px;
  margin-bottom: 12px;
  align-items: center;

  & .imageback {
    width: 100%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    min-height: 320px;
    -webkit-box-shadow: 6px 6px 0px 0px var(--tw-primary-light);
    -moz-box-shadow: 6px 6px 0px 0px var(--tw-primary-light);
    box-shadow: 6px 6px 0px 0px var(--tw-primary-light);
    max-height: 380px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-height: 380px;
    }
  }

  @media screen and (max-width: 767px) {
    .imageback {
      min-height: 200px;
    }
    .aboutImage {
      margin-bottom: 20px !important;
    }
  }
}
@media only screen and (min-width: 768px) {
  .banner_image {
    height: auto;
    aspect-ratio: 7/3;
  }
}
.taniya-corner {
  position: absolute;
  bottom: 28px;
  right: 62px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  @media (max-width: 768px) {
    right: 0;
    left: 10px;
  }
}
.pVideo {
  width: 30%;
  height: auto;
  @media (max-width: 768px) {
    width: 90%;
  }
}
.ready-title {
  font-size: 1.8rem;
  color: #d35400;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}
