<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card border-0 mt-3">
        <div class="card-body">
          <h4 class="card-title text-center text-uppercase">Order Summary</h4>
          <ul class="list-group text-white">
            <li class="list-group-item">
              <div class="row align-items-center">
                <div class="col">
                  <span> {{ courseList?.coursetitle }}</span>
                </div>
                <div class="col-auto" *ngIf="amount > 0">
                  <span class="h4">
                    <strong [ngClass]="isDiscounted ? 'old-price' : ''">{{
                      amount | currency : checkData.currency
                    }}</strong>
                  </span>
                  <span class="h4">
                    <strong *ngIf="isDiscounted">{{
                      offerAmount | currency : checkData.currency
                    }}</strong>
                  </span>
                </div>
              </div>

              <!-- <div
                *ngIf="slug === 'pranic-purification'"
                class="row align-items-center"
              >
                <div class="col">
                  <span> 24th July to 29th July</span>
                </div>
                <div class="col-auto">
                  <span class="h6"
                    ><strong>7:30 AM to 8:30 AM</strong></span
                  >
                </div>               
              </div>
               -->
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Checkout</h2>
      <div class="check-user">
        <div class="mb-3">
          <label for="email">Email<span style="color: red">*</span></label>
          <input
            type="email"
            class="form-control"
            id="email"
            (change)="checkEmail($event)"
            [(ngModel)]="checkData.email"
            placeholder="Enter your email"
            (blur)="checkCouponCode()"
            (keyup)="inputValidation('email')"
          />
          <div *ngIf="emailSuggestion" class="text-danger">
            {{ emailSuggestion }}
          </div>
          <div *ngIf="emailRequired" class="text-danger">
            {{ emailRequired }}
          </div>
        </div>
        <div
          class="mb-3"
          *ngIf="
            slug === 'pranic-purification' ||
            (!oldStudent && slug !== 'pranic-purification')
          "
        >
          <label for="name">Name<span style="color: red">*</span></label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="checkData.name"
            placeholder="Enter your Name"
            (keyup)="inputValidation('name')"
          />
          <div *ngIf="nameRequired" class="text-danger">
            {{ nameRequired }}
          </div>
        </div>
        <div>
          <label for="name"
            >WhatsApp Number<span style="color: red">*</span></label
          >
          <br />
          <ngx-intl-tel-input
            [cssClass]="'form-control phone_input'"
            [separateDialCode]="true"
            [preferredCountries]="['in', 'us']"
            [enableAutoCountrySelect]="true"
            [enablePlaceholder]="true"
            [searchCountryFlag]="true"
            [searchCountryField]="searchFields"
            [selectFirstCountry]="false"
            [selectedCountryISO]="CountryISO.India"
            [maxLength]="15"
            [phoneValidation]="true"
            #phoneInput="ngModel"
            required
            (input)="onPhoneInputChange(!!phoneInput.valid)"
            [(ngModel)]="checkData.phoneNumber"
            (countryChange)="onCountryChange($event)"
            (keyup)="inputValidation('phone')"
          >
          </ngx-intl-tel-input>
          <br />
          <div *ngIf="phoneError" class="text-danger mt-1">
            {{ phoneError }}
          </div>
          <div *ngIf="phoneRequired" class="text-danger mt-1">
            {{ phoneRequired }}
          </div>
          <br />
        </div>
        <div class="mb-3" *ngIf="slug !== 'pranic-purification'">
          <label for="package">Package<span style="color: red">*</span></label>
          <select
            class="form-control"
            name="package"
            [(ngModel)]="checkData.package"
            (change)="setPrice($event)"
          >
            <option value="">Select Package</option>
            <option value="Basic">Basic</option>
          </select>
          <div *ngIf="packageRequired" class="text-danger">
            {{ packageRequired }}
          </div>
        </div>
        <div class="mb-3">
          <label for="currency"
            >Payment Currency<span style="color: red">*</span></label
          >
          <select
            class="form-control"
            name="package"
            [(ngModel)]="checkData.currency"
            (change)="priceConvert($event)"
          >
            <option *ngFor="let option of currencyOptions" [value]="option">
              {{ option }}
            </option>
          </select>
          <div *ngIf="currencyRequired" class="text-danger">
            {{ currencyRequired }}
          </div>
        </div>
        <div class="mb-3" *ngIf="slug == 'pranayama-course-online-pranarambha'">
          <label for="refferal"
            >Refferal Code (Use the referral code you received when purchasing
            Pranayama Sadhana.)</label
          >
          <input
            type="text"
            class="form-control"
            id="refferal"
            [(ngModel)]="checkData.code"
            placeholder="Enter refferal code"
            (blur)="checkDiscount()"
          />
          <div *ngIf="codeError" class="text-danger">
            {{ codeError }}
          </div>
        </div>
        <div class="mb-3" *ngIf="slug === 'pranic-purification'">
          <label for="name">Address</label>
          <input
            type="text"
            class="form-control"
            id="address"
            [(ngModel)]="checkData.address"
            placeholder="Enter Address"
          />
        </div>
        <div class="d-flex w-100 justify-content-start gap-3 mt-3">
          <a
            href="javascript:void(0)"
            style="border-color: #f9751e"
            class="payment-button"
            (click)="checkoutData(checkData, true)"
          >
            <img
              src="assets/razor.svg"
              alt="Razorpay"
              width="128"
              height="32"
            />
          </a>

          <!-- <a
            href="javascript:void(0)"
            style="border-color: #f9751e"
            class="payment-button"
            (click)="checkoutData(checkData, false)"
          >
            <img
              src="https://my-s3-images-bucket.s3.us-east-1.amazonaws.com/images/stripe.png"
              alt="Stripe"
              width="128"
              height="35"
            />
          </a> -->
          <a
            href="https://www.paypal.me/yogavidyafoundation"
            style="border-color: #f9751e"
            class="payment-button"
            target="_blank"
          >
            <img
              src="https://my-s3-images-bucket.s3.us-east-1.amazonaws.com/images/paypal.png"
              alt="PayPal"
              width="128"
              height="30"
            />
          </a>
        </div>

        <h3 class="text-uppercase mt-3">Payment Instructions:</h3>
        <!-- <h5 class="disclaimer text-uppercase mt-3">
          International Users should use Stripe for payment.
        </h5>
        <h5 class="disclaimer text-uppercase mt-3">
          Indian Users should use Razorpay For UPI payment
        </h5> -->
        <h5 class="disclaimer text-uppercase mt-3">
          If you are using PayPal for payment, please upload the screenshot of
          the payment in the WhatsApp group
        </h5>
      </div>
    </div>
  </div>
</div>
