<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card border-0 mt-3">
        <div class="card-body">
          <h4 class="card-title text-center text-uppercase">Order Summary</h4>
          <ul class="list-group text-white">
            <li class="list-group-item">
              <div class="row align-items-center">
                <div class="col">
                  <span> {{ courseList?.coursetitle }}</span>
                </div>
                <div class="col-auto">
                  <span class="h4"
                    ><strong>{{ price }}</strong></span
                  >
                </div>
              </div>

              <div *ngIf="slug === 'pranic-purification'" class="row align-items-center">
                <div class="col">
                  <span> {{ formattedPranicDate }}</span>
                </div>
                <div class="col-auto">
                  <span class="h6"
                    ><strong>{{ pranicDuration }}</strong></span
                  >
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <h4 *ngIf="slug === 'pranic-purification'" class="card-title text-center text-uppercase mt-5 mb-3">Payment in USD (Foreign Account Holder)</h4>
      <div *ngIf="slug === 'pranic-purification'" class="paypal-logo text-center">
        <a href="https://www.paypal.me/yogavidyafoundation">
          <img
            src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png"
            alt="paypal"
            class="img-fluid"
          />
        </a>
      </div>
      <h5 *ngIf="slug === 'pranic-purification'" class="disclaimer text-uppercase mt-3">NOTE: If you are using PayPal for payment, please upload the screenshot of the payment in the WhatsApp group</h5>
    </div>
    <div class="col-md-6">
      <h2>Checkout</h2>

      <div class="check-user">
        <div class="">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control mb-3"
            id="email"
            (change)="checkEmail($event)"
            [(ngModel)]="checkData.email"
            placeholder="Enter your email"
          />
        </div>

        <!-- <div>
          <label for="package">Payment Mode</label>
          <select
            class="form-control mb-3"
            name="package"
            [(ngModel)]="checkData.mode"
            (change)="setMode($event)"
          >
            <option value="undefined">Select Payment Mode</option>
            <option value="CC">CC Avenue</option>
            <option value="STRIPE">Stripe</option>
          </select>
        </div> -->

                


        <div class="" *ngIf="slug === 'pranic-purification' || (!oldStudent && slug !== 'pranic-purification')">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control mb-3"
            id="name"
            [(ngModel)]="checkData.name"
            placeholder="Enter your Name"
          />
        </div>

        <div class="" >
          <label for="name">WhatsApp Number</label> <br/>
          <ngx-intl-tel-input
                        [cssClass]="'form-control phone_input'"
                        [separateDialCode]="true"
                        [preferredCountries]="['in', 'us']"
                        [enableAutoCountrySelect]="true"
                        [enablePlaceholder]="true"
                        [searchCountryFlag]="true"
                        [searchCountryField]="searchFields"
                        [selectFirstCountry]="false"
                        [selectedCountryISO]="CountryISO.India"
                        [maxLength]="15"    
                        [phoneValidation]="true"
                        #phoneInput="ngModel"
                        required
                        (input)="onPhoneInputChange(!!phoneInput.valid)"                 
                        [(ngModel)]="checkData.phoneNumber"                        
                        (countryChange)="onCountryChange($event)"
                         >
          </ngx-intl-tel-input><br/>
                      <div *ngIf="phoneError" class="text-danger mt-1">
                        {{ phoneError }}
                      </div><br/>
          <!-- <input
            type="text"
            class="form-control mb-3"
            id="phoneNumber"
            [(ngModel)]="checkData.phoneNumber"
            placeholder="Enter WhatsApp Number with country code"
          /> -->
        </div>

        
        <div *ngIf="slug !== 'pranic-purification'">
          <label for="package">Package</label>
          <select
            class="form-control mb-3"
            name="package"
            [(ngModel)]="checkData.package"
            (change)="setPrice($event)"
          >
            <option value="">Select Package</option>
            <option value="Basic">Basic</option>
            <!-- <option value="Standard">Standard</option>
            <option value="Premium">Premium</option> -->
          </select>
        </div>

        <div>
          <label for="package">Payment Currency</label>
          <select
            class="form-control mb-3"
            name="package"
            [(ngModel)]="checkData.currency"
            (change)="priceConvert($event)"
          >
             <option *ngFor="let option of currencyOptions" [value]="option">{{ option }}</option>
          </select>
        </div>
        <div *ngIf="slug === 'pranic-purification'">
          <label for="name">Address</label>
          <input
            type="text"
            class="form-control mb-3"
            id="address"
            [(ngModel)]="checkData.address"
            placeholder="Enter Address"
          />
        </div>
        <div class="d-flex w-100 justify-content-start gap-3 mt-3">
          <a
            href="javascript:void(0)"
            style="background-color: #f9751e"
            class="btn btn-primary w-40 border-0"
            (click)="checkoutData(checkData, false)"
          >
            Pay with Stripe
          </a>
          <a
            href="javascript:void(0)"
            style="background-color: #f9751e"
            class="btn btn-primary w-40 border-0"
            (click)="checkoutData(checkData, true)"
          >
            Pay with Razorpay
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
