.modal-header {
  position: relative;
}




.btn-close {
  position: absolute;
  top: -.8rem;
  right: -.3rem;
  width: 1.6rem;
  /* Adjust width as needed */
  height: 1.6rem;
  /* Adjust height as needed */
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 0.5rem;
  z-index: 10;
}

.modal-body {
  padding: 0% ! important;
  color: #fff;
}


.course-img-div {
  width: 320px;
}

.card {
  color: white;
  background: #186572;
  border-color: #186572 !important;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.card-title{
  display:inline-block;
  -webkit-transform:scale(1.2,1); /* Safari and Chrome */
  -moz-transform:scale(1.2,1); /* Firefox */
  -ms-transform:scale(1.2,1); /* IE 9 */
  -o-transform:scale(1.2,1); /* Opera */
  transform:scale(1.2,1); /* W3C */
  font-weight: bold;
  display:inline-block; 
  font-size: 25px;
  margin-left: 26px;
}


.card-title ::after{
  display: inline-block;
  width: 100%;
}

.card-text{
  margin-left: 15px;
  margin-bottom: 1.2rem;
}

.course-btn {
  background-color: #d22548;
  border: 1px white;
}

.card-text span{
 font-weight: bolder;
 font-size: 20px;
}

.card-text{
  font-size: 14px;
  font-weight: 500;
}

.card-subtitle{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: .5rem;
}

.card-body{
  padding: 0px !important;
}
.course-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.modal-header {
  padding: 0.3rem ! important;
}

.btn-close::before {
  font-size: 1.5rem;
  /* Adjust font size as needed */
  color: #186572;
  /* Color of the close icon */
  line-height: 2rem;
  /* Center the icon vertically */
  text-align: center;
  z-index: 10;
}

@media only screen and (max-width: 768px) {
  .course-img-div {
    width: 75vw;  
  }

  .card-title{
    font-size: 16px;
    margin-left: 10px;
  }

  .card-text{
    font-size: 12px;
  }

  .card-text span{
    font-size: 15px;
   }
   .card-subtitle{
    font-size: 13px;
  }
}