<section class="banner-section">
  <div class="row">
    <div class="col-md-6">
      <div class="banner-text">
        <small>Best Yoga School In Rishikesh</small>
        <h2>Awaken Your Inner Yogi:</h2>
        <h2> Rishikesh's Acclaimed Haven for Yoga Mastery</h2>
        <div class="banner-desc my-4">Discover Rishikesh's tranquil embrace, nurturing yoga mastery. Embrace serene landscapes, sacred rivers, and renowned gurus for soulful transformation.</div>
      </div>
      <div>
        <a href="#" class="button">Enroll Now</a>
        <a href="#" class="video-button"><i class="fas fa-play"></i> Enroll Now</a>
      </div>
      <div class="free-ad">
        <div>
          <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/right-tick.png" class="img-fluid" alt="Banner Image" /> 3- Days Free Trial
        </div>
        <div>
          <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/right-tick.png" class="img-fluid" alt="Banner Image" /> 2- Days Free Trial
        </div>
        <div>
          <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/right-tick.png" class="img-fluid" alt="Banner Image" /> 2- Days Free Trial
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="slider">
        <div class="inner">
          <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/slider1.png" class="img-fluid" alt="Banner Image" />
        </div>
      </div>
    </div>
  </div>
</section>
