<!-- about.component.html -->

<section class="about-rishikesh-section py-5">
  @if(slug == routeEnum.pranicPurification || slug==routeEnum['200TTC']){
  <div class="mb-3">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <small class="p-0">Yoga Vidya Present's</small>
      <h1 style="text-align: center">
        {{ this.aboutContent.title }}
        <span>{{ this.aboutContent.secondTitle }}</span>
      </h1>
      <h4 *ngIf="this.aboutContent.subTitle">
        {{ this.aboutContent.subTitle }}
      </h4>
      <p *ngIf="this.aboutContent.subTitle1">
        <strong>{{ this.aboutContent.subTitle1 }}</strong>
      </p>
      @if(slug==routeEnum['200TTC']){
      <app-world-clock
        [date]="date"
        [startTime]="startTime"
        [endTime]="endTime"
      ></app-world-clock>
      }
    </div>
    <div class="image-container">
      <img
        src="{{ this.aboutContent.image }}"
        [style]="
          slug == routeEnum.pranicPurification ? 'transform: scaleX(-1);' : ''
        "
        class="img-fluid pranic-purification-img"
        alt="{{ this.aboutContent.title }} {{ this.aboutContent.secondTitle }}"
      />
    </div>

    <div class="position: relative; z-index: 1;">
      <div>
        <div [innerHTML]="this.aboutContent.desc"></div>
      </div>
    </div>
  </div>
  } @else{
  <div class="row mb-3 align-items-center">
    <div class="col-md-6">
      <div class="imageback">
        <img
          src="{{ this.aboutContent.image }}"
          class="img-fluid"
          alt="{{ this.aboutContent.title }} {{
            this.aboutContent.secondTitle
          }}"
        />
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <div>
        <small
          class="text-left p-0"
          *ngIf="
            slug != routeEnum.rishikesh100 &&
            slug != routeEnum.rishkesh200 &&
            slug != routeEnum.rishikesh300
          "
          >Yoga Vidya Present's</small
        >
        <h1>
          {{ this.aboutContent.title }}
          <span>{{ this.aboutContent.secondTitle }}</span>
        </h1>
        <div *ngIf="this.aboutContent.subTitle" class="col-12">
          <h4>
            {{ this.aboutContent.subTitle }}
          </h4>
        </div>

        <div [innerHTML]="this.aboutContent.desc"></div>
      </div>
    </div>
  </div>
  }
  <div class="row mb-5" *ngIf="slug == routeEnum.rishikesh300">
    <div class="col-md-6 align-items-center">
      <div>
        <h2>
          <span>Deeper Your Yoga Practice and Advance Your Yoga Teachings</span>
        </h2>
        <div>
          <p>
            If you’ve already completed your 200-Hour Yoga Teacher Training,
            attended workshops, or studied with other schools, our
            <b>300-Hour Advanced Yoga Teacher Training</b> in Rishikesh is your
            next step.
          </p>
          <p>
            This immersive program will refine your alignment, deepen your
            understanding of yoga philosophy, and elevate your teaching skills
            so you can guide students with confidence, clarity, and
            authenticity.
          </p>
          <p>
            We meet you exactly where you are and help you grow beyond your
            current limits—whether that means developing a stronger personal
            practice, mastering advanced asanas, or refining the way you
            structure and deliver your classes.
          </p>
          <p>
            At Yoga Vidya School, we believe your teaching is a reflection of
            your inner practice and the way you live yoga on and off the mat.
            Our 300-hour training will empower you to embody the qualities of a
            dedicated practitioner and a truly inspiring teacher.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="imageback">
        <img
          src="https://my-s3-images-bucket.s3.amazonaws.com/img/image_1721830582388.jpeg"
          class="img-fluid"
          alt="{{ this.aboutContent.title }} {{
            this.aboutContent.secondTitle
          }}"
        />
      </div>
    </div>
  </div>
  <div class="row" *ngIf="slug == routeEnum.rishikesh300">
    <div class="col-md-6">
      <div class="imageback">
        <img
          src="https://my-s3-images-bucket.s3.amazonaws.com/img/image_1696590613162.jpeg"
          class="img-fluid"
          alt="{{ this.aboutContent.title }} {{
            this.aboutContent.secondTitle
          }}"
        />
      </div>
    </div>

    <div class="col-md-6 align-items-center">
      <div>
        <h2>
          <span>Who This Training is For</span>
        </h2>
        <div>
          <b
            >Our 300-Hour YTT is designed for yoga practitioners and teachers
            who:</b
          >
          <ul style="list-style: none">
            <li>
              1. Have completed a 200-Hour YTT and wish to gain deeper knowledge
              of yoga science.
            </li>
            <li>
              2. Want to expand their understanding of
              <b>Yoga Philosophy, Anatomy, and Biomechanics</b>.
            </li>
            <li>
              3. Are ready to explore advanced asanas, pranayama, meditation,
              and yoga nidra in depth.
            </li>
            <li>
              4. Seek to build more confidence, presence, and skill in teaching
              yoga.
            </li>
            <li>
              5. Aim to lead intermediate and advanced-level classes with ease.
            </li>
            <li>
              6. Are on the path to becoming <b>RYT-500 certified</b> and
              committed to sharing yoga with authenticity and heart.
            </li>
          </ul>
        </div>
      </div>
    </div>
    @if(slug !== routeEnum.rishikesh300){
    <div class="text-center mt-5">
      <a href="/book-now" class="button">Enroll In The Course </a>
    </div>
    }
  </div>
</section>
