<section class="cooperate-section py-5 section-fower">
  <div>
    <img
      loading="lazy"
      alt="Not Loaded"
      [src]="s3Bucket.flower"
      class="flower-img"
    />
  </div>
  <h2>Our Best <span>Yoga Destinations</span></h2>
  <h3 class="small-head">
    ENJOY COMPLETE &
    <span> BEST QUALITY<br />COOPERATION </span>
  </h3>
  <div class="row contentPart">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="destination" id="destination-bg2">
        <div class="inner">
          <h3>Yoga In Rishikesh</h3>
          <p>
            Known as the World Capital of Yoga and Meditation, Rishikesh is the
            most popular destination when it comes to practice and learn Yoga.
            This historic and religious town in the foothills of the Himalayas
            has been home to numerous seekers, yogis, saints and celebrities who
            wanted to search their inner-self. We offer Yoga Retreats and Yoga
            Teacher Training in Rishikesh in a beautiful venue surrounded by
            Himalayan forest and spectacular views.
          </p>
          <a href="/get-certified-in-rishikesh">Explore More ></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="destination">
        <div class="inner">
          <h3>Yoga In Bali</h3>
          <p>
            Bali,with its beautiful beaches and exotic temples, has every kind
            of natural beauty that makes it the best place to practice and learn
            Yoga. The wonderful mix of ancient culture, art, spirituality,
            pleasant weather and healthy food will relax your body, mind and
            spirit deeply, ensuring every moment of your yoga teacher training
            or yoga retreat a magical experience
          </p>
          <a href="/get-certified-in-bali ">Explore More ></a>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</section>
