<section class="cooperate-section py-5 section-fower">
  <div>
    <img
      loading="lazy"
      alt="Not Loaded"
      [src]="s3Bucket.flower"
      class="flower-img"
    />
  </div>
  <h2>Our Best <span>Yoga Destinations</span></h2>
  <h3 class="small-head">
    ENJOY COMPLETE &
    <span> BEST QUALITY<br />COOPERATION </span>
  </h3>
  <div class="row contentPart">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="destination" id="destination-bg2">
        <div class="inner">
          <h3>Yoga In Rishikesh</h3>
          <p>
            Known as the World Capital of Yoga and Meditation, Rishikesh is the
            most popular destination when it comes to practice and learn Yoga.
            This historic and religious town in the foothills of the Himalayas
            has been home to numerous seekers, yogis, saints and celebrities who
            wanted to search their inner-self. We offer Yoga Retreats and Yoga
            Teacher Training in Rishikesh in a beautiful venue surrounded by
            Himalayan forest and spectacular views.
          </p>
          <a href="/get-certified-in-rishikesh">Explore More ></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="destination">
        <div class="inner">
          <h3>Yoga In Bali</h3>
          <p>
            Bali,with its beautiful beaches and exotic temples, has every kind
            of natural beauty that makes it the best place to practice and learn
            Yoga. The wonderful mix of ancient culture, art, spirituality,
            pleasant weather and healthy food will relax your body, mind and
            spirit deeply, ensuring every moment of your yoga teacher training
            or yoga retreat a magical experience
          </p>
          <a href="/get-certified-in-bali ">Explore More ></a>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</section>
<section class="second-part">
  <div class="text-center">
    <img
      loading="lazy"
      alt="Not Loaded"
      [src]="s3Bucket.flower"
      class="flower-img"
    />
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2><span>Why should you become a Teacher at Yoga Vidya?</span></h2>
      <div class="rhetorical-part">
        <p>
          At Yoga Vidya, we share the knowledge just as it was passed down to
          us: pure, rooted in the scriptures, with devotion and respect.
          Studying with Prashant and his team of professionals will allow you to
          immerse yourself in an authentic tradition.
        </p>
        <p>
          Living the experience in a spiritual environment will connect you not
          only with technique, but with the true purpose of yoga:
          <b>self-knowledge, inner harmony, and service to others</b>. Our
          trainings are transformative—both personally and professionally.
        </p>
        <p>
          Because we want yoga to reach more hearts, we created
          <b>Yoga Vidya in Spanish</b>, a space where you can train in your own
          language without losing authenticity or tradition. <br />
          <b>Your Yoga home</b>.
        </p>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <h2>Acharya Prashant J</h2>
      <div class="row mt-4">
        <div class="col-md-6">
          <div class="imageback">
            <img
              [src]="s3Bucket.prashantIndexAbout"
              class="img-fluid"
              loading="lazy"
              alt="about"
            />
          </div>
        </div>
        <div class="col-md-6 prashant-part">
          <div class="rhetorical-part">
            <p>
              Acharya Prashant Jakhmola began his journey in yoga at the age of
              17 at the Sivananda Yoga Ashram, drawn—like many—by a desire for
              physical well-being. Over time, he trained deeply and became a
              highly respected teacher in India and the founder of Yoga Vidya
              School in 2014. He currently leads both in-person and online
              training programs, sharing his knowledge with depth, humility, and
              a transformative vision.
            </p>
            <button class="button" (click)="goToPage()">
              Meet Acharya Prashant J
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
