<section class="meet-section py-5">
  <div><img src="https://my-s3-images-bucket.s3.amazonaws.com/img/flower-color.png" class="flower-img" alt="Meet With" /></div>
  <small>Meet With</small>
  <h2><span>Acharya Prashant Jakhmola Ji</span></h2>
  <div class="video my-2 py-2">
    <iframe
    loading="lazy"
    width="890"
    height="470"
      src="https://www.youtube.com/embed/vPD1NGMY_8E?si=PZ1aqfhF5s0UKkaA"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
  <div class="my-5">
    <p>
      Introducing Acharya Prashant Jakhmola, an unconventional yet deeply rooted
      yoga guru and one of the most popular yoga teachers on Youtube. As the
      founder of Yoga Vidya School in Rishikesh, India, Acharya Prashant
      embodies the timeless wisdom of traditional yoga while embracing
      innovative approaches to practice and teaching. With easy and detail
      explanations, Prashant’s teaching techniques focus on fostering a profound
      connection with the body and spirit guiding his students towards the path
      of correct authentic practices and positive mind body transformation. The
      bond with his students is evident from his quality teachings and clear
      communication with the students, ensuring deep attention to the needs of
      each student.
    </p>
    <p>
      The Acharya meticulously imparts ancient teachings with a modern
      perspective, ensuring their relevance and applicability in contemporary
      life. Acharya Prashant's dedication to preserving traditional wisdom is
      evident in his reverence for yoga philosophy, meditation, and the
      teachings of Maharishi Patanjali’s yoga sutras and Bhagavad Gita. Through
      his nurturing guidance, he inspires students to delve deeper into the
      essence of yoga, ostering personal health and spiritual evolution
    </p>
    <p class="bold">
      Hatha | Ashtanga | Pranayama | Adjustment & Alignment | Philosophy
    </p>
  </div>
  <div><a href="/yoga-teacher/acharya-prashant-jakhmola/prashantjyoga" class="button">Read More About Acharya Prashant J</a></div>
</section>
