<app-banner></app-banner>
<section class="aboutUs patern-bg2">
  <div class="container">
    <!-- <div class="row">
      <div class="col-12">
        <div class="iframeContainer shadow">
          <iframe
            src="https://www.youtube.com/embed/5jQ6hbWA_7Q"
            title="YouTube video player"
            loading="lazy"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div> -->
    <div class="row mt-4">
      <div class="col-lg-6">
        <img
          loading="lazy"
          [src]="s3Bucket.aboutWritten1"
          class="w-100"
          alt="about-us"
        />
      </div>

      <div class="col-lg-6">
        <img
          loading="lazy"
          [src]="s3Bucket.aboutWritten2"
          class="w-100"
          alt="about-us"
        />
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-6">
        <p>
          Knowledge gives humbleness, humbleness makes us capable or worthy.
          Through worthiness or capability one gets wealth, with this wealth one
          can do good deeds or accomplish various social work, which is one’s
          dharma or religion, that gives extreme happiness and satisfaction.
        </p>
        <h2>Why Yoga Vidya School?</h2>
        <p>
          The above Shloka explains the true meaning of ‘Vidya,’ a Sanskrit word
          for Knowledge. The knowledge of Yoga gives inner peace and liberty and
          thats what inspired us to create Yoga Vidya School – the place of
          peace and liberty with meaningful practice of Yoga.
        </p>
        <p>
          Yoga Vidya School is the traditional Yoga And Vedanta school based in
          Rishikesh, follows two Yogic traditions:
        </p>
        <ul>
          <li><b> Swami Satyananda Saraswati (Bihar School of Yoga)</b></li>
          <li>
            <b> T Krishnamacharya and K Pattabhi Jois (Ashtanga Vinyasa)</b>
          </li>
        </ul>
        <p>
          The theoretical subjects are inspired and based on Vedantic philosophy
          by Shankaracharya Vedanta, in addition, we cover philosophies of
          Bhagavad Gita, Patanjali Yoga Sutra, Hatha Pradipika, Upanishads, etc.
        </p>
        <p>
          Our yoga training modules let the students gain the practical and
          philosophical knowledge of Hatha Yoga and Ashtanga Vinyasa both.
        </p>
      </div>
      <div class="col-lg-6">
        <div class="image_box">
          <img loading="lazy" [src]="s3Bucket.about1" alt="about-us" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="certifiedYoga patern-bg2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center mb-5">The Paths of Learning We Share</h2>
      </div>
      <div class="col-lg-6">
        <p>
          Our school emphasise on all round development of the students’ life.
          So we based our teaching process on three pillars, named as
          “triangular pyramid teaching”
        </p>
        <p style="text-align: left" class="bottommargin-sm">
          <strong
            ><em>These pillars are:</em>&nbsp;&nbsp;Learn, Experience and
            Share.</strong
          >
        </p>
        <p style="text-align: left" class="bottommargin-sm">
          Every student of the Yoga Vidya community has to step seriously into
          all these pillars to become a dedicated Practitioner and experienced
          Teacher.<br />
          <br />
          Whether you are an intermediate yoga practitioner or an experienced
          yoga instructor looking to master the art of teaching advanced yoga
          postures or a beginner Yoga enthusiast, We cater all your
          requirements.
        </p>
        <p>
          Yoga Alliance Certified
          <a title="100 Hour">100 Hour</a>, <a title="200 Hour">200 Hour</a>,
          <a title="300 Hour">300 Hour</a>
          and 500 Hour Yoga Teacher Training,
          <a title="Pranayama Therapy">Pranayama Therapy</a>, Specialisation of
          <a title="Alignment &amp; Adjustments">Alignment &amp; Adjustments</a>
          of Asana,
          <a title="Breath Detox">Breath Detox</a>, Chakra Marathon, Yoga
          Darshan, Pranayama Sadhna, Ashtanga Sadhana and more...
        </p>
      </div>
      <div class="col-lg-6">
        <div class="centerMid">
          <img
            loading="lazy"
            [src]="s3Bucket.about2"
            alt="about-us"
            class="w-100 shadow"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ourMission patern-bg2">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center">
        <img
          loading="lazy"
          alt="flower"
          [src]="s3Bucket.flower"
          class="flower-img"
        />
      </div>
      <div class="col-12">
        <h2 class="text-center">Our Mission in all Yoga Destinations</h2>
        <p>
          Our mission is to bring out the ancient practices of yoga from the
          <strong>Upanishads</strong> and the <strong>Shastras</strong> into the
          World. So the practitioners can practice these hidden techniques to
          uplift their lifestyle. A lifestyle which is described in the ancient
          Yoga Scriptures, A way of living to achieve holistic health and
          happiness, balancing the physical, mental and spiritual development.
          To spread this knowledge, we work on creating dedicated yoga teachers
          through various yoga courses and events. The experiences and the
          knowledge of our yoga guru’s are conveyed through these yoga courses
          to yoga sadhaka(the practitioners), and so the yoga exercises are
          learned and conveyed to others in its authentic form by yoga
          practitioners.
        </p>

        <h2 class="text-center">What Will You Get in Yoga Vidya School ?</h2>
        <p>
          We believe yoga is a path that needs discipline and regularity and
          proper guidance. Our guests or students can find these three
          ingredients in all the yoga programs at all locations. Our aim is to
          make our students understand the real purpose of yoga. You can get
          short term Yoga, Meditation, Pranayama and Spiritual Retreats,
          Workshops, Therapies and long term courses like Yoga Teacher Training
          and Yoga Sadhanas. These programs are available online as well as
          Offline with Residential facilities.
        </p>
        <h5>
          There are numerous benefits you will get in Yoga Vidya School such as:
        </h5>

        <ul>
          <li><i class="icon-ok-sign"></i>A healthy yogic lifestyle</li>
          <li><i class="icon-ok-sign"></i>Leadership quality and strength</li>
          <li><i class="icon-ok-sign"></i>Willpower and Confidence</li>
          <li><i class="icon-ok-sign"></i>Focus and Regularity</li>
          <li>
            <i class="icon-ok-sign"></i>Creativity and Control on Thoughts
          </li>
          <li><i class="icon-ok-sign"></i>Blissful Feeling Inside Outside</li>
          <li><i class="icon-ok-sign"></i>Community of Like-minded People</li>
        </ul>

        <h2 class="text-center">Improve Your Yoga and Life at Yoga Vidya School</h2>
        <p>
          We believe there are two ways of improving your yoga practices:<strong
            >Continuous Practice</strong
          >and <strong>Staying Connected</strong>to the Roots of Wisdom. When a
          yoga aspirant comes to us, he or she strengthens his or her yoga
          practice through unbreakable consistency of yoga practice, guided by
          the experienced teachers. In this practice of yoga, one can learn even
          those nuances which are essential for an experienced yoga
          practitioner.
        </p>
        <p>
          At Yoga Vidya School, a yoga practitioner gets regular and updated
          knowledge, methods and guidance by experienced teachers to continue
          his or her growth and preserve the practice.We always make sure that
          you will not only grow physically but also on every level of growth
          including mental, spiritual and social.
        </p>
        <p>
          The result, after joining Yoga Vidya School in India, a person begins
          to think of herself/himself as part ofsupreme consciousness, which
          makes her or him stand out in the society.
        </p>
      </div>
    </div>
  </div>
</section>
