<!-- about.component.html -->

<section class="workshop-section">
  <div class="row">
    <div class="col-md-12">
      <div>
        <img
          [src]="s3Bucket.flowerWhite"
          loading="lazy"
          alt="Not Loaded"
          class="flower-img"
        />
      </div>
      <h2 class="text-white">What We Offer At Yoga Vidya School</h2>
      <!-- <small class="text-white"
        >Lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit amet.
      </small>
      <small class="text-white">Ipsum dolor sit amet consectetur adipiscing.</small> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 workshop" *ngFor="let item of offers">
      <div class="row">
        <div class="col-md-12">
          <div class="heading text-center">{{ item.boxHeading }}</div>
        </div>
        @for(itemBody of item.boxBody; track itemBody.titleBox) {
        <div class="details">
          <div class="inner-details">
            <div class="row">
              <div class="col-md-8">
                <h2>{{ itemBody.titleBox }}</h2>
                <small>{{ itemBody.paraBox }} </small>
                <div class="list">
                  <img
                    loading="lazy"
                    alt="Not Loaded"
                    [src]="s3Bucket.calender"
                  />
                  <div>{{ itemBody.dateTimeBox }}</div>
                </div>
                <div class="list">
                  <img
                    loading="lazy"
                    alt="Not Loaded"
                    [src]="s3Bucket.person"
                  />
                  <div>Duration : {{ itemBody.durationBox }}</div>
                </div>
                @if(itemBody.paraBox2){
                <small>{{ itemBody.paraBox2 }} </small>
                <div class="list">
                  <img
                    loading="lazy"
                    alt="Not Loaded"
                    [src]="s3Bucket.calender"
                  />
                  <div>{{ itemBody.dateTimeBox2 }}</div>
                </div>
                <div class="list">
                  <img
                    loading="lazy"
                    alt="Not Loaded"
                    [src]="s3Bucket.person"
                  />
                  <div>Duration : {{ itemBody.durationBox2 }}</div>
                </div>
                <div class="but">
                  <a
                    href="{{ itemBody.url }}"
                    class="text-white text-decoration-none"
                  >
                    Explore more details<img
                      loading="lazy"
                      alt="Not Loaded"
                      [src]="s3Bucket.whiteArrow"
                    />
                  </a>
                </div>
                }
              </div>
              <div class="col-md-4">
                <img [src]="itemBody.imgBox" alt="img" class="trainer-img" />
              </div>
            </div>
          </div>
        </div>
        <br />
        }
      </div>
    </div>
    <div class="col-md-12 text-center my-3 text-white">
      Yoga Vidya School is a leading name in the international yoga community,
      renowned for offering exceptional yoga services, classes, retreats and
      courses. We offer both online and offline programs guided by Prashant J
      Yoga and our experienced Yoga Teachers, ensuring yoga enthusiasts receive
      top-notch yogic education and personalized attention. The comprehensive
      curriculum created after through research, covers various yoga practices,
      from movements to meditations, making it easy for participants to deepen
      their understanding and enhance their practice. Whether you choose to join
      in person or virtually, Yoga Vidya School promises a transformative and
      enriching experience in the world of yoga.
    </div>
    <!-- <div class="col-md-12 text-center my-3">
      <a href="#upcoming-events" class="button-white">Our Upcoming Events</a>
    </div> -->
  </div>
</section>
