.headingBlock {
  display: flex;
  justify-content: center;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .responsiveList{
    padding-left: 45px;
  }
  .resposnsiveBali300{
    height: 30rem !important;
  }
}
