<section class="about-section section-fower">
  <div class="row mb-3">
    <div class="col-md-12 d-flex align-items-center">
      <!-- <div>
        <h1 class="text-center">Yoga Teacher Training in Rishikesh Overview</h1>
        <p>
          Calling all yoga lovers to immerse in a life-transforming Yoga Teacher Training in Rishikesh! Come and experience divinity and a blissful existence at Yoga Vidya School, a haven for some of the best yoga teacher training in Rishikesh. Our team of competent yogis and yoginis at Yoga Vidya School offer you the best guidance and expertise in authentic yoga practices. From the timeless and traditional Hatha Yoga style to the Ashtanga Yoga and Vinyasa Flow forms, we dedicatedly train students from different parts of the world at our yoga school in Rishikesh.
        </p>
        <p>
          So, whether you are a beginner or an advanced practitioner in yoga, Yoga Vidya School offers a range of Yoga TTC in Rishikesh that best suits your needs. We believe in imparting world-class education in yoga and all our yoga teacher training courses in Rishikesh are Yoga Alliance USA (RYS 200, RYS 300, RYS 500) certified. From the beginner-level 100 hour and the foundational 200-hour Yoga TTC to the more in-depth 300-hour and the blended, most advanced 500 hour Yoga TTC, Yoga Vidya School offers the best yoga courses in Rishikesh for beginners to intermediate and advanced yoga practitioners.
        </p>
        <p>
          To support niche learning requirements and cater to myriad physical, mental and spiritual needs, Yoga Vidya School also conducts retreats, workshops and other courses in yoga that help yoga practitioners enhance their skills and knowledge.
        </p>
        <p>
          Our team of dedicated Indian yoga masters and yoga professionals is spearheaded by Acharya Prashant Jakhmola, an unconventional yet deeply rooted yoga master who is a popular yoga personality on YouTube.
        </p>
        <p>
          At Yoga Vidya School, we believe in honoring Rishikesh’s legacy by offering a holistic curriculum where students learn immersive asana practices, indulge in deep meditative practices and pranayama as well as connect with their true blissful selves in yoga philosophy sessions. Our teachings are ingrained with Rishikesh’s spiritual legacy, guiding students on a transformative journey of healing, self-love and empowerment.
        </p>
      </div> -->
      <div class="row">
        <div class="col-md-12">
          <div style="position: relative">
            <div class="inner image">
              <img
                [src]="s3Bucket.hero"
                class="img-fluid banner_image"
                alt="Banner Image"
              />
              <div class="banner-text-overlay">
                Welcome To Yoga Vidya School
              </div>
              <div class="banner-subtitle-overlay">
                A journey into the roots of Yoga
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 textBlock">
          <p>
            Founded in the mystical city of Rishikesh, Yoga Vidya is the ideal
            place to immerse yourself in the authentic practice of Yoga. With
            over a decade of experience and more than 8,000 students from around
            the world, our school stands out for its traditional approach, the
            guidance of expert teachers from India, and an environment that
            fosters the exploration of practices such as Asanas, Mudras,
            Pranayama, Meditation, and the deep study of yogic philosophy.
          </p>
          <p>
            Since 2014, we have offered training programs for both beginners and
            advanced practitioners, led by Acharya Prashant Jakhmola.
          </p>
          <p>
            Our purpose is to bring the ancient wisdom of Yoga providing an
            accessible and transformative experience
          </p>
          <p>
            Here you will find both short- and long-term programs, available
            online and in person.
          </p>
          <div class="namaste">Namaste!</div>
          <div class="readMore">
            <a href="/about-us" class="button" style="margin-top: 2px"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="about-section_image__content__box">
    <div class="about-section_image__box">
      <img [src]="s3Bucket.homeAbout" alt="Yoga Vidya School" />
    </div>
    <div class="about-section_content__box">
      <small>Welcome To</small>
      <h2>Yoga Vidya School - Best Yoga School In Rishikesh</h2>
      <p>
        Welcome to Yoga Vidya School, your gateway to the ancient yogic
        practices through Yoga Teacher Training in Rishikesh, nestled in the
        serene surroundings of the world’s yoga capital Rishikesh, India. Come
        with us on a transformative journey and prepare to uplift the mind,
        body, and spirit at this sanctuary where seekers from all corners of the
        globe come together to embark on a profound experience of self-discovery
        and love. Whether you're a seasoned practitioner or a novice, our doors
        are open to all who seek healing, self-love, and their inner light
        through in-depth exploration of yoga.
      </p>
      <p>
        Immerse yourself in the rich tradition of yoga as you deepen your
        practice, learn the art of teaching, and connect with like-minded souls
        on the path to inner harmony and well-being under the guidance of
        Acharya Prashant J and a team of noted Indian yoga masters.
      </p>
      <p>
        Join us at Yoga Vidya School, recognized as the best yoga school in
        Rishikesh, India, and embark on a life-changing adventure that will not
        only enrich your personal journey but also equip you to inspire and
        guide others on their path to wellness and self-realization.
      </p>
      <div class="namaste">Namaste!</div>
      <div class=""><a href="/about-us" class="button">Read More</a></div>
    </div>
  </div> -->
</section>
