<div class="main-block">
  <div class="container head-block">
    <h2>🎁 BONUS: Get Started Now - For Free</h2>
    <h5>
      Enroll in any TTC and receive free access to two of our most powerful
      pre-recorded Pranayama courses:
    </h5>
  </div>
  <div>
    <div class="container content-block">
      <p>
        👉 <a [href]="bDtox">Breath Detox Yoga</a> - Cleanse your energy and
        reset your breath.
      </p>
      <p>
        👉 <a [href]="pranayama">Prana Arambha</a> - Build the foundation of
        your Pranayama practice
      </p>
      <h5>💡 Perfect preparation before your TTC journey begins</h5>
      <b>✨ Start now, feel the shift.</b>
    </div>
  </div>
</div>
