<style>
  .iframe-video-header-block h4 {
    margin: 10px;
  }
</style>
<main id="main">
  <!-- <section class="bread section">
    <div class="container">
      <div class="row">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
            <li class="breadcrumb-item" aria-current="page">Testimonials</li>
          </ol>
        </nav>
      </div>
    </div>
  </section> -->
  <section class="patern-bg2">
    <div class="container">
      <div class="row">
        <div class="main-icon text-center">
          <img
            src="https://my-s3-images-bucket.s3.amazonaws.com/img/flower-color.png"
            alt="YOGA TEACHER TRAINING REVIEWS AND TESTIMONIALS"
            class="img-fluid flower-img"
            width="300"
            loading="lazy"
          />
        </div>
        <div class="heading-wrapper title text-center">
          <h1 class="main-title mb-3">
            YOGA TEACHER TRAINING REVIEWS AND TESTIMONIALS
          </h1>
        </div>
        <div class="inner-testimonial-main">
          <p>
            Here are some of the testimonials, feedbacks and comments by our
            students who explain their journey and what its like to learn and
            practice yoga with Yoga Vidya School.
            <br />

            We encourage every yoga enthusiast or yoga teacher training seeker
            to first check yoga reviews or reach out to our alumni or past
            students on social networks and ask their experiences.
            <br />
            You can follow our social media channels to get connect to number of
            these students.
            <br />
            Choosing a Yoga Teacher Training in India is a tricky task,
            especially when you have never been to such intensive courses or
            places like Rishikesh – yoga capital of the world. We received many
            messages from yoga lovers around the world who were clearly
            struggling in finding the right yoga 200 hour or other yoga teacher
            training course in Rishikesh or other places in the world.
            <br />
            So, one of the best things you can do while researching for yoga
            certified yoga ttc – read or watch real yoga reviews by graduates of
            the yoga school. Google Reviews, Facebook Reviews, Personal blogs of
            yoga students are great source to understand the quality of yoga
            retreats or yoga teacher training of any yoga school in India or
            abroad.
          </p>
        </div>
      </div>
      <!-- <div class="row video">
          <div class="col-12 col-md-12">
              <div class="single col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="card text-center">
                      <iframe class="iframe-video-links" width="560" height="500" src="https://www.youtube.com/embed/jwXFYe3XpKs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <div class="content">
                          <h4 class="mb10">Victoria</h4>
                      </div>
                  </div>
              </div>

              <div class="single col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="card text-center">
                      <iframe class="iframe-video-links" width="560" height="500" src="https://www.youtube.com/embed/jwXFYe3XpKs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <div class="content">
                          <h4 class="mb10">Kam Syed</h4>
                      </div>
                  </div>
              </div>
              <div class="single col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="card text-center">
                      <iframe class="iframe-video-links" width="560" height="500" src="https://www.youtube.com/embed/jwXFYe3XpKs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                      <div class="content">
                          <h4 class="mb10">Anita Kanan</h4>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->

      <div class="iframe-main-video-container">
        <div class="iframe-videos-container">
          <div class="iframe-video-inner-blocks">
            <iframe
            loading="lazy"
              class="iframe-video-links"
              width="560"
              height="500"
              src="https://www.youtube.com/embed/B33YQ18cIwQ"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen=""
              data-gtm-yt-inspected-4="true"
            ></iframe>
          </div>
          <div class="iframe-video-header-block">
            <h4>Victoria</h4>
          </div>
        </div>

        <div class="iframe-videos-container">
          <div class="iframe-video-inner-blocks">
            <iframe
            loading="lazy"
              class="iframe-video-links"
              width="560"
              height="500"
              src="https://www.youtube.com/embed/qHDS60ssFms"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen=""
              data-gtm-yt-inspected-4="true"
            ></iframe>
          </div>
          <div class="iframe-video-header-block">
            <h4>Kam syed</h4>
          </div>
        </div>

        <div class="iframe-videos-container">
          <div class="iframe-video-inner-blocks">
            <iframe
            loading="lazy"
              class="iframe-video-links"
              width="560"
              height="500"
              src="https://www.youtube.com/embed/5cMTA8oFYs4"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen=""
              data-gtm-yt-inspected-4="true"
            ></iframe>
          </div>
          <div class="iframe-video-header-block">
            <h4>Anita Kanan</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="in-school section patern-bg2">
    <div class="container">
      <div class="row">
        <div class="main-icon text-center">
          <img
            src="https://my-s3-images-bucket.s3.amazonaws.com/img/flower-color.png"
            alt="Testimonials"
            class="img-fluid flower-img"
            width="300"
            loading="lazy"
          />
        </div>
        <div class="heading-wrapper title text-center">
          <h1 class="main-title">Testimonials</h1>

          <p>What Our Students Say</p>
        </div>
      </div>
      <div class="row text-review">
        <div class="col-lg-12 single contact-wrapper">
          <div class="row align-items-center">
            <div class="col-lg-2 text-center">
              <img class="test-img" src="https://my-s3-images-bucket.s3.amazonaws.com/images/EMMA_oig8ll.jpg" alt="Emma" />
              <br />

              <span class="custname"
                ><i class="fa fa-user" aria-hidden="true"></i>EMMA</span
              >
            </div>
            <div class="col-lg-8">
              <br />
              <p class="review">
                The liberty, the inside oneness and openess that I felt after
                Prashant's classes always fullfilled me. I could feel the energy
                rising as well as the expansion of my limits. It is with a deep
                work of precision, humor, gentleness and perseverance that he
                gives his class. Prashant allowed me to go deeper on my and
                others and open new pathways. He's on of those who inspire and
                stays next to you for time ahead. Thank Prashant to have align
                me in so many ways and brought me further on. See you soon;
              </p>
              <br />
            </div>
          </div>
        </div>
        <!-- single -->
        <div class="col-lg-12 single">
          <div class="row align-items-center">
            <div class="col-lg-2 text-center">
              <img
                class="test-img"
                src="https://my-s3-images-bucket.s3.amazonaws.com/images/ELINEKL_uynd0l.jpg"
                alt="Elinkel"
              />
              <br />

              <span class="custname"
                ><i class="fa fa-user" aria-hidden="true"></i>ELINEKL</span
              >
            </div>
            <div class="col-lg-10">
              <br />
              <p class="review">
                I believe Yoga Vidya School’s 200 hour yoga teacher training can
                change anybody's view on Yoga and its practice. The course teach
                you about real yogic lifestyle with its true meaning. The yoga
                teachers of this school have rich knowledge of all the aspects
                and principles of Yoga and goes deep into it to make it
                accessible to all level of students. Mantra and philosophy
                classes can give you a whole new energy. Another important
                factor that make this school the best, is its location away from
                the crowd of hotels and yoga schools of Rishikesh. The place is
                blessed with nature, making you feel like a real yoga retreat in
                jungle.
              </p>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
