.footer-section {
  padding: 0px 30px;

  .footer-logo {
    img {
      width: 22%;
    }
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }

  .footer-address {
    font-size: 14px;
    margin-top: 10px;
    color: rgba(42, 42, 42, 1);
    font-weight: 500;
  }

  .footer-address-right {
    font-size: 14px;
    margin-top: 5px;
    color: rgba(42, 42, 42, 1);
    font-weight: 400;
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }

  .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    a {
      font-size: 20px;
      color: rgba(42, 42, 42, 1);
      text-decoration: none;
    }
    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  .footer-menu {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 3px;
        @media (max-width: 768px) {
          margin-bottom: 0;
        }
        a {
          text-decoration: none;
          color: rgba(42, 42, 42, 1);
          font-weight: 400;
          font-size: 14px;
        }
      }
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .footer-menu-title {
      color: rgba(0, 0, 0, 1);
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 10px;
      @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        margin-bottom: 1px;
        margin-top: 5px;
      }
    }
  }

  .footer-menu-new {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 3px;
        padding-left: 20px;
        position: relative;
        a {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.862);
          font-weight: 500;
          font-size: 14px;
        }
      }
      li::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%); /* Vertically center the triangle */

        /* Create a small right-facing filled triangle */
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 7px solid white;
      }
    }

    .footer-menu-title {
      color: white;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  .footer-bottom {
    background: rgba(249, 117, 30, 1);
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
  }

  .footer-upper {
    text-align: center;
    background: rgba(249, 117, 30, 1);
    color: #fff;
    padding: 30px 0 125px 0;
    margin-bottom: 140px;
    .footer-button {
      background: #fff;
      border-radius: 4px;
      padding: 6px 10px;
      color: #000;
      text-decoration: none;
      margin-right: 10px;
      font-size: 14px;

      img {
        width: 20px !important;
        margin-right: 3px;
      }
    }

    h2 {
      margin-bottom: 5px;
      font-size: 30px;
      font-weight: 600;
    }

    small {
      padding: 0px 150px;
    }
  }

  .subscribe {
    background: rgba(255, 245, 222, 1);
    padding: 20px 30px;
    border-radius: 10px;
    color: #000;
    position: absolute;
    left: 50%;
    width: 70%;
    max-width: 900px;
    transform: translateX(-50%);
    h2 {
      font-weight: 300;
      font-size: 25px;
    }
    small {
      padding: 0px 80px;
      padding: 0px 23px;
    }
  }
  .footer-upper-new {
    text-align: center;
    background: rgba(249, 117, 30, 1);
    color: #fff;
    margin-bottom: 10px;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100%; /* Make sure it has height */
    min-height: 250px;
    .footer-button {
      background: #fff;
      border-radius: 4px;
      padding: 6px 10px;
      color: #000;
      text-decoration: none;
      margin-right: 10px;
      font-size: 14px;

      img {
        width: 20px !important;
        margin-right: 3px;
      }
    }

    h2 {
      margin-bottom: 5px;
      font-size: 30px;
      font-weight: 600;
    }

    small {
      padding: 0px 150px;
    }
  }
  .subscribe-new {
    background: rgba(255, 245, 222, 1);
    padding: 20px 30px;
    border-radius: 10px;
    color: #000;
    width: 100%;
    max-width: 900px;
    h2 {
      font-weight: 300;
      font-size: 25px;
    }
    small {
      padding: 0px 80px;
      padding: 0px 23px;
      font-size: 16px;
    }
  }
  .subscribe-form {
    background: rgba(255, 255, 255, 1);
    border-radius: 60px;
    padding: 5px;
    text-align: left;
    width: 100%;
    margin: 18px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      border: none;
      outline: none;
      width: 35%;
      padding: 10px 15px;
      font-size: 14px;
      background: transparent;
    }

    button {
      color: white;
      background: rgba(249, 117, 30, 1);
      border: none;
      border-radius: 60px;
      padding: 10px 30px;
      font-weight: 500;
      white-space: nowrap;
      cursor: pointer;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      background: transparent;
      padding: 0;
      border-radius: 0;

      input {
        width: 100%;
        background: #fff;
        margin-bottom: 10px;
        border-radius: 60px;
        padding: 12px 20px;
        text-align: center;
      }

      button {
        width: 100%;
        padding: 12px 0;
      }
    }
  }
}

.new-footer {
  background-color: #fa9e5e;
  padding: 10px 0px;
}
@media screen and (max-width: 768px) {
  .footer-section {
    padding: 0px 7px;
  }
  .footer-upper-new {
    padding: 20px;
  }
  .footer-upper {
    margin-block-end: 24rem !important;
  }
  .subscribe {
    background: rgba(255, 245, 222, 1);
    padding: 20px 30px;
    border-radius: 10px;
    color: #000;
    position: absolute;
    left: 50%;
    width: 70%;
    max-width: 900px;
    transform: translateX(-50%);
    h2 {
      font-weight: 300;
      font-size: 25px;
    }
    small {
      padding: 0px 80px;
      padding: 0px 23px;
      font-weight: 300;
    }
  }
}

.margin-top-2 {
  margin-top: 2.2rem !important;
}
