<!-- about.component.html -->

<section class="services-section p-0">
  <div class="upper">
    <h2>View More <span>Our Video Testimonials</span></h2>
    <!-- <small class="text-white"
      >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim
    </small> -->
    <!-- <small class="text-white"
      >ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat.</small
    > -->
  </div>
  <div class="bottom">
    <div class="row middle-text">
      <div class="col-md-12 d-flex align-items-center">
        <iframe
        loading="lazy"
          class="big-shadow"
          width="100%"
          height="470"
          src="https://www.youtube.com/embed/vPD1NGMY_8E?si=PZ1aqfhF5s0UKkaA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-12 my-3">
        <!-- <div>
          <small
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.</small
          >
          <small
            >Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.pariatur.</small
          >
          <small
            >Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.</small
          >
        </div>
        <div class="star">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div> -->
      </div>
    </div>
    <div class="row bottom-abs">
      <div class="col-md-6">
        <iframe
        loading="lazy"
          class="border small-shadow"
          width="100%"
          height="270"
          src="https://www.youtube.com/embed/hDF22HecqGU?controls=0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-6">
        <iframe
        loading="lazy"
          class="border small-shadow"
          width="100%"
          height="270"
          src="https://www.youtube.com/embed/STn0HbIAi34?controls=0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-6 my-3">
        <!-- <div>
          <small
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.</small
          >
          <div class="star">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div> -->
      </div>
      <div class="col-md-6 my-3">
        <!-- <div>
          <small
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.</small
          >
          <div class="star">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
