<!-- about.component.html -->

<section class="about-section py-5">
  <div class="row px-5">
    <div class="col-md-6 image">
      <div class="card">
        <div class="card-image relative">
          <img
            alt="Card Image"
            class="card-img-top"
            src="https://my-s3-images-bucket.s3.amazonaws.com/images/prashant_uom9gd.jpg"
          />
        </div>
        <div class="card-body">
          <h2><span>We offer:</span></h2>
          <h3><b>A beginner’s class about the fundamentals of yoga.</b></h3>
          <div class="row list">
            <div class="col-md-6">
              <ul>
                <li>
                  <div class="dot"></div>
                  <div class="text">Authentic Yoga Practices & Teachings </div>
                </li>
                <li>
                  <div class="dot"></div>
                  <div class="text">Master-Level, Traditional Yoga Gurus </div>
                </li>
                <li>
                  <div class="dot"></div>
                  <div class="text">Located Close to Lush Green Himalayan Forest </div>
                </li>
                <li>
                  <div class="dot"></div>
                  <div class="text">Rich Curriculum, Easy to Understand </div>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul>
                <li>
                  <div class="dot"></div>
                  <div class="text">Yoga Alliance Certified Courses </div>
                </li>
                <li>
                  <div class="dot"></div>
                  <div class="text">Pre & Post-Program Support with Online Offerings </div>
                </li>
                <li>
                  <div class="dot"></div>
                  <div class="text">5000+ Satisfied Yoga Students & Community </div>
                </li>
                <!-- <li>
                  <div class="dot"></div>
                  <div class="text">1 Year Membership Plan</div>
                </li> -->
              </ul>
            </div>
            <!-- <div class="col-md-12">
              <p class="notes"><b>Notes: </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div> -->
          </div>
        </div>
      </div>
      <!-- <img
        src="https://my-s3-images-bucket.s3.amazonaws.com/images/ment6_k2zkjy.jpg"
        class="img-fluid"
        alt="About Image"
      /> -->
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <div>
        <h3 class="small-head">About Yoga Vidya School</h3>
        <h2>Discover the Essence of <span>Yoga at Yoga Vidya School:</span></h2>
        <h2>Best Yoga School In Rishikesh</h2>
        <p>
          Founded by Prashant Jakhamola in 2014, Yoga Vidya School is a place to
          immerse in serious authentic yoga practice led by the best yoga
          teachers of India, in an energetic environment created for
          transformation through Yogic Movements, Mudras, Meditations,
          Philosophy, and Spiritual Lifestyle. The school emphasizes holistic
          development of the students’ mental, physical, emotional, spiritual,
          and professional life. Our curriculum of the courses is based on three
          pillars, named as Triangular Pyramid Teaching’ - Learn, Experience,
          and Share.
        </p>

        <p>
          In Rishikesh, India, the school offers the opportunity to practice
          this sacred science in the Mother Nature in the foothills of the
          Himalayas, by the banks of the river Ganges. Here you can experience
          Indian Yogic Hospitality in a beautiful accommodation facility located
          in the midst of the Himalayan lush green Rajaji forest and get the
          delicious Ayurvedic food. At Yoga Vidya School, we also offer Cultural
          immersions during the retreats and yoga TTC courses through visits to
          local attractions, Ashrams, Waterfalls, and Trek in the Himalayas.
        </p>

        <p>
          Outside Rishikesh, Yoga Vidya School is available in Bali, Romania,
          Russia, and France and offers the courses with translators for a
          Multilingual experience. In addition to physical presence in the yogic
          destinations, the school is now a trusted brand in the world for
          Online Education through Daily Yoga Classes, Yoga TTCs, Specialised
          Yoga Workshops, and Therapies. These programs are available at
          multiple timings suitable for worldwide time zones.
        </p>

        <div class="">
          <a href="#upcoming-events" class="button">Apply For The Upcoming Classes</a>
        </div>
      </div>
    </div>
  </div>
</section>
