.krishnendu {
  border: 1px solid black;
}
.cooperate-section {
  background: radial-gradient(
    circle,
    rgba(255, 245, 219, 0.94) 60%,
    rgba(249, 117, 30, 0.21) 110%
  );
  background: -moz-radial-gradient(
    circle,
    rgba(255, 245, 219, 0.94) 60%,
    rgba(249, 117, 30, 0.21) 110%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 245, 219, 0.94) 60%,
    rgba(249, 117, 30, 0.21) 110%
  );
}
.swara-button {
  margin-top: 0;
  position: relative;
  z-index: 1000;
}
.bottom-block {
  background: -webkit-radial-gradient(
    circle,
    hsla(0, 0%, 100%, 1) 26%,
    rgba(249, 117, 30, 0.568) 130%
  );
  padding-top: 92px;
  padding-bottom: 92px;
  text-align: center;
  p {
    font-style: italic;
    font-weight: 700;
  }
}
