.cooperate-section {
  background: radial-gradient(
    circle,
    rgba(255, 245, 219, 0.94) 60%,
    rgba(249, 117, 30, 0.21) 110%
  );
  background: -moz-radial-gradient(
    circle,
    rgba(255, 245, 219, 0.94) 60%,
    rgba(249, 117, 30, 0.21) 110%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 245, 219, 0.94) 60%,
    rgba(249, 117, 30, 0.21) 110%
  );
}
.swara-button {
  margin-top: 0;
  position: relative;
  z-index: 1000;
}
.bottom-block {
  background: -webkit-radial-gradient(
    circle,
    hsla(0, 0%, 100%, 1) 26%,
    rgba(249, 117, 30, 0.568) 130%
  );
  padding-top: 92px;
  padding-bottom: 92px;
  text-align: center;
  p {
    font-style: italic;
    font-weight: 700;
  }
}
.long-pic {
  height: 40rem;
  @media (max-width: 768px) {
    object-fit: cover;
    height: 28rem;
  }
}
.about-section {
  padding-inline: 7rem;
  @media (max-width: 768px) {
    padding-inline: 3rem;
  }
}
