
.change-password{
.input-container{
    display: flex;
    gap: 10px;
    input{
        width: 400px;
    }
    

}
}
.change-password button{
        background-color: var(--bs-orange);
        border: none;
       margin-top: 20px;
       padding: 7px 16px;
    color: white;
    border-radius: 6px;
}