<section class="change-password my-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card border-0">
        <div class="card-body">
          <h5 class="card-title"><strong>Change-Password</strong></h5>
          <form >
            <div >
              <label for="password">Old Password</label>
              <input
                type="password"
                class="form-control my-2"
                name="password"
                placeholder="Enter Old Password"
              />
            </div>
            <div >
              <label for="password">New Password</label>
              <input
                type="password"
                class="form-control my-2"
                name="password"
                placeholder="Enter New Password"
              />
            </div>
            <button
              type="submit"
              class="btn btn-success btn-block btn-login"
            >
              Change-Password
            </button>
          </form>
        </div>
      </div>
    </div>
    </div>
    </section>

