@if(slug === '200-hours-yoga-teacher-training-online'){
<section class="ttc-banner-section" id="bnner_section">
  <div class="floating-register-btn">
    <button class="register-btn" (click)="registerClick(slug)">
      Register Now
    </button>
  </div>
</section>
<div
  id="carouselExampleInterval"
  class="carousel slide image-slide"
  data-bs-ride="carousel"
  data-bs-interval="2000"
  data-bs-pause="false"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://my-s3-images-bucket.s3.us-east-1.amazonaws.com/images/954A9082.jpg"
        class="d-block w-100 img-1"
        alt="Slide 1"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://my-s3-images-bucket.s3.us-east-1.amazonaws.com/images/20221017125032_IMG_8691.jpeg"
        class="d-block w-100 img-2"
        alt="Slide 2"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://my-s3-images-bucket.s3.us-east-1.amazonaws.com/images/954A7672.jpg"
        class="d-block w-100 img-3"
        alt="Slide 3"
      />
    </div>
  </div>
</div>
}@else{
<section
  #bannerSection
  class="banner-section"
  id="bnner_section"
  *ngIf="slug != 'pranayama-course-online-pranarambha'"
>
  <div *ngIf="slug === 'pranic-purification'" class="blur-overlay"></div>

  <!-- Your Register Button -->
  @if(slug === 'pranic-purification' || slug === 'breath-detox-yoga'){
  <div class="floating-register-btn">
    <button class="register-btn" (click)="registerClick(slug)">
      Register Now
    </button>
  </div>
  }@else{
  <div class="row">
    <div class="col-md-6">
      <!-- <div class="banner-text">
        <small>Best Yoga School In Rishikesh</small>
        <h2>Awaken Your Inner Yogi:</h2>
        <h2> Rishikesh's Acclaimed Haven for Yoga Mastery</h2>
        <div class="banner-desc my-4">Discover Rishikesh's tranquil embrace, nurturing yoga mastery. Embrace serene landscapes, sacred rivers, and renowned gurus for soulful transformation.</div>
      </div>
      <div>
        <a href="#" class="button">Enroll Now</a>
        <a href="#" class="video-button"><i class="fas fa-play"></i> Enroll Now</a>
      </div>
      <div class="free-ad">
        <div>
          <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/right-tick.png" class="img-fluid" alt="Banner Image" /> 3- Days Free Trial
        </div>
        <div>
          <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/right-tick.png" class="img-fluid" alt="Banner Image" /> 2- Days Free Trial
        </div>
        <div>
          <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/right-tick.png" class="img-fluid" alt="Banner Image" /> 2- Days Free Trial
        </div>
      </div> -->
    </div>
    <div class="col-md-6">
      <div class="slider">
        <div class="inner">
          <div class="form">
            <h3
              *ngIf="
                slug != 'yoga-retreat-in-mysore-india' &&
                slug != 'yoga-retreat-in-peru' &&
                !isRegistrationPageLabelToggle &&
                !isRegistrationPageLabelToggleForAdjusment
              "
            >
              Want To Practice Pranayama Sadhana!
            </h3>
            <h3
              *ngIf="
                slug != 'yoga-retreat-in-mysore-india' &&
                slug != 'yoga-retreat-in-peru' &&
                isRegistrationPageLabelToggle &&
                !isRegistrationPageLabelToggleForAdjusment
              "
            >
              Want To Become Expert Yoga Teacher!
            </h3>
            <h3
              *ngIf="
                slug != 'yoga-retreat-in-mysore-india' &&
                slug != 'yoga-retreat-in-peru' &&
                isRegistrationPageLabelToggleForAdjusment
              "
            >
              Want To learn Adjusment and Alignments!
            </h3>
            <h3
              *ngIf="
                slug == 'yoga-retreat-in-mysore-india' ||
                slug == 'yoga-retreat-in-peru'
              "
            >
              Interested In This Retreat ?
            </h3>
            <small
              *ngIf="
                slug == 'yoga-retreat-in-mysore-india' ||
                slug == 'yoga-retreat-in-peru'
              "
              >Sign Up Here !</small
            >
            <small
              *ngIf="
                slug != 'yoga-retreat-in-mysore-india' &&
                slug != 'yoga-retreat-in-peru'
              "
              >Apply Now - We Are Taking Admissions.</small
            >
            <form #inquiry="ngForm" (ngSubmit)="saveInquiry(inquiryData)">
              <div class="form-inputs">
                <input
                  type="text"
                  placeholder="Name"
                  name="name"
                  [(ngModel)]="inquiryData.name"
                />
                <input
                  type="text"
                  placeholder="Email"
                  name="email"
                  [(ngModel)]="inquiryData.to"
                />
                <select
                  *ngIf="
                    slug != 'breath-detox-yoga' &&
                    slug != 'pranayama-course-online-pranarambha' &&
                    slug !=
                      'foundation-of-spirituality-an-online-spiritual-awakening-course'
                  "
                  name="courseDate"
                  [(ngModel)]="inquiryData.courseDate"
                >
                  <option value="undefined">Select Course Date</option>
                  <option
                    *ngFor="let date of datesItem"
                    value="{{ date.startDate | date : 'dd MMMM y' }} ~ {{
                      date.endDate | date : 'dd MMMM y'
                    }}"
                  >
                    {{ date.startDate | date : "dd MMMM y" }} -
                    {{ date.endDate | date : "dd MMMM y" }}
                  </option>
                </select>
                <input
                  type="number"
                  placeholder="Your Contact Number"
                  name="contactNumber"
                  [(ngModel)]="inquiryData.contactNumber"
                />
                <textarea
                  placeholder="Your Message"
                  rows="2"
                  *ngIf="
                    slug != 'breath-detox-yoga' &&
                    slug != 'pranayama-course-online-pranarambha' &&
                    slug !=
                      'foundation-of-spirituality-an-online-spiritual-awakening-course'
                  "
                  name="message"
                  [(ngModel)]="inquiryData.message"
                ></textarea>
                <input class="button" type="submit" value="Enquiry" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</section>
<section class="banner" *ngIf="slug == 'pranayama-course-online-pranarambha'">
  <!-- Video Section -->
  <div class="video-container">
    <video
      muted
      autoplay
      loop
      playsinline
      controls
      id="backgroundVideo"
      class="background-video"
    >
      <source
        src="https://d3mzqk1fxuwngx.cloudfront.net/reviews/pranarambha_intro.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAWGOLULIWBNKET5SM%2F20250106%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250106T163245Z&X-Amz-Expires=3600&X-Amz-Signature=bd6d68f4499c266e99fa1d35bf90b00551ac35dbc778f4838cc74787908c8375&X-Amz-SignedHeaders=host&x-id=GetObject"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </div>
  <!-- Form Section -->
  <div class="form">
    <h3
      *ngIf="
        slug != 'yoga-retreat-in-mysore-india' &&
        slug != 'yoga-retreat-in-peru' &&
        !isRegistrationPageLabelToggle &&
        !isRegistrationPageLabelToggleForAdjusment
      "
    >
      Want To Practice Pranayama Sadhana!
    </h3>
    <h3>Well-Researched Course to:</h3>
    <ol>
      <li>Improve Health & Spiritual Wellbeing</li>
      <li>Enhance the Quality of Life</li>
      <li>Break the Cycle of Addictions</li>
    </ol>
    <div class="d-flex mt-4">
      <button class="modern-btn" (click)="registerClick('')">
        Register Now
      </button>
    </div>
  </div>
</section>
}
