.know-more-section {
  text-align: center;
  background: radial-gradient(
    circle,
    rgba(255, 245, 219, 0.94) 60%,
    rgba(249, 117, 30, 0.21) 110%
  );
  background: -moz-radial-gradient(
    circle,
    rgba(255, 245, 219, 0.94) 60%,
    rgba(249, 117, 30, 0.21) 110%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 245, 219, 0.94) 60%,
    rgba(249, 117, 30, 0.21) 110%
  );

  small {
    padding: 0px 130px;
    display: inline-block;
    font-size: 17px;
  }
   .table-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .pranic-schedule-table {
    width: 40%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
  }

  .pranic-schedule-table thead {
    background-color: #f15a24;
    color: white;
    font-weight: bold;
  }

  .pranic-schedule-table thead th {
    padding: 16px;
    text-align: center;
  }

  .pranic-schedule-table tbody tr:nth-child(even) {
    background-color: #ffe5dc;
  }

  .pranic-schedule-table tbody tr:nth-child(odd) {
    background-color: #fff0ea;
  }

  .pranic-schedule-table td {
    padding: 16px;
    color: #333;
  }

  .pranic-schedule-table td.fee {
    font-weight: bold;
  }

  .faq {
    .card {
      border: none;
    }

    .card-header {
      font-size: 17px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      padding: 2px 15px;
      align-items: center;
      border: 1px solid #f9751e;
      box-shadow: 0px 4px 4px 0px #00000040;
      background: #fff5de;

      .ques {
        display: flex;
        align-items: center;
        gap: 10px;

        h3 {
          font-size: 19px;
          margin: 0;
          margin-top: 10px;
        }

        p {
          font-size: 14px;
          font-weight: normal;
        }

        .icon {
          img {
            width: 60%;
          }
        }
      }

      .plus-icon {
        color: #fff;
        font-size: 14px;
        background: rgba(249, 117, 30, 1);
        border-radius: 50%;
        padding: 7px 12px;
        margin: 4px 0px;
      }
    }

    .card-header {
      cursor: pointer;
    }

    .plus-icon i {
      transition: transform 0.3s ease;
    }

    .card-header.open .plus-icon i {
      transform: rotate(45deg);
      /* Change to a minus icon */
    }

    .card-body {
      font-size: 18px;
      font-weight: 400;
      background: rgba(217, 217, 217, 0.1);

      .desc {
        box-shadow: 0px 4.51px 4.51px 0px #00000040;
        border: 2.25px solid #f9751e;
        padding: 20px;
        border-radius: 10px;
        font-size: 15px;
        line-height: 28px;

        img {
          width: 100%;
          border-radius: 40px;
        }
      }
    }
  }

  ul {
    list-style: none;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      gap: 10px;

      i {
        color: #f9751e;
      }
    }
  }

  p {
    span {
      color: #f9751e;
    }
  }
}

h4 span {
  color: #f9751e;
}

.cut-text {
  text-decoration: line-through;
  font-size: 20px;
  font-weight: 600;
}

.amount {
  color: #f9751e;
  font-weight: 600;
  font-size: 20px;
}
.register-btn {
  background-color: #f9751e;
  width: 200px;
  padding: 10px 8px;
  font-size: 18px;
  border-color: #f9751e;
  animation: pulse 2s ease-in-out infinite;
}

/* Pulse keyframes */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
