<div class="know-more-section px-md-5 py-md-5 p-2">
  <div class="row">
    <div *ngIf="!isItPranicRoute" class="col-md-12">
      <div>
        <img
          loading="lazy"
          alt="Not Loaded"
          src="https://my-s3-images-bucket.s3.amazonaws.com/img/flower-color.png"
          class="flower-img"
        />
      </div>
      <small>Curriculum Overview</small>
      <h3 class="small-head">Unleash Your Inner Potential: Dive into Our</h3>
      <h2>
        <span>Transformative {{ title }} Curriculum!</span>
      </h2>
    </div>
    <div *ngIf="isItPranicRoute" class="row">
      <h4><span>Coming soon...</span></h4>
      <!-- <h4>
        Next Batch: <span>starts on 18<sup>th</sup> January 2026 at 6.30 PM IST</span>
      </h4> -->
      <!-- <div class="table-container">
        <table class="pranic-schedule-table">
          <thead>
            <tr>
              <th>Date Slot</th>
              <th>Time Slot (IST)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>24th July to 29th July</td>
              <td>7:30 AM to 8:30 AM</td>
            </tr>
            <tr>
              <td>30th July to 1st August</td>
              <td>Swadhyay (Self practice)</td>
            </tr>
            <tr>
              <td>2th August to 15th August</td>
              <td>8:30PM to 9:30PM</td>
            </tr>
          </tbody>
        </table>
      </div> -->
      <!-- <div class="col-12 text-center mt-4">
        <button class="btn btn-primary register-btn" (click)="registerClick()">
          Register Now
        </button>
      </div> -->
    </div>
    <div
      class="col-md-12 text-left mb-3 faq"
      *ngFor="let cur of curriculum; let i = index"
    >
      <div class="card">
        <div class="card-header" (click)="openCloseTab(i)">
          <div class="ques">
            <div style="max-width: 76px" class="bullet-image_box">
              <img
                loading="lazy"
                alt="Not Loaded"
                [src]="s3Bucket.lotusBullet"
                class="img-fluid bullet-image"
              />
            </div>
            <div>
              <h3>{{ cur?.title }}</h3>
              <!-- <p>
                {{cur.para}}
              </p> -->
            </div>
          </div>
          <div
            *ngIf="
              slug != 'adjustment-and-alignment' &&
              slug != 'adjustment-and-alignment-level-2'
            "
            class="plus-icon"
          >
            <i class="fa-solid fa-plus" *ngIf="selectedIndex != i"></i>
            <i class="fa-solid fa-minus" *ngIf="selectedIndex == i"></i>
          </div>
        </div>
        <div class="card-body" *ngIf="cur?.para && selectedIndex == i">
          <div class="desc" [innerHTML]="cur?.para"></div>
        </div>
      </div>
    </div>
  </div>
</div>
