.navbar-bg {
  background-color: #fdf0dd;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  width: 100%;
}

/* Center align menu in desktop */
.mainMenu {
  gap: 20px;
  padding-left: 0;
}

/* Main nav item style */
.navbar-nav li a {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

/* Login and cart button styles */
.login-button {
  background-image: linear-gradient(to right, #f47019, #d55502);
  padding: 6px 26px;
  border-radius: 10px;
  min-width: 100px;
  font-weight: 500 !important;
  font-size: 21px !important;
  color: #fff !important;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  min-height: 50px;
}

.card-button {
  position: relative;
  background-image: linear-gradient(to right, #f47019, #d55502);
  padding: 6px 16px !important;
  border-radius: 10px;
  font-weight: 500 !important;
  font-size: 21px !important;
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}

.number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background: #fff;
  color: #000;
  top: -5px;
  right: -5px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

/* Dropdowns */
.navbar-nav .dropdown:hover > .dropdown-menu,
.dropdown-menu .dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  display: none;
}

.dropend > .dropdown-menu {
  left: 100%;
  right: auto;
}
.mtn-35 {
  margin-top: -35px;
}

@media screen and (max-width: 900px) {
  .mtn-35 {
    margin: auto;
  }
  .mainMenu {
    padding-left: 0 !important;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .navbar-nav {
    flex-direction: column !important;
    width: 100%;
  }
  .nav-item {
    width: 100%;
  }
}
