<nav class="navbar navbar-expand-lg navbar-bg">
  <div class="nav-container container-fluid">
    <a class="navbar-brand" href="/">
      <img [src]="s3Bucket.mainLogo" style="height: 40px" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- CENTER MENU -->
    <div
      class="collapse navbar-collapse justify-content-center"
      style="flex-grow: 0"
      id="mainNavbar"
    >
      <ul class="navbar-nav mainMenu">
        <li class="nav-item dropdown" *ngFor="let menuItem of menuItems">
          <a
            class="nav-link"
            href="{{ menuItem.link }}"
            *ngIf="!menuItem.submenu"
          >
            {{ menuItem.title }}
          </a>
          <a class="nav-link dropdown-toggle" *ngIf="menuItem.submenu">
            {{ menuItem.title }}
          </a>
          <ul class="dropdown-menu" *ngIf="menuItem.submenu">
            <li
              *ngFor="let subMenuItem of menuItem.submenu"
              class="dropdown-submenu"
            >
              <a
                class="dropdown-item"
                href="{{ subMenuItem.link }}"
                *ngIf="!subMenuItem.submenu"
              >
                {{ subMenuItem.title }}
              </a>
              <div class="dropdown dropend" *ngIf="subMenuItem.submenu">
                <a class="dropdown-item dropdown-toggle" href="#">{{
                  subMenuItem.title
                }}</a>
                <ul class="dropdown-menu mtn-35">
                  <li *ngFor="let nestedSubMenuItem of subMenuItem.submenu">
                    <a
                      class="dropdown-item"
                      href="{{ nestedSubMenuItem.link }}"
                    >
                      {{ nestedSubMenuItem.title }}
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- RIGHT MENU (LOGIN / CART) -->
    <div
      class="collapse navbar-collapse justify-content-end"
      style="flex-grow: 0"
      id="mainNavbar"
    >
      <ul class="navbar-nav" style="gap: 10px">
        <li class="nav-item dropdown" *ngIf="loginUser">
          <a class="nav-link login-button dropdown-toggle">
            <i class="fa-user fas"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/my-account">My Account</a></li>
            <li>
              <a
                class="dropdown-item"
                href="javascript:void(0)"
                (click)="logOut()"
                >Logout</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link card-button my_btn" href="/add-to-cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <span *ngIf="cartItemTotal != 0" class="number">
              {{ cartItemTotal }}
            </span>
          </a>
        </li>
        <li class="nav-item" *ngIf="loginButton.isShow">
          <a class="nav-link login-button" href="{{ loginButton.link }}">
            <i class="{{ loginButton.iconClass }}"></i> {{ loginButton.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
