<section class="banner-section">
  <div class="row">
    <div class="col-md-12">
      <div class="banner-text">
        <div class="text-center">
          <h1 class="banner-title">Transform Your Life With Authentic Yoga</h1>
          <h3>Become a Yoga Teacher with Prashant</h3>
        </div>
        <div class="banner-desc">
          <p>
            With campuses in Rishikesh (India) and Bali (Indonesia), Yoga Vidya
            School is certified by Yoga Alliance USA and offers 100, 200, 300,
            and 500-hour teacher training, both in-person and online (including
            focused courses and the full 200-hour certification). Our courses
            are taught by experienced instructors and take place in a
            traditional setting. Each program includes accommodation, meals, and
            live Spanish translation. The teaching is based on our
            <b>Triangular Pyramid: Learn – Experience – Share</b>
          </p>
        </div>
      </div>
      <!-- <div>
        <a href="/book-now" class="button">Enroll Now</a>
      </div> -->
    </div>
    <!-- <div class="col-md-6">
      <div class="slider">
        <div class="inner">
          <img [src]="s3Bucket.frontPic" class="img-fluid" alt="Banner Image" />
        </div>
      </div>
    </div> -->
  </div>
</section>
