<section class="banner-section">
  <div class="row">
    <div class="col-md-6">
      <div class="banner-text">
        <small>Best Yoga School in Rishikesh</small>
        <p class="mb-0 banner-title">Transform Your Life</p>
        <p class="mb-0 banner-title">With Authentic Yoga</p>
        <p class="mb-0 banner-title">Teacher Training in Rishikesh</p>
        <div class="banner-desc my-4">
          Embrace a journey of self-discovery, serenity and spiritual growth in the Himalayas along sacred Ganges river, guided by the best yoga teachers of India.
        </div>
      </div>
      <div>
        <a href="/book-now" class="button">Enroll Now</a>
        <a href="/contact-us" class="video-button">Contact us</a>
      </div>
      <!-- <div class="free-ad">
        <div>
          <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/right-tick.png" class="img-fluid" alt="Banner Image" /> 3- Days Free Trial
        </div>
        <div>
          <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/right-tick.png" class="img-fluid" alt="Banner Image" /> 2- Days Free Trial
        </div>
        <div>
          <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/right-tick.png" class="img-fluid" alt="Banner Image" /> 2- Days Free Trial
        </div>
      </div> -->
    </div>
    <div class="col-md-6">
      <div class="slider" style="background-image: url('https://my-s3-images-bucket.s3.amazonaws.com/img/banner-bg.png');">
        <div class="inner">
          <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/slider1.png" class="img-fluid" alt="Banner Image" />
        </div>
      </div>
    </div>
  </div>
</section>
