<section class="banner-section">
  <div class="row">
    <div class="col-md-12">
      <div class="banner-text">
        <h1 class="text-center banner-title">
          Transform Your Life With Authentic Yoga Teacher Training in Rishikesh
        </h1>
        <div class="banner-desc my-4">
          Embrace a journey of self-discovery, serenity and spiritual growth in
          the Himalayas along sacred Ganges river, guided by the best yoga
          teachers of India.
        </div>
      </div>
      <!-- <div>
        <a href="/book-now" class="button">Enroll Now</a>
      </div> -->
    </div>
    <!-- <div class="col-md-6">
      <div class="slider">
        <div class="inner">
          <img [src]="s3Bucket.frontPic" class="img-fluid" alt="Banner Image" />
        </div>
      </div>
    </div> -->
  </div>
</section>
