<div class="carousel-inner">
  <div class="inner">
    <img
      [src]="s3Bucket.bali200Hero"
      class="img-fluid banner_image"
      alt="Banner Image"
    />
  </div>
  <div class="banner-overlay">
    <div class="banner-text-overlay">
      Transform your life with our 100 HRS TTC in Bali
    </div>
    <div class="banner-subtitle-overlay">
      2026 Batch: JUNE<br />Booking with the 30% of pricing
      <br />
      <button (click)="registerClick(routeEnum.bali100)" class="button">
        JOIN NOW
      </button>
    </div>
  </div>
</div>
<section class="about-rishikesh-section py-5">
  <div class="row mb-3 align-items-center">
    <div class="col-md-6">
      <div class="imageback">
        <img
          [src]="s3Bucket.rishikesh100About1"
          class="img-fluid"
          alt="Bali 100 Hour Course About Image"
        />
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <div>
        <h1>🌟 Who This 100-Hour Yoga Teacher Training in Bali Is For</h1>
        <div>
          <ul style="list-style-type: none">
            <li>
              🆕 <b>New to Yoga</b> – You want a structured, well-rounded
              introduction to yoga that sets you on the right path.
            </li>
            <li>
              💖 <b>Yoga Enthusiasts</b> – You’ve practiced casually and now
              want to deepen your knowledge.
            </li>
            <li>
              🧘‍♀️ <b>Holistic Seekers</b> – You’re ready to understand yoga as
              more than just exercise—gaining a strong foundation in mind, body,
              and spirit.
            </li>
            <li>
              🎯 <b>Technique Lovers</b> – You want to practice asanas with
              precision, correct alignment, and a deeper awareness.
            </li>
            <li>
              🌿 <b>Healing Explorers</b> – You’re interested in using yoga as a
              natural therapy for various health concerns.
            </li>
            <li>
              😌 <b>Stress-Release Seekers</b> – You want to learn powerful
              relaxation methods for emotional balance and full-body calm.
            </li>
            <li>
              🌸<b>Inner Balance Finders</b> – You’re looking to harmonize mind
              and body, and connect with your inner self.
            </li>
            <li>
              📚 <b>Wisdom Hunters</b> – You want to explore Yogic Philosophy,
              Pranayama, and Meditation in an authentic way.
            </li>
            <li>
              📈 <b>Registered Yoga Teachers</b> – You’re seeking Continuing
              Education (CE) hours to enhance your RYT credentials.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
