<section class="online-class">
  <div class="row">
    <div class="col-md-6">
      <h1>
        <span>{{ courseList?.coursetitle }}</span>
      </h1>
      <h3>Live and Interactive Yoga Content You Can t Find Anywhere</h3>

      <div class="list">
        <ul>
          <li>
            <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" /> Proper way of practising
            Asana and Pranayama
          </li>
          <li>
            <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" /> Alignment of each asana
            practice
          </li>
          <li>
            <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" /> Maximum Individual
            Attention to each student
          </li>
          <li>
            <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" /> Shatkarma (yogic
            purification) such as neti practice
          </li>
          <li>
            <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" /> Modification of practice
            according to individual limitations and strengths
          </li>
        </ul>
      </div>
      <app-start-class></app-start-class>
    </div>
    <div class="col-md-6">
      <iframe
      loading="lazy"
        class="big-shadow"
        width="100%"
        height="470"
        [src]="introLink | safe"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>

<section class="core-values">
  <div><img src="https://my-s3-images-bucket.s3.amazonaws.com/img/flower-color.png" class="flower-img" /></div>
  <div class="text-center">
    <h2>Best Online Yoga <span>Classes By Prashant Jakhmola</span></h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row align-items-center mb-3">
        <div class="col-md-6">
          <h3 class="mb-3"><span>Live and Interactive</span> Yoga Content You Can’t Find Anywhere</h3>
          <div>
            Create a healthy routine from our daily Online classes Yoga Asana and
            Pranayama to help you stay healthy, active, calm and focused.<br/>
            Led by Prashant J Yoga, Team at Yoga Vidya School welcome you all to
            join our daily online yoga classes. Here you will get authentic and
            insightful sessions related to healthy lifestyle, Hatha Yoga Asanas,
            Ashtanga Yoga Sadhana, Pranayama, Meditation, Mindfulness and Yogic
            Philosophy. Our online yoga classes are suitable for all levels of yoga
            practitioners, beginners to experienced.&nbsp; Guided by highly
            experienced yoga teachers, you will find exciting yoga classes revolving
            around strengthening the body, flexibility, correct alignment, detox,
            hamstrings, hip opening, inversions and so much more. Duration ranges
            from 60 minutes to 90 minutes, we offer classes with multiple-time
            options so that you can join when its convenient for you and your
            personal and professional schedule.
          </div>
        </div>
        <div class="col-md-6">
          <p>
            <img
              alt="Prashant ji"
              class="img-fluid sectionImg shadow"
              src="https://my-s3-images-bucket.s3.amazonaws.com/img/image_1677479957069.JPG"
              style="border-radius: 15px; border: 3px solid #ffffff"
            />
          </p>
        </div>
      </div>

      <div class="row align-items-center mb-3">
        <div class="col-md-6">
          <p>
            <img
              alt=""
              class="img-fluid sectionImg"
              src="https://my-s3-images-bucket.s3.amazonaws.com/img/image_1677497676706.png"
            />
          </p>
        </div>
        <div class="col-md-6">
<h3 class="mb-3"><span>Unlock Holistic Health</span> with Our Online Yoga Classes</h3>
          <p>
            Our online yoga classes are not only designed to offer physical benefits
            such as flexibility, strong and active body or appearance. These classes
            work on deeper level for holistic health, with combination of three
            major areas of human life:
          </p>

          <ul style="list-style-type: none">
            <li>1- Physical</li>
            <li>2- Mental</li>
            <li>3- Spiritual</li>
          </ul>

          <p>
            Yoga is a practice that deeply impacts all those levels of life which
            are very essential to a living person. It is not the practice of body
            only. it is a process of spiritual development. And keeping in mind all
            these important things, we have conducted yoga classes. This classes are
            conducted online to all yoga aspirants who want to bring spiritual
            transformation in their life through yoga.
          </p>

          <p>
            These classes are completely live. You can make or organise your life
            better by coming regularly in these classes according to your time. You
            will also receive recordings after every classes finishes, so if you
            want to see and understand these classes again, you can avail. Our aim
            is to bring yoga to all around the world. Yoga is one such medium which
            provides you physical mental and spiritual healthiness.
          </p>

          <p>
            Regular yoga classes online with Prashant J Yoga and
            <a href="https://www.yogavidyaschool.com">Yoga Vidya School</a> Team are
            an excellent opportunity for people who are looking for healthy
            lifestyle or knowledgeable yoga classes but they are busy and cannot
            physically visit our yoga school in Rishikesh. Though you can watch many
            insightful yoga videos of Prashant ji on his
            <a href="https://www.youtube.com/@PrashantjYoga"
              >Youtube Channel: Prashant J Yoga</a
            >, but practicing live with him and our team is highly beneficial
            especially if anyone want to develop a regular routine and practice.
          </p>

        </div>
      </div>
    </div>
  </div>
  <app-start-class></app-start-class>
</section>

<app-course-mentor></app-course-mentor>

<section class="how-it-work py-5">
  <h2>How <span>It Works</span></h2>
  <small
    >Online programs for every level, with enough variety to ensure you stay
    inspired.</small
  >
  <div class="row py-5">
    <div class="col-md-6">
      <div class="steps">
        <div class="list text-left">
          <p>All Your Information In One Place</p>
          <ul>
            <li>
              <!-- <img src="https://placehold.co/50x50" /> -->
              Find all the information regarding your class or course via
              <br />WhatsApp: +91- 9818 660 954
            </li>
          </ul>
        </div>
        <div class="list text-left">
          <p>Attend From Anywhere</p>
          <ul>
            <li>
              <!-- <img src="https://placehold.co/50x50" /> -->
              Easily join classes via Zoom directly from your Phone, Laptop OR
              Tablet.
            </li>
          </ul>
        </div>
        <div class="list text-left">
          <p>Pause Or Cancel Classes</p>
          <ul>
            <li>
              <!-- <img src="https://placehold.co/50x50" /> -->
              Get the flexibility to pause your membership or cancel classes.
            </li>
          </ul>
        </div>
      </div>
      <div class="text-text">
        <a href="/book-now" class="button">Book Your Slot Now!</a>
      </div>
    </div>
    <div class="col-md-6">
      <img src="https://my-s3-images-bucket.s3.amazonaws.com/images/why_yry82a.jpg" class="img-fluid" />
    </div>
  </div>
</section>

<section class="highlights">
  <div class="white-border">
    <div class="row">
      <div class="col-md-6">
        <div class="list-border">
          <h2>
            Highlights Of Online Yoga Classes At <span>Yoga Vidya School?</span>
          </h2>
          <div class="list">
            <ul>
              <li>
                <i class="fas fa-check"></i> All the attendees are first
                assessed to understand their requirements and level of practice,
                and then we offer yoga classes accordingly to ensure safe and
                effective yoga practice
              </li>
              <li><i class="fas fa-check"></i> Maximum Individual Attention</li>
              <li>
                <i class="fas fa-check"></i> 4 Days A Week Live Practice with
                Teacher (We motivate self practice on off days for better result
                and to avoid your dependency on teachers)
              </li>
              <li><i class="fas fa-check"></i> Access Recordings</li>
              <li>
                <i class="fas fa-check"></i> Q & A and Direct Interaction with
                Teacher
              </li>
              <li>
                <i class="fas fa-check"></i> Group Discussion in Whatsapp Group
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="list-border">
          <h2>
            Requirements of Online Yoga Classes At <br /><span
              >Yoga Vidya School?</span
            >
          </h2>
          <div class="list">
            <ul>
              <li>
                <i class="fas fa-check"></i> Laptop/ Smart Device with Good
                Internet Connection
              </li>
              <li>
                <i class="fas fa-check"></i> Zoom App for Live Streaming and
                Recordings
              </li>
              <li>
                <i class="fas fa-check"></i> Yoga Mat, Yoga Bolster, Meditation
                Cushion and Yoga Belt
              </li>
              <li>
                <i class="fas fa-check"></i> Well ventilated and Clean Space
                (Try to choose same place or space everyday)
              </li>
              <li>
                <i class="fas fa-check"></i> Enough Space to Move Your Body
                Openly and Distance from Device for Better Visibility
              </li>
              <li>
                <i class="fas fa-check"></i> Group Discussion in Whatsapp Group
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- benefits of yoga -->
<section class="benefits py-5">
  <div class="container text-center">
    <h2>
      <span>Benefits</span> of Yoga Vidya School's <br />
      Online Daily Yoga Class
    </h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-image relative">
            <img
              alt="Card Image"
              class="card-img-top"
              src="https://my-s3-images-bucket.s3.amazonaws.com/images/weightloss_zwdxox.jpg"
            />
          </div>
          <div class="card-body">
            <h3 class="card-text text-left fs-18 p-2">Weightloss Yoga</h3>
            <div class="list text-left">
              <ul>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Series of Most
                  Effective Yoga Asanas
                </li>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Stimulate the Work
                  Flow of Internal Organs
                </li>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Cause Metabolism to
                  Increase
                </li>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Burn More Calories
                </li>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Improve Circulation
                  and Increase Energy Level
                </li>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Pranayama to
                  Promote Mindful Eating
                </li>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Reduces Cortisol
                  Level
                </li>
              </ul>
            </div>
            <a href="/book-now" class="button">Join the class</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-image relative">
            <img
              alt="Card Image"
              class="card-img-top"
              src="https://my-s3-images-bucket.s3.amazonaws.com/images/streneg_qwensz.jpg"
            />
          </div>
          <div class="card-body">
            <!-- <div class="heading fw-600">Swami Atmatattwananda Saraswati</div> -->
            <h3 class="card-text text-left fs-18 p-2">Yoga for Strength</h3>
            <div class="list text-left">
              <ul>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Series of Core
                  Strengthening Asanas
                </li>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Focus on Muscle
                  Endurance
                </li>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Targets all Muscle
                  Groups for Balanced Development
                </li>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Supports Joint
                  Health
                </li>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Strengthen
                  Connective Tissues
                </li>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Enhances Mental
                  Focus
                </li>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Supports Recovery
                </li>
              </ul>
            </div>
            <a href="/book-now" class="button">Join the class</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-image relative">
            <img
              alt="Card Image"
              class="card-img-top"
              src="https://my-s3-images-bucket.s3.amazonaws.com/images/strength_nzogjk.jpg"
            />
          </div>
          <div class="card-body">
            <h3 class="card-text text-left fs-18 p-2">Yoga for Flexibility</h3>
            <div class="list text-left">
              <ul>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Asanas to Increase
                  Range of Motion
                </li>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Better Muscle
                  Elasticity
                </li>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Alleviates Muscle
                  Tightness and Tension
                </li>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Focus on Hips, Legs
                  and Spine for Balance
                </li>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Better blood flow
                  to Muscles and Joints
                </li>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Reducing the Risk
                  of Injuries
                </li>
                <li>
                  <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Tailored Poses as
                  per Flexibility Level
                </li>
              </ul>
            </div>
            <a href="/book-now" class="button">Join the class</a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <app-start-class></app-start-class>
      </div>
    </div>
  </div>
</section>

<section class="learn-from">
  <div class="row">
    <div class="col-md-6">
      <div class="border">
        <h2>
          What you will Learn in <br />Online Yoga Classes with
          <span
            >Prashant J Yoga<br />
            and Yoga Vidya School?</span
          >
        </h2>

        <div class="list">
          <ul>
            <li>
              <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" /> Proper way of
              practising Asana and Pranayama
            </li>
            <li>
              <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" /> Alignment of each
              asana practice
            </li>
            <li>
              <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" /> Modification of
              practice according to individual limitations and strengths
            </li>
            <li>
              <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" /> Maximum Individual
              Attention to each student
            </li>
            <li>
              <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" /> Shatkarma (yogic
              purification) such as neti practice
            </li>
            <li>
              <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" /> Reach a new level in
              your personal yoga and meditation practice
            </li>
            <li>
              <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" /> Learn to teach others
              with professional standards
            </li>
            <li>
              <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" /> Receive your worldwide
              Yoga Alliance accredited Yoga instructor certification
            </li>
          </ul>
        </div>
        <div class="text-center">
          <app-start-class></app-start-class>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="https://my-s3-images-bucket.s3.amazonaws.com/images/Gallery2_r52scj.jpg" />
    </div>
  </div>
</section>

<section class="core-values">
  <div><img src="https://my-s3-images-bucket.s3.amazonaws.com/img/flower-color.png" class="flower-img" /></div>
  <div class="text-center">
    <h2>Our <span>Core Values</span></h2>
    <p>
      Online Programs for every level,with enough variety to ensure you stay
      inspired
    </p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div
        class="borderall mb-2"
        *ngFor="let item of coreValues; let i = index"
      >
        <div class="row">
          <div class="col-md-1">
            <div class="icon">
              <img
                [src]="'https://my-s3-images-bucket.s3.amazonaws.com/img/' + item.image"
                class="img-fluid"
                alt="About Image"
              />
            </div>
          </div>
          <div class="col-md-11 text-left">
            <h3>
              {{ item.title }} <span>{{ item.title1 }}</span>
            </h3>
            <p class="p0">{{ item.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-start-class></app-start-class>
</section>
<app-mentors></app-mentors>
<app-benifits></app-benifits>
<section class="yoga-classes-journey">
  <div class="text-center">
    <h2>
      Take a glimpe of our
      <span
        >Yoga <br />
        Classes Journey</span
      >
    </h2>
    <small class="my-3">
      Here are some samples of our online classes to let you understand the
      quality of our teachings.
    </small>
  </div>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://my-s3-images-bucket.s3.amazonaws.com/img/image_1677479957069.JPG"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://my-s3-images-bucket.s3.amazonaws.com/img/image_1677479957069.JPG"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://my-s3-images-bucket.s3.amazonaws.com/img/image_1677479957069.JPG"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<app-testimonials></app-testimonials>
<section class="meet-with-acharya py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 image">
        <img
          src="https://my-s3-images-bucket.s3.amazonaws.com/images/ment2_pc9w3j.jpg"
          class="img-fluid"
          alt="About Image"
        />
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div>
          <h2>Meet With</h2>
          <h3><span>Acharya Prashant Jakhmola Ji</span></h3>
          <p>
            Founded by Prashant Jakhamola in 2014, Yoga Vidya School is a place
            to immerse in serious authentic yoga practice led by the best yoga
            teachers of India, in an energetic environment created for
            transformation through Yogic Movements, Mudras, Meditations,
            Philosophy, and Spiritual Lifestyle. The school emphasizes holistic
            development of the students’ mental, physical, emotional, spiritual,
            and professional life. Our curriculum of the courses is based on
            three pillars, named as Triangular Pyramid Teaching’ - Learn,
            Experience, and Share.
          </p>

          <p>
            In Rishikesh, India, the school offers the opportunity to practice
            this sacred science in the Mother Nature in the foothills of the
            Himalayas, by the banks of the river Ganges. Here you can experience
            Indian Yogic Hospitality in a beautiful accommodation facility
            located in the midst of the Himalayan lush green Rajaji forest and
            get the delicious Ayurvedic food. At Yoga Vidya School, we also
            offer Cultural immersions during the retreats and yoga TTC courses
            through visits to local attractions, Ashrams, Waterfalls, and Trek
            in the Himalayas.
          </p>

          <p>
            Outside Rishikesh, Yoga Vidya School is available in Bali, Romania,
            Russia, and France and offers the courses with translators for a
            Multilingual experience. In addition to physical presence in the
            yogic destinations, the school is now a trusted brand in the world
            for Online Education through Daily Yoga Classes, Yoga TTCs,
            Specialised Yoga Workshops, and Therapies. These programs are
            available at multiple timings suitable for worldwide time zones.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="accolade text-center">
  <h2>Recorded Yoga Classes &<span> Courses</span></h2>
  <small
    >Experience the flexibility and convenience of recorded yoga classes and
    various courses designed to fit your busy schedule and personal practice
    needs.
  </small>
  <div class="row my-5">
    <div class="col-md-6">
      <div class="list accolade">
        <ul>
          <li>
            <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Learn At Your Own Pace
          </li>
          <li>
            <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Wide Range of Classes
          </li>
          <li>
            <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Suitable for Different
            Levels
          </li>
          <li>
            <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Choose as per your Health
            Needs
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="list accolade">
        <ul>
          <li>
            <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Privacy and Comfort
          </li>
          <li>
            <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Revisit and Replay
            Sessions to Reinforce Learning
          </li>
          <li>
            <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Multiple Device
            Compatibility
          </li>
          <li><img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" />Cost Effective</li>
        </ul>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <a href="/book-now" class="button"
        >Apply Now To Become Certified Trainer</a
      >
    </div>
  </div>
</section>
<!-- <section class="online-yoga-class py-5">
    <h2>Online Yoga Class At <span>Yoga Vidya School</span> </h2>
    <small>Lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit</small>
        <small>amet. Ipsum dolor sit amet consectetur adipiscing</small>
    <div class="row my-5">
        <div class="col-md-6">
            <div  class="workshop">
                <div  class="col-md-12">
                    <img  src="https://my-s3-images-bucket.s3.amazonaws.com/img/Logo.png">
                </div>
                <div  class="details">
                    <h2 >Paid Yoga Workshops</h2>
                    <h3 >Workshop</h3>
                    <div  class="text">Online from The Land of Yoga - Rishikesh</div>
                    <div  class="but">Enroll Now<img  src="https://my-s3-images-bucket.s3.amazonaws.com/img/arrow.png"></div>
                </div>
                <div  class="right-img">
                    <img  alt="Paid Yoga Workshops" src="https://my-s3-images-bucket.s3.amazonaws.com/img/workshop2.png">
                </div>
                <div  class="contact text-left"><small >Get Any Question ?</small><small >Please call: +91 9818660954</small></div></div>
        </div>
        <div class="col-md-6 workshop2">
            <div class="row">
                <div class="details">
                    <div class="inner-details">
                        <div class="row">
                            <div class="col-md-8">
                                <small>200 Hours Online</small>
                                <h2>Yoga Teacher Training</h2><small>Sodales ut etiam sit amet nisl purus. Magna etiam tempor orci eu. Molestie </small>
                                <div class="list"><img src="https://my-s3-images-bucket.s3.amazonaws.com/img/calendar.png">
                                    <div>03 June 2024 &#64; mention time here</div>
                                </div>
                                <div class="list"><img src="https://my-s3-images-bucket.s3.amazonaws.com/img/user.png">
                                    <div>Trainer : Acharya Prashant Jakhmola</div>
                                </div>
                                <div class="but"> Enroll Now<img src="https://my-s3-images-bucket.s3.amazonaws.com/img/arrow-white.png"></div>
                            </div>
                            <div class="col-md-4"><img src="https://my-s3-images-bucket.s3.amazonaws.com/img/img1.png" alt="img" class="trainer-img"></div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="details">
                    <div class="inner-details">
                        <div class="row">
                            <div class="col-md-8">
                                <small>300 Hours Online</small>
                                <h2>Yoga Teacher Training</h2><small>Sodales ut etiam sit amet nisl purus. Magna etiam tempor orci eu. Molestie </small>
                                <div class="list"><img src="https://my-s3-images-bucket.s3.amazonaws.com/img/calendar.png">
                                    <div>03 June 2024 &#64; mention time here</div>
                                </div>
                                <div class="list"><img src="https://my-s3-images-bucket.s3.amazonaws.com/img/user.png">
                                    <div>Trainer : Acharya Prashant Jakhmola</div>
                                </div>
                                <div class="but"> Enroll Now<img src="https://my-s3-images-bucket.s3.amazonaws.com/img/arrow-white.png"></div>
                            </div>
                            <div class="col-md-4"><img src="https://my-s3-images-bucket.s3.amazonaws.com/img/img1.png" alt="img" class="trainer-img"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section> -->
<app-faq [data]="courseList?.faqInfo"></app-faq>
