<div class="know-more-section px-md-5 py-md-5 p-2">
  <div class="row">
    <div class="col-md-12">
      <div><img src="https://my-s3-images-bucket.s3.amazonaws.com/img/flower-color.png" class="flower-img" /></div>
      <h2>Know More <span>About Us</span></h2>
      <small
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      </small>
      <small
        >minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.</small
      >
    </div>
    <div class="col-md-12 text-left mb-3 faq">
      <div class="card">
        <div class="card-header">
          Question 1: What is 200 Hour Yoga Teacher Training in India?
          <div class="plus-icon">
            <i
              class="fa-solid fa-plus"

            ></i>
          </div>
        </div>
        <div class="card-body">
          <div class="desc">
            <p>
              If you are a purely beginners in the yogic journey, You might be
              thinking - what is 200 hours of yoga teachers training means?
            </p>
            <p>
              This 200 hours of yogic wisdom is very special and important which
              will make your yoga sadhana to uplift your life.Truth is the whole
              life itself is not enough to understand yoga and its practices.
              But the team at Yoga Vidya School, strongly believes if there is
              integrity and enough guidance is available, then a moment is also
              enough to pursue and live the best of yoga lifestyle.
            </p>
            <p>
              So these 200 hours are those precious hours when you put your full
              energy on raising your standard of living through ancient yogic
              techniques. Each one minute you will use in this duration, will
              work as a ladder in moving the level of your life to heights. And
              will help you to purify yourself to make you an enlightened human
              being by living the life as per Yama, Niyama, Asana, Pranayama,
              Pratyahara, Dharana, Dhyana, Samadhi.
            </p>
            <p>
              Through Asanas and Pranayama practice, you will strengthen your
              body inside and outside, and through Meditation and Philosophy,
              you will improve your mental health. Yogic Cleaning or Shat Kriyas
              will remove all the toxins from your body.
            </p>
            <p>
              In this 200 hours of your yoga journey, you will prepare your body
              through yoga asana and pranayama practice and will also strengthen
              your mind through yoga philosophy. You will use the yogic cleaning
              to purify yourself physically and also use the meditation to
              purify mentally.
            </p>
            <div class="img">
              <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/know-more.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 text-left mb-3 faq">
      <div class="card">
        <div class="card-header">
          Question 2: Why do 200 Hour Yoga Teacher Training in Yoga Vidya School Rishikesh?
          <div class="plus-icon">
            <i
              class="fa-solid fa-plus"

            ></i>
          </div>
        </div>
        <!-- <div class="card-body">

        </div> -->
      </div>
    </div>
    <div class="col-md-12 text-left mb-3 faq">
      <div class="card">
        <div class="card-header">
          Question 3: Who is the 200 hour Yoga Teacher Training For?
          <div class="plus-icon">
            <i
              class="fa-solid fa-plus"

            ></i>
          </div>
        </div>
        <!-- <div class="card-body">

        </div> -->
      </div>
    </div>
    <div class="col-md-12 text-left mb-3 faq">
      <div class="card">
        <div class="card-header">
          Question 4: Why our 200 Hour Yoga TTC is suitable for Beginners ?
          <div class="plus-icon">
            <i
              class="fa-solid fa-plus"

            ></i>
          </div>
        </div>
        <!-- <div class="card-body">

        </div> -->
      </div>
    </div>
    <div class="col-md-12 text-left mb-3 faq">
      <div class="card">
        <div class="card-header">
          Question 5: Why 200 hour Yoga Teacher Training in Rishikesh is ideal for Serious Yoga Practitioners ?
          <div class="plus-icon">
            <i
              class="fa-solid fa-plus"

            ></i>
          </div>
        </div>
        <!-- <div class="card-body">

        </div> -->
      </div>
    </div>
    <div class="col-md-12 text-left mb-3 faq">
      <div class="card">
        <div class="card-header">
          Question 6: What You Get In Our 200 Hour Yoga TTC at personal level?
          <div class="plus-icon">
            <i
              class="fa-solid fa-plus"

            ></i>
          </div>
        </div>
        <!-- <div class="card-body">

        </div> -->
      </div>
    </div>
    <div class="col-md-12 text-left mb-3 faq">
      <div class="card">
        <div class="card-header">
          Question 7: How To Prepare for 200 Hour Yoga Teacher Training?
          <div class="plus-icon">
            <i
              class="fa-solid fa-plus"

            ></i>
          </div>
        </div>
        <!-- <div class="card-body">

        </div> -->
      </div>
    </div>
  </div>
</div>
