<section class="services-section accomation_sec">
  <div class="background_img"></div>
  <div class="upper">
    <div>
      <img
        loading="lazy"
        alt="Not Loaded"
        [src]="s3Bucket.flower"
        class="flower-img"
      />
    </div>
    <h2 class="mt-2">ENJOY YOGA ROOMS mukta di kal amake teams e call o korbe r amake office eo jedin jabe sedin dakbe &<span>YOGIC FOOD</span></h2>
  </div>
  <div class="bottom">
    <div class="middle-text">
      <div class="accomodation_image">
        <img
          class="img-fluid"
          [src]="s3Bucket.room2"
          alt="Accommodation"
        />
      </div>
      <div class="accomodation_image">
        <img
          class="img-fluid"
          [src]="s3Bucket.room3"
          alt="Accommodation"
        />
      </div>
      <div class="col-md-12">
        <img
          class="img-fluid"
          [src]="s3Bucket.room3"
          alt="Accommodation"
        />
      </div>
    </div>
    <!-- <div class="bottom-abs">
      <div class="services">
        <img
          class="img-fluid br-10"
          src="https://my-s3-images-bucket.s3.amazonaws.com/images/acc4_ikf9ta.jpg"
          alt="Accomdation"
        />
      </div>
      <div class="services">
        <img
          class="img-fluid br-10"
          src="https://my-s3-images-bucket.s3.amazonaws.com/images/acc3_hbccdh.jpg"
          alt="Accomdation"
        />
      </div>
      <div class="services">
        <img
          class="img-fluid br-10"
          src="https://my-s3-images-bucket.s3.amazonaws.com/images/acc2_zwdgpr.jpg"
          alt="Accomdation"
        />
      </div>
      <div class="services">
        <img
          class="img-fluid br-10"
          src="https://my-s3-images-bucket.s3.amazonaws.com/images/acc1_e2fcux.jpg"
          alt="Accomdation"
        />
      </div>
    </div> -->
  </div>
</section>
