<section class="services-section accomation_sec">
  <div class="background_img"></div>
  <div class="upper">
    <div>
      <img
        loading="lazy"
        alt="Not Loaded"
        [src]="s3Bucket.flower"
        class="flower-img"
      />
    </div>
    <h2 class="mt-2">ENJOY YOGA ROOMS & <span>YOGIC FOOD</span></h2>
  </div>
  <div class="bottom pb-5">
    <div class="middle-text image-grid">
      <div class="grid-item">
        <img class="img-fluid" [src]="s3Bucket.room2" alt="Room 1" />
      </div>
      <div class="grid-item">
        <img class="img-fluid" [src]="s3Bucket.room3" alt="Room 2" />
      </div>
      <div class="grid-item full-width">
        <img class="img-fluid" [src]="s3Bucket.food" alt="Yogic Food" />
      </div>
    </div>
    <!-- <div class="bottom-abs">
      <div class="services">
        <img
          class="img-fluid br-10"
          src="https://my-s3-images-bucket.s3.amazonaws.com/images/acc4_ikf9ta.jpg"
          alt="Accomdation"
        />
      </div>
      <div class="services">
        <img
          class="img-fluid br-10"
          src="https://my-s3-images-bucket.s3.amazonaws.com/images/acc3_hbccdh.jpg"
          alt="Accomdation"
        />
      </div>
      <div class="services">
        <img
          class="img-fluid br-10"
          src="https://my-s3-images-bucket.s3.amazonaws.com/images/acc2_zwdgpr.jpg"
          alt="Accomdation"
        />
      </div>
      <div class="services">
        <img
          class="img-fluid br-10"
          [src]="s3Bucket.food"
          alt="Accomdation"
        />
      </div>
    </div> -->
  </div>
</section>
