<section class="mentors">
  <div class="row">
    <div class="col-md-12">
      <div>
        <img
          loading="lazy"
          alt="Not Loaded"
          src="https://my-s3-images-bucket.s3.amazonaws.com/img/flower-color.png"
          class="flower-img"
        />
      </div>
      <h2>Our <span>Mentors</span></h2>
    </div>
    <div class="col-lg-3 col-md-6 mt-3" *ngFor="let master of mentorList">
      <div class="card">
        <div
          class="card-image relative"
          (click)="openModal(master.slug)"
          style="cursor: pointer"
        >
          <img
            [defaultImage]="
              'https://my-s3-images-bucket.s3.amazonaws.com/img/avatar.jpg'
            "
            [lazyLoad]="imageUrl + master.picture"
            alt="{{ master.title }}"
            class="img-fluid"
          />
        </div>
        <div class="card-body">
          <div
            class="heading fw-600"
            (click)="openModal(master.slug)"
            style="cursor: pointer"
          >
            {{ master.name }}
          </div>
          <p class="card-text">{{ master.title }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Bootstrap Modal -->
<div
  class="modal fade show"
  tabindex="-1"
  role="dialog"
  style="display: block"
  *ngIf="showModal"
>
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="selectedMentor">
          {{ selectedMentor.name }}
        </h5>
        <h5
          class="modal-title"
          *ngIf="selectedMentorSlug == 'acharya-prashant-jakhmola'"
        >
          Acharya Prashant Jakhmola
        </h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Prashant Static Content -->
        <div *ngIf="selectedMentorSlug == 'acharya-prashant-jakhmola'">
          <section class="patern-bg2">
            <div class="container-fluid">
              <div class="row">
                <div class="row mb-3 align-items-center animation-prop">
                  <div class="imageback col-lg-6 col-12">
                    <img
                      class="img-fluid"
                      [src]="s3Bucket.prashnatJiAbout1"
                      alt="Acharya Prashant Jakhmola"
                    />
                  </div>
                  <div class="col-lg-6 col-12 cl-padding">
                    <p class="text-dark mentor-para">
                      Yoga started in my life from Shivananda Yoga Ashram, when
                      I was only 17 years old. At that time I joined the yoga
                      classes only for physical health. But there is a saying
                      that if at any time you engage yourself dedicatedly in
                      spiritual activities, your whole body and mind continue to
                      motivate you to go in the right direction. This is what
                      happened to me. During my practices at Sivananda, I was in
                      numerous thoughts and life was progressing towards
                      spirituality. I learnt Iyengar Yoga at Shivananda Ashram
                      for two years and then I chose the way for Satyananda Yoga
                      Institution in Bihar (first yoga university in India).
                    </p>
                    <p class="text-dark mentor-para">
                      I completed my graduation while staying at Shivananda
                      Ashram. Since I done my graduation with Biology, it has
                      further increased my relationship with Yoga, especially
                      the anatomy and how it affects the deeper body, mind and
                      emotions. As soon as I finished my established studies I
                      went to Bihar School of Yoga in 2012 where I practiced
                      Karma Yoga, and that was a turning point of my life. From
                      here I gave the right direction to my life and made yoga
                      as my ultimate aim. I met my first yogini guru - Swamini
                      Satsangini ji from whom I took Diksha and entered into a
                      deeper yogic life.
                    </p>
                  </div>
                </div>
                <div class="row mb-3 align-items-center">
                  <div class="col-lg-6 col-12 cl-padding">
                    <p class="text-dark mentor-para">
                      After one year of practicing in Bihar Yoga Institute and
                      receiving the instructor letter I came back to Rishikesh
                      for my post graduatation. As it was already cleared in my
                      mind, when I was in Bihar school of Yoga, so I continued
                      my post-graduation in the field of Yoga at Uttarakhand
                      Sanskriti University. On the side, I was also exploring
                      the ancient texts and vedic practice with scholars at
                      various Ashrams like Kailash Ashram in Rishikesh. While
                      pursuing my postgraduate degree, I was introduced to
                      Ashtanga Vinyasa Yoga by Saraswathi Jois (daughter of K.
                      Pattabhi Jois, father of Ashtanga Vinyasa Yoga). She
                      became my second guru, who taught me Ashtanga vinyasa in
                      Mysore, the place I visit regularly for my practice. My
                      past journey and experience in Yoga motivated me to do PhD
                      in Yoga.
                    </p>
                    <p class="text-dark mentor-para">
                      After coming from Bihar school of Yoga, I started teaching
                      drop-in classes in Rishikesh and started sharing my
                      experience to the world. At beginning I was teaching for
                      free and started teaching early in the morning 4:30 AM to
                      local students. I always wanted to create disciplined
                      Yogis who can spread this discipline of Yoga tradition to
                      the World.
                    </p>
                  </div>
                  <div class="imageback col-lg-6 col-12">
                    <img
                      class="img-fluid"
                      [src]="s3Bucket.prashnatJiAbout2"
                      alt="Acharya Prashant Jakhmola"
                    />
                  </div>
                </div>
                <div class="row mb-3 align-items-center">
                  <div class="imageback col-lg-6 col-12">
                    <img
                      class="img-fluid"
                      [src]="s3Bucket.prashnatJiAbout3"
                      alt="Acharya Prashant Jakhmola"
                    />
                  </div>
                  <div class="col-lg-6 col-12 cl-padding">
                    <p class="text-dark mentor-para">
                      While teaching drop-in classes in Rishikesh I met so many
                      practitioners from different parts of the World. Looking
                      at the transformation and positive changes in my students,
                      it motivated me more to continue my practice and
                      teachings. I was invited by numerous yoga schools in
                      Rishikesh to teach Hatha Yoga. During this time I taught
                      in Yoga Teacher Training, Workshops, Yoga Festivals,
                      Retreats and Health events and seminars in India and
                      abroad. I was invited as guest speaker at Yoga Conference
                      by Yoga Journal in Russia.
                    </p>
                    <p class="text-dark mentor-para">
                      During this journey of teachings at different places, I
                      was continuously asked to start my own programs for those
                      who want to deepen their yoga practices. So I decided to
                      create residential yoga school; Yoga Vidya School at
                      Rishikesh in 2016. Yoga Vidya School was created with the
                      aim to spread authentic yoga knowledge through special
                      Yoga Programs, Yoga Teacher Training, Workshops, Retreats
                      and Mind developing practices. In this yoga school, I am
                      continuously putting efforts to build a team of dedicated
                      yogis who can share the tradition of yoga in its purest
                      form.
                    </p>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-lg-12 mb-3">
                    <img
                      class="img-fluid main-image-mentor shadow"
                      src="https://my-s3-images-bucket.s3.amazonaws.com/images/ment6_k2zkjy.jpg"
                      alt="Acharya Prashant Jakhmola"
                    />
                  </div>
                  <div class="col-lg-12 mb-3 cl-padding">
                    <p class="text-dark mentor-para">
                      During Covid, I decided to help and serve my students and
                      the world through Online offerings and so I created
                      exclusive courses like Breath Detox and Pranic
                      Purification, focused on Pranayama and Breath Work. During
                      this time, I created Youtube; Prashant J Yoga to reach the
                      masses and guide people with right techniques of yoga.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="appreciation in-school mb-3">
            <div class="container-fluid">
              <div class="row m-0">
                <div class="col-lg-12">
                  <div class="main-icon text-center">
                    <img
                      src="https://my-s3-images-bucket.s3.amazonaws.com/img/flower-color.png"
                      alt="Our Yoga Masters"
                      class="img-fluid flower-img"
                      width="300"
                    />
                  </div>
                  <div class="heading-wrapper text-center">
                    <div class="title">
                      <h2 class="mb-4">Photo Gallery</h2>
                    </div>
                  </div>
                  <div class="yoga-course-gallery-main-div">
                    <div class="yoga-course-big-img-first-div">
                      <img
                        src="https://my-s3-images-bucket.s3.amazonaws.com/images/gallery-ment1_awcavd.jpg"
                        alt="Yoga vidya school rishikesh"
                      />
                    </div>
                    <div class="yoga-course-big-img-second-div">
                      <div>
                        <img
                          src="https://my-s3-images-bucket.s3.amazonaws.com/images/gallery-ment2_mjrvlw.jpg"
                          alt="Yoga vidya school rishikesh"
                        />
                      </div>
                      <div>
                        <img
                          src="https://my-s3-images-bucket.s3.amazonaws.com/images/gallery-ment3_c6gl16.jpg"
                          alt="Yoga vidya school rishikesh"
                        />
                      </div>
                      <div>
                        <img
                          src="https://my-s3-images-bucket.s3.amazonaws.com/images/gallery-ment4_b3t0yt.jpg"
                          alt="Yoga vidya school rishikesh"
                        />
                      </div>
                      <div>
                        <img
                          src="https://my-s3-images-bucket.s3.amazonaws.com/images/gallery-ment5_iljrqa.jpg"
                          alt="Yoga vidya school rishikesh"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="mycourses appreciation in-school mb-3">
            <div class="container-fluid shadow">
              <div class="row m-0">
                <div class="col-lg-12">
                  <div class="main-icon text-center">
                    <img
                      src="https://my-s3-images-bucket.s3.amazonaws.com/img/flower-color.png"
                      alt="Our Yoga Masters"
                      class="img-fluid flower-img"
                      width="300"
                    />
                  </div>
                  <div class="heading-wrapper text-center">
                    <div class="title">
                      <h2 class="mb-4">My courses</h2>
                    </div>
                  </div>
                  <div class="container mt-5 courseCard">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="card">
                          <img
                            src="https://my-s3-images-bucket.s3.amazonaws.com/images/breath-detox-ment_a7oxtw.jpg"
                            class="card-img-top"
                            alt=""
                          />
                          <div class="card-body">
                            <h5 class="card-title">Breath Detox</h5>
                            <p class="card-text">
                              Exclusively designed by Prashant J Yoga, this FREE
                              Yogic Breathing course focused on the correction
                              or the purification of the Five Vayus (Panch
                              Pranas). Improve your breathing habit, lung
                              capacity and correct the unusual rate and length
                              of breath through ancient breathing techniques and
                              body movements.
                            </p>
                            <a
                              routerLink="/breath-detox-yoga"
                              class="btn btn-primary cardBtn"
                              (click)="closeModal()"
                              >Join Today</a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card">
                          <img
                            src="https://my-s3-images-bucket.s3.amazonaws.com/images/pra-ment_netfq7.jpg"
                            class="card-img-top"
                            alt=""
                          />
                          <div class="card-body">
                            <h5 class="card-title">Pranarambha</h5>
                            <p class="card-text">
                              PranAarmbha means the beginning of Prana or
                              Energy. Get ready to experience a brilliant series
                              of Pranayama practice to improve the energy and
                              productivity of the day. Empower your mind and
                              emotions with various types of breathing
                              techniques guided by Prashant J Yoga.
                            </p>
                            <a href="#" class="btn btn-primary cardBtn"
                              >Join Today</a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card">
                          <img
                            src="https://my-s3-images-bucket.s3.amazonaws.com/images/online-yoga-ment_crec00.jpg"
                            class="card-img-top"
                            alt=""
                          />
                          <div class="card-body">
                            <h5 class="card-title">Online Yoga Classes</h5>
                            <p class="card-text">
                              Daily Morning Yoga Sadhana with Prashant J Yoga is
                              an opportunity to practice correct yoga everyday
                              and make your life more healthy and productive.
                              These Hatha Yoga focused classes are combined with
                              Pranayama practices which provides better results
                              in terms of Physical, Mental and Spiritual growth.
                            </p>
                            <a
                              routerLink="/online-yoga-classes"
                              class="btn btn-primary cardBtn"
                              (click)="closeModal()"
                              >Join Today</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!-- Other Mentors Dynamic Content -->
        <div
          *ngIf="
            selectedMentorSlug != 'acharya-prashant-jakhmola' && selectedMentor
          "
        >
          <section class="patern-bg2">
            <div class="container-fluid">
              <div class="row master">
                <div class="col-lg-9">
                  <div class="heading-wrapper title text-left flex">
                    <h1>{{ selectedMentor?.name }}</h1>
                    <p>
                      <span>{{ selectedMentor?.title }}</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div
                  class=""
                  [innerHTML]="
                    sanitizer.bypassSecurityTrustHtml(selectedMentor.intro)
                  "
                ></div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Backdrop -->
<div
  class="modal-backdrop fade show"
  *ngIf="showModal"
  (click)="closeModal()"
></div>
