<section class="schedule-section py-5" *ngIf="eventList?.length > 0">
  <div class="row">
    <div class="col-md-12">
      <div><img loading="lazy" alt="Not Loaded" src="https://my-s3-images-bucket.s3.amazonaws.com/img/flower-color.png" class="flower-img" /></div>
      <h2>Our Upcoming <span>{{title}}</span></h2>
      <small>
        Whether you are looking to deeper your yoga journey or want to become a professional yoga teacher to teach anywhere in the world, our 200 Hour Yoga Teacher Training events are the perfect opportunity to experience the world of authentic yoga practices.
      </small>
    </div>
  </div>
  <div class="inner-section" *ngFor="let event of eventList">
    <div class="row">
      <div class="col-md-3">
        <div class="left">
          <img loading="lazy" alt="Not Loaded" src="https://my-s3-images-bucket.s3.amazonaws.com/img/schedule-img.png" class="img-fluid" />
          <div class="rating">
            <div class="star">
              <!-- <div class="cart-count">4.5/5</div> -->
              <div class="icon">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
            <div class="text">{{event.space}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="middle">
          <h5>{{event.title}}</h5>
          <p class="sub-heading">{{event.subTitle}}</p>
          <div class="name">Trainer - {{event.trainer}}</div>
          <div class="details">
            <div><img loading="lazy" alt="Not Loaded" src="https://my-s3-images-bucket.s3.amazonaws.com/img/time.png" />{{event.time}}</div>
            <div><img loading="lazy" alt="Not Loaded" src="https://my-s3-images-bucket.s3.amazonaws.com/img/calendar1.png" />{{event.date}}</div>
            <div><img loading="lazy" alt="Not Loaded" src="https://my-s3-images-bucket.s3.amazonaws.com/img/vcam.png" />{{event.mode}}</div>
            <div><img loading="lazy" alt="Not Loaded" src="https://my-s3-images-bucket.s3.amazonaws.com/img/doc.png" />{{event.perk}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="right">
          <a class="visit-now btn btn-primary" href="{{event.redirectUrl}}">Visit Now</a>
          <!-- <a class="" href="">Get In Touch</a> -->
          <p>Terms & Conditions Apply*</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="inner-section">
    <div class="row">
      <div class="col-md-3">
        <div class="left">
          <img loading="lazy" src="https://my-s3-images-bucket.s3.amazonaws.com/img/schedule-img.png" class="img-fluid" />
          <div class="rating">
            <div class="star">
              <div class="cart-count">4.5/5</div>
              <div class="icon">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
            <div class="text">Average Review</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="middle">
          <h2>Best Yoga Workshop In Bali, Indonasia</h2>
          <p class="sub-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
          <div class="name">Trainer - Prashant J  </div>
          <div class="details">
            <div><img loading="lazy" src="https://my-s3-images-bucket.s3.amazonaws.com/img/time.png" /> 4:00 PM - 8:30 PM,</div>
            <div><img loading="lazy" src="https://my-s3-images-bucket.s3.amazonaws.com/img/calendar1.png" /> May 14, 2023</div>
            <div><img loading="lazy" src="https://my-s3-images-bucket.s3.amazonaws.com/img/vcam.png" /> On Zoom Meeting/ Location</div>
            <div><img loading="lazy" src="https://my-s3-images-bucket.s3.amazonaws.com/img/doc.png" /> Certification Will Provide </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="right">
          <button class="visit-now">Visit Now</button>
          <button class="">Get In Touch</button>
          <p>Terms & Conditions Apply*</p>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="inner-section">
    <div class="row">
      <div class="col-md-3">
        <div class="left">
          <img loading="lazy" src="https://my-s3-images-bucket.s3.amazonaws.com/img/schedule-img.png" class="img-fluid" />
          <div class="rating">
            <div class="star">
              <div class="cart-count">4.5/5</div>
              <div class="icon">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
            <div class="text">Average Review</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="middle">
          <h2>Best Yoga Workshop In Bali, Indonasia</h2>
          <p class="sub-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
          <div class="name">Trainer - Prashant J  </div>
          <div class="details">
            <div><img loading="lazy" src="https://my-s3-images-bucket.s3.amazonaws.com/img/time.png" /> 4:00 PM - 8:30 PM,</div>
            <div><img loading="lazy" src="https://my-s3-images-bucket.s3.amazonaws.com/img/calendar1.png" /> May 14, 2023</div>
            <div><img loading="lazy" src="https://my-s3-images-bucket.s3.amazonaws.com/img/vcam.png" /> On Zoom Meeting/ Location</div>
            <div><img loading="lazy" src="https://my-s3-images-bucket.s3.amazonaws.com/img/doc.png" /> Certification Will Provide </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="right">
          <button class="visit-now">Visit Now</button>
          <button class="">Get In Touch</button>
          <p>Terms & Conditions Apply*</p>
        </div>
      </div>
    </div>
  </div> -->

</section>
