.includes{
    text-align: left;
    background: radial-gradient(circle, rgba(255, 245, 219, 0.94) 60%, rgba(249, 117, 30, 0.21) 110%);
    background: -moz-radial-gradient(circle, rgba(255, 245, 219, 0.94) 60%, rgba(249, 117, 30, 0.21) 110%);
    background: -webkit-radial-gradient(circle, rgba(255, 245, 219, 0.94) 60%, rgba(249, 117, 30, 0.21) 110%);
    .borderall{
        border: 2px dashed red;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    }
    .lists{
        ul{
            li{
                list-style: none;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                gap: 10px;
                img{
                    width:5%;
                }
                
            }
        }
    }
}