<section class="includes" *ngIf="amenities.length > 0">
  <div class="row">
    <div class="col-md-6 borderall">
      <div class="mb-3" *ngIf="feesData?.amount">
        <h2>Course Fee: {{ feesData?.amount }} {{ feesData?.currency }}</h2>
      </div>
      <div class="mb-3">
        <h2>What Does This Yoga Course</h2>
        <h2><span>Package Include?</span></h2>
        <div class="lists">
          <ul>
            <li *ngFor="let item of amenities">
              <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" /> {{ item.text }}
            </li>
          </ul>
        </div>
      </div>
      <div class="mb-3">
        <h2>What Is <span>Not Included</span> In This</h2>
        <h2>Yoga Package?s</h2>
        <div class="lists">
          <ul>
            <li *ngFor="let item of not_includes">
              <img src="https://my-s3-images-bucket.s3.amazonaws.com/img/check-green.png" /> {{ item.text }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="img-border">
        <img [src]="image" class="img-fluid" alt="About Image" />
      </div>
    </div>
  </div>
</section>
