<section class="code-conduct py-5" *ngIf="cdData && guidelines.length > 0">
  <div><img alt="flower-img" src="https://my-s3-images-bucket.s3.amazonaws.com/img/flower-color.png" class="flower-img" /></div>
  <h2>Code of Conduct at <span>{{cdData?.title}}</span></h2>
  <span>Sodales ut etiam sit amet nisl purus. Magna etiam tempor orci eu.</span>
  <span> Molestie nunc non blandit massa enim.</span>
  <div class="row">
    <div class="col-md-12 my-4">
      <div class="list">
        <ul>
          <li *ngFor="let item of guidelines">
            <img alt="starcheck-img" src="https://my-s3-images-bucket.s3.amazonaws.com/img/starcheck.png" /> {{item.text}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
