<section class="tt-rishikesh section-fower">
  <div class="row">
    <div class="col-md-12">
      <div><img loading="lazy" alt="Not Loaded" src="https://my-s3-images-bucket.s3.amazonaws.com/img/flower-color.png" class="flower-img"></div>
      <h2>Best Yoga Teacher Training in Rishikesh ,India</h2>
      <p>Yoga Vidya School, <span>best yoga teacher training school in Rishikesh India</span> ,provides help and steering by giving the self-discipline and spiritual tools that helps you to grow and go deeper into your inner self.</p>
    </div>
  </div>
    <div class="row">
      <div class="col-md-6 mb-4" *ngFor="let item of items">
        <div class="dotted-border p-3">
          <div class="row">
            <div class="col-md-2 col-xs-12 d-flex align-items-center">
              <img [src]="'https://my-s3-images-bucket.s3.amazonaws.com/img/'+item.image" class="img-fluid rounded-circle" alt="Rounded Image">
            </div>
            <div class="col-md-10 col-xs-12 d-flex align-items-center" [innerHTML]="item.title">
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
