<!-- <main id="main"> -->
  <section class="mb-5 patern-bg2">
    <div class="container">
      <div class="row">
        <div class="col_full nobottommargin cms">
          <div class="payment-div mb-5">
            <h4>PAYMENT</h4>
            <p>
              PayPal - You can deposit your advance fees through PayPal account.
              Just click the pay now button to pay the advance course fee which
              is USD 300.
            </p>
          </div>

          <div class="refund-div mb-5">
            <h4>REFUND POLICY FOR NATIONAL AND INTERNATIONAL STUDENTS</h4>
            <p>
              The deposit fee represents 300 USD and is required to book
              accommodation for a student. Students can pay deposit fee via
              PayPal account. Together with PayPal transfer charge deposits fee
              is 310 USD. This deposit fee is a part of the entire course fee.
              It is not refundable, however if you can not come for the course
              after paying the deposits fee, you can transfer it for any other
              future course with our school within one year. The rest of the
              course fee students can submit by cash at arrival within first
              three days. No refunds are available on cancellation after
              submitting and starting the course.
            </p>
          </div>
          <div class="mb-5">
            <h4>CONTACT US</h4>
            <p>
              We understand that queries regarding payments or refunds may
              arise. For assistance with any payment-related inquiries or refund
              requests, please feel free to contact us at +91 9818660954.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- </main> -->
