<section class="mentors" *ngIf="courseMentor.length > 0">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div>
        <img
          loading="lazy"
          alt="Not Loaded"
          src="https://my-s3-images-bucket.s3.amazonaws.com/img/flower-color.png"
          class="flower-img"
        />
      </div>
      <!-- <h2>
        Choose the <span>Online Yoga Class</span> and the Time Slot You Like
      </h2> -->
      <div class="online-about">
        <p>
          Create a healthy routine from our daily Online classes Yoga Asana and
          Pranayama to help you stay healthy, active, calm and focused.<br />
          Yoga Vidya Team welcomes you to join daily online yoga classes.<br />
          In our classes you will get authentic and insightful sessions related
          to healthy lifestyle, Asanas, Pranayama, Meditation, Mindfulness and
          Yogic Philosophy.
        </p>
        <p>
          We have classes suitable for all levels of yoga practitioners:
          beginners to experienced
        </p>
        <p>
          Guided by highly experienced yoga teachers, you will find exciting
          yoga classes revolving around strengthening the body, flexibility,
          correct alignment, detox, hamstrings, hip opening, inversions and so
          much more.
        </p>
      </div>
    </div>
    <div class="col-md-12 my-3 time-range">
      <h2>
        <span>Live Session -</span> New Batch starts the first monday of every
        month
      </h2>
      <div class="online-about">
        <p>
          These classes are completely live. You can make or organise your life
          better by coming regularly in these classes according to your time.
          Our aim is to bring yoga to all around the world. Yoga is one such
          medium which provides you physical, mental and spiritual healthiness.
        </p>
        <p>
          Regular online yoga classes are an excellent opportunity for people
          who are looking for a healthy lifestyle or knowledgeable yoga classes
          from the comfort of their home.
        </p>
      </div>
      <div class="online-about">
        <h2>Recordings will be available</h2>
        <p>
          You will also receive recordings after every class finishes, so in
          case you can´t make it live or you want to see and understand these
          classes again, you can avail.
        </p>
      </div>
    </div>
    <div class="col-md-12">
      <h2><span>Next batches starts</span></h2>
    </div>
    <div class="col-md-9 mb-4" *ngFor="let men of courseMentor">
      <div class="card">
        <div class="card-container">
          <!-- Image Section -->
          <div class="card-image">
            <img
              loading="lazy"
              alt="Card Image"
              class="card-img-top"
              [src]="imageUrl + men.image"
            />
          </div>

          <!-- Content Section -->
          <div class="content-section">
            <div class="heading fw-600">{{ men.name }}</div>
            <p class="card-text">{{ men.intro }}</p>

            <div class="d-flex justify-content-evenly">
              <!-- <b> <a href="/book-now" class="button "  style="font-size: 24px !important;">Book Now!</a></b>  -->
              <b
                ><a
                  *ngIf="isShowAddToCart"
                  class="button blinking"
                  (click)="addToCart($event, men.id)"
                  style="font-size: 24px !important"
                  >Book Now!</a
                ></b
              >
            </div>
            <!-- <div class="d-flex justify-content-evenly">
                <a *ngIf="isShowAddToCart" class="button" href="#" class="button" (click)="addToCart($event, men.id)">Add To Cart</a>
              </div> -->
            <div class="d-flex justify-content-center">
              <a *ngIf="men.time" href="javascript:void(0)" class="button">{{
                men.time
              }}</a>
              <a *ngIf="men.time1" href="javascript:void(0)" class="button">{{
                men.time1
              }}</a>
              <a
                *ngIf="men.time2"
                href="javascript:void(0)"
                class="button time2"
                >{{ men.time2 }}</a
              >
            </div>
            <!-- <div class="d-flex justify-content-evenly">
                <a *ngIf="men.price" href="javascript:void(0)" (click)="addToCart($event, men.id)" class="button">{{ men.price }}</a>
              </div>   -->

            <div class="description" [innerHTML]="men.description"></div>
          </div>
        </div>
        <div class="card-body"></div>
      </div>
    </div>

    <app-start-class></app-start-class>
  </div>
</section>
