@import url("../course-mentor/course-mentor.component.css");
.headingBlock {
  font-weight: bold;
  color: #898080;
  span {
    font-weight: bold;
    color: #898080;
  }
}
.heroBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 90%;
    height: auto;
    max-height: 554px;
    object-fit: cover;
    border-radius: 35px;
  }
}
.sadhak-section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  gap: 10px;
  p {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
}
.bottom-part {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 0 140px;
}
.sadhak-icon {
  width: 134px !important;
  height: 36px !important;
  object-fit: cover !important;
}
.btn-style-two {
  padding: 10px 32px;
  line-height: 24px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(left, #b9e086, #6ac5f2);
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 22px;
}
.btn-style-two:hover {
  color: #212121;
}
.headingBlock {
  justify-content: center;
  text-align: center;
}
.about-image {
  display: flex;
  justify-content: center;
}
.white-bg-design {
  padding: 20px;

  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
}
.rightbg {
  background-color: #f8eed8;
}
.sidebar-about {
  margin-top: 15px;
  font-family: "Andika", sans-serif;
}
