<section
  class="course-online-videos mb-3 mt-5"
  *ngIf="userId && onlineCheck && studentValidated"
>
  <h2 class="text-center">COURSE VIDEOS</h2>
  <p class="text-center">Start Your {{ courseList?.coursetitle }} Now!</p>
  <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li class="nav-item" *ngFor="let vid of reverseArr; let i = index">
        <a
          class="nav-link text-dark"
          [ngClass]="i == 0 ? 'active' : ''"
          aria-current="page"
          data-bs-toggle="tab"
          href="#tab{{ vid?.dayNumber }}"
          (click)="setDataFeedbackV2(i + 1)"
          >{{ vid.title }}</a
        >
      </li>
    </ul>

    <div class="tab-content">
      <div
        *ngFor="let dt of reverseArr; let i = index"
        class="tab-pane fade"
        [ngClass]="i == 0 ? 'show active' : ''"
        id="tab{{ dt?.dayNumber }}"
      >
        <div class="row mt-3" *ngIf="dt.isShow">
          <div class="col-lg-8">
            <div class="video-container">
              <!-- <video
                preload="auto"
                #videoPlayer
                (play)="onVideoPlay(dt.updateId)"
                src="{{ dt.url }}"
                controls
                controlsList="nodownload"
                playsinline
              >
                Your browser does not support the video tag.
              </video> -->
              <video *ngIf=" slug != 'pranayama-course-online-pranarambha'"
               [attr.id]="'plyrID-' +  i"
                controls
                playsinline
                (play)="onVideoPlay(dt.updateId)"
                controlsList="nodownload"
                (timeupdate)="onTimeUpdate($event, dt?.dayNumber)"
                #videoPlayer
              >
                <source src="{{ dt.url }}" type="video/mp4" />
              </video>
              <video *ngIf=" slug == 'pranayama-course-online-pranarambha'"
              [attr.id]="'plyrID-' +  dt.updateId"
               controls
               playsinline
               (play)="onVideoPlay(dt.updateId)"
               controlsList="nodownload"
               (timeupdate)="onTimeUpdate($event, dt?.dayNumber)"
               #videoPlayer
             >              
             </video>
            </div>
          </div>
          <div class="col-lg-4 mt-3">
            <form #feedback="ngForm">
              <div
                class="row"
                *ngIf="
                  slug != 'breath-detox-yoga' &&
                  slug != 'pranayama-course-online-pranarambha'
                "
              >
                <div class="col-lg-12 form-group mb-3" *ngIf="i == 4">
                  <label for=""
                    ><strong>Video Review (*mandatory)</strong></label
                  ><br />
                  <p>
                    Please record a small video on your phone and upload the
                    file here. <br />
                    This is your contribution in making people understand about
                    the results of true yogic practices and thus we can make
                    better platform for knowledge and health seekers.<br />
                    Duration: 1 minute - 2 minute.
                  </p>
                  <input
                    type="file"
                    name="video"
                    (change)="getVideoFileV2($event)"
                  />
                </div>
                <div class="col-lg-12" *ngIf="i == 4">
                  <button
                    style="background-color: #fd7e14; border: none"
                    type="submit"
                    class="btn btn-primary form-control"
                    (click)="getFeedbackV2(feedbackData, i + 1, '')"
                  >
                    Submit
                  </button>
                </div>
              </div>

              <div
                class="row"
                *ngIf="slug == 'pranayama-course-online-pranarambha'"
              >
                <div *ngIf="!feedbackCounter">
                  <div class="col-lg-12 form-group mb-3" *ngIf="i == 9">
                    <label for=""
                      ><strong>Video Review (*mandatory)</strong></label
                    ><br />
                    <p>
                      Please record a small video on your phone and upload the
                      file here. <br />
                      This is your contribution in making people understand
                      about the results of true yogic practices and thus we can
                      make better platform for knowledge and health seekers.<br />
                      Duration: 1 minute - 2 minute.
                    </p>
                    <input
                      type="file"
                      name="video"
                      accept="video/*"
                      (change)="getVideoFileV2($event)"
                    />
                  </div>
                  <div class="col-lg-12" *ngIf="i == 9">
                    <button
                      style="background-color: #fd7e14; border: none"
                      type="submit"
                      class="btn btn-primary form-control"
                      (click)="getFeedbackV2(feedbackData, i + 2, '')"
                    >
                      Submit
                    </button>
                  </div>
                </div>
                <div *ngIf="i == 9 && feedbackCounter">
                  <h2 class="text-center">Video Already Submitted</h2>
                </div>
              </div>

              <div
                class="row"
                *ngIf="slug == 'breath-detox-yoga' && dt.questions.length"
              >
                <div class="col-lg-12 form-group" *ngIf="i == 4">
                  <label for=""
                    ><strong>Video Review (*mandatory)</strong></label
                  ><br />
                  <p>
                    Please record a small video on your phone and upload the
                    file here. <br />
                    This is your contribution in making people understand about
                    the results of true yogic practices and thus we can make
                    better platform for knowledge and health seekers.<br />
                    Duration: 1 minute - 2 minute.
                  </p>
                  <input
                    type="file"
                    name="video"
                    (change)="getVideoFileV2($event)"
                  />
                </div>
                <div
                  class="col-lg-12 form-group"
                  *ngFor="let ques of dt.questions; let q = index"
                >
                  <label for=""
                    ><strong>{{ ques }}</strong></label
                  >
                  <textarea
                    class="form-control"
                    name="question{{ q + 1 }}"
                    [(ngModel)]="feedbackData['question' + '' + (q + 1)]"
                    maxlength="100"
                    rows="5"
                    placeholder="Please enter your feedback in 100 characters max."
                  ></textarea>
                </div>
                <div class="col-lg-12">
                  <button
                    style="background-color: #fd7e14; border: none"
                    type="submit"
                    class="btn btn-primary form-control"
                    (click)="getFeedbackV2(feedbackData, i + 1, dt.questions)"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="text center mb-3 mt-5" *ngIf="!dt.isShow">
          <p class="h2">Please watch Previous Day video first.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section
  class="course-online-videos mb-3"
  *ngIf="userId && onlineCheck && studentValidated"
>
  <h2 class="text-center">COURSE VIDEOS</h2>
  <p class="text-center">Start Your {{ courseList?.coursetitle }} Now!</p>
  <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li class="nav-item" *ngFor="let vid of reverseArr; let i = index">
        <a
          *ngIf="slug == 'breath-detox-yoga'"
          class="nav-link text-dark"
          [ngClass]="i == 0 ? 'active' : ''"
          aria-current="page"
          data-bs-toggle="tab"
          href="#tab{{ vid.id }}"
          (click)="setDataFeedback(i, reverseArr[i - 1].hashed_id)"
          >{{ vid.name }}</a
        >
        <a
          *ngIf="slug != 'breath-detox-yoga'"
          class="nav-link text-dark"
          [ngClass]="i == 0 ? 'active' : ''"
          aria-current="page"
          data-bs-toggle="tab"
          href="#tab{{ vid.id }}"
          (click)="setDataFeedback(i + 1, reverseArr[i - 1].hashed_id)"
          >{{ vid.name }}</a
        >
      </li>
    </ul>

    <div class="tab-content">
      <div
        *ngFor="let dt of reverseArr; let i = index"
        class="tab-pane fade"
        [ngClass]="i == 0 ? 'show active' : ''"
        id="tab{{ dt.id }}"
      >
        <div class="row mt-3" *ngIf="dt.isShow">
          <div class="col-lg-8">
            <wistia-video
              controls
              src="https://yogavidyaschool.wistia.com/medias/{{ dt.hashed_id }}"
            ></wistia-video>
          </div>
          <div class="col-lg-4 mt-3">
            <form #feedback="ngForm" *ngIf="!this.feedbackCounter">
              <div
                class="row"
                *ngIf="
                  slug != 'breath-detox-yoga' &&
                  slug != 'pranayama-course-online-pranarambha'
                "
              >
                <div class="col-lg-12 form-group" *ngIf="i == 4">
                  <label for=""
                    ><strong>Video Review (*mandatory)</strong></label
                  ><br />
                  <p>
                    Please record a small video on your phone and upload the
                    file here. <br />
                    This is your contribution in making people understand about
                    the results of true yogic practices and thus we can make
                    better platform for knowledge and health seekers.<br />
                    Duration: 1 minute - 2 minute.
                  </p>
                  <input
                    type="file"
                    name="video"
                    (change)="getVideoFile($event)"
                  />
                </div>
                <div class="col-lg-12" *ngIf="i == 4">
                  <button
                    style="background-color: #fd7e14; border: none"
                    type="submit"
                    class="btn btn-primary form-control"
                    (click)="
                      getFeedback(
                        feedbackData,
                        i + 1,
                        dt.hashed_id,
                        reverseArr.length
                      )
                    "
                  >
                    Submit
                  </button>
                </div>
              </div>
              <div
                class="row"
                *ngIf="slug == 'pranayama-course-online-pranarambha'"
              >
                <div class="col-lg-12 form-group mb-3" *ngIf="i == 6">
                  <label for=""
                    ><strong>Video Review (*mandatory)</strong></label
                  ><br />
                  <p>
                    Please record a small video on your phone and upload the
                    file here. <br />
                    This is your contribution in making people understand about
                    the results of true yogic practices and thus we can make
                    better platform for knowledge and health seekers.<br />
                    Duration: 1 minute - 2 minute.
                  </p>
                  <input
                    type="file"
                    name="video"
                    (change)="getVideoFile($event)"
                  />
                </div>
                <div class="col-lg-12" *ngIf="i == 6">
                  <button
                    style="background-color: #fd7e14; border: none"
                    type="submit"
                    class="btn btn-primary form-control"
                    (click)="
                      getFeedback(
                        feedbackData,
                        i + 1,
                        dt.hashed_id,
                        reverseArr.length
                      )
                    "
                  >
                    Submit
                  </button>
                </div>
              </div>
              <div
                class="row"
                *ngIf="slug == 'breath-detox-yoga' && dt.questions.length"
              >
                <div class="col-lg-12 form-group" *ngIf="i == 4">
                  <label for=""
                    ><strong>Video Review (*mandatory)</strong></label
                  ><br />
                  <p>
                    Please record a small video on your phone and upload the
                    file here. <br />
                    This is your contribution in making people understand about
                    the results of true yogic practices and thus we can make
                    better platform for knowledge and health seekers.<br />
                    Duration: 1 minute - 2 minute.
                  </p>
                  <input
                    type="file"
                    name="video"
                    (change)="getVideoFile($event)"
                  />
                </div>
                <div
                  class="col-lg-12 form-group"
                  *ngFor="let ques of dt.questions; let q = index"
                >
                  <label for=""
                    ><strong>{{ ques }}</strong></label
                  >
                  <textarea
                    class="form-control"
                    name="question{{ q + 1 }}"
                    [(ngModel)]="feedbackData['question' + '' + (q + 1)]"
                    maxlength="100"
                    rows="5"
                    placeholder="Please enter your feedback in 100 characters max."
                  ></textarea>
                </div>
                <div class="col-lg-12">
                  <button
                    style="background-color: #fd7e14; border: none"
                    type="submit"
                    class="btn btn-primary form-control"
                    (click)="
                      getFeedback(
                        feedbackData,
                        i + 1,
                        dt.hashed_id,
                        dt.questions
                      )
                    "
                  >
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="text center mb-3 mt-5" *ngIf="!dt.isShow">
          <p class="h2">
            Complete the previous video, next video will open in 24 hours
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="mt-5 mb-3" *ngIf="!userId && !onlineCheck && !studentValidated">
  <div>
    <p>No Videos in this course</p>
  </div>
</section>
