.video-container video {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
}

.nav-tabs .nav-link.active {
  background-color: #de5d09;
  border-color: var(--bs-nav-tabs-link-active-border-color);
  color: #ffffff !important;
}