<section class="pricing-section">
  <div class="section-header" *ngIf="mainHeading">
    <i
      *ngIf="slug != routeEnum.foundationOfSpirituality"
      class="fas fa-bed section-icon"
    ></i>
    <h2 class="section-title">{{ mainHeading }}</h2>
    <p *ngIf="subHeading !== ''">{{ subHeading }}</p>
  </div>

  <div class="card-container">
    @if(feesData.length>0){
    <ng-container *ngFor="let item of feesData">
      <div class="price-card" *ngIf="!item.hidden">
        <div class="card-header">
          {{ item.title }}
          <span *ngIf="slug == routeEnum['200TTC']">(Early bird)</span>
        </div>
        <div class="card-body">
          <p class="fee-label">
            <strong><i class="fas fa-tags"></i> Course Fee</strong>
          </p>
          <div *ngFor="let obj of item.data; let i = index">
            <p class="price-usd">
              {{ obj.amount | currency : obj.currency : "symbol" : "1.0-3" }}
            </p>
            <hr class="price-divider" *ngIf="i < item.data.length - 1" />
          </div>
        </div>
      </div>
    </ng-container>
    }@else {
    <div class="price-card" *ngFor="let item of pricing">
      <div class="card-header">{{ item.title }}</div>
      <div class="card-body">
        <p class="fee-label">
          <strong><i class="fas fa-tags"></i> Course Fee</strong>
        </p>
        <p class="price-usd">{{ item.usd | currency : "USD" }}</p>
        <hr class="price-divider" />
        <p class="price-inr">{{ item.inr | currency : "INR" }}</p>
      </div>
    </div>
    }
  </div>
  <div class="row justify-content-center">
    @if(slug!==routeEnum.pranOnlinePranaArambh) {
    <button class="button" (click)="goToPaymentPage()">
      Join this journey
    </button>
    } @else {
    <button class="button" (click)="goToPaymentPage()">Get Access</button>
    }
  </div>
</section>
