<app-about></app-about>
<app-banner></app-banner>
<app-cooperate></app-cooperate>
<app-we-offer></app-we-offer>
<app-teacher-training></app-teacher-training>
<app-tt-rishikesh></app-tt-rishikesh>
<app-benifits></app-benifits>
<app-mentors></app-mentors>
<app-traning-importance></app-traning-importance>
<app-testimonials></app-testimonials>
<app-blogs></app-blogs>



<!-- <app-bottom-nav></app-bottom-nav> -->
<!-- <app-workshops></app-workshops> -->
<!-- <app-join-training></app-join-training> -->
<!-- <app-about-yoga></app-about-yoga> -->
<!-- <app-choose-us></app-choose-us> -->
<!-- <app-popular-workshop></app-popular-workshop> -->
<!-- <app-meet></app-meet> -->
<!-- <app-services></app-services> -->
<!-- yoga destination -->
<!-- <app-online-workshop></app-online-workshop> -->
<!-- <app-youtube-channel></app-youtube-channel> -->
<!-- <app-achievements></app-achievements> -->
<!-- <app-gallery></app-gallery> -->
<!-- <app-faq [data]="faq"></app-faq> -->
