<div class="row" *ngIf="fees?.amount">
  <div class="col-md-12">
    <!-- <a href="#" class="button text-center">START YOUR YOGA CLASS TODAY<br/>&#64; $2500 <span class="tilted-text">$3500</span></a>
    <p class="text-center offerend">Offer Ends On <span>June 15, 2024</span></p> -->

    <a href="/book-now" class="button text-center">START YOUR YOGA CLASS TODAY<br/>&#64;{{fees?.amount}} {{fees?.currency}}</a>
    <!-- <p class="text-center offerend">Offer Ends On <span>June 15, 2024</span></p> -->
  </div>
</div>
