/*Right Side Card*/
.payment_card {
  width: 100%;
  max-width: 540px;
  margin-inline: auto;
  padding: 40px 20px;
}
.card2 {
  padding: 25px;
  margin: 0 auto;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
}
.form-card .pay {
  font-weight: bold;
}

.form-card input,
.form-card textarea {
  padding: 10px 8px 10px 8px;
  border: none;
  border: 1px solid lightgrey;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 14px;
  letter-spacing: 1px;
}

.form-card input:focus,
.form-card textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  font-weight: bold;
  border: 1px solid gray;
  outline-width: 0;
}

.btn-info {
  color: #ffffff !important;
}

/*Imaged Radio Buttons*/
.radio-group {
  position: relative;
  margin-bottom: 25px;
}

.radio {
  display: inline-block;
  width: 204;
  height: 64;
  border-radius: 0;
  background: lightblue;
  box-sizing: border-box;
  border: 2px solid lightgrey;
  cursor: pointer;
  margin: 8px 25px 8px 0px;
}

.radio:hover {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.radio.selected {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.4);
}

/*Fit image in bootstrap div*/
.fit-image {
  width: 100%;
  object-fit: cover;
}

.payment-btn {
  margin: 0;
  width: 100%;
}
