<div class="payment_card">
  <div class="row">
    <div class="col-sm-12 p-0 box">
      <div class="card rounded-0 border-0 card2" id="paypage">
        <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
          <div class="form-card">
            <h2 id="heading2" class="text-danger">Payment Method</h2>
            <div class="radio-group">
              <div class="radio">
                <img
                  src="https://i.imgur.com/28akQFX.jpg"
                  width="200px"
                  height="60px"
                />
              </div>
              <div class="radio">
                <img
                  src="https://i.imgur.com/5QFsx7K.jpg"
                  width="200px"
                  height="60px"
                />
              </div>
              <br />
            </div>
            <div class="mb-4">
              <label class="pay">Name</label>
              <input
                type="text"
                name="holdername"
                placeholder="John Smith"
                formControlName="holderName"
              />
              <div *ngIf="paymentForm.get('holderName')?.hasError('required') && submitted">
                <span class="text-danger">Name is required.</span>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col-md-12">
                <label class="pay">Email</label>
              </div>
              <div class="col-md-12">
                <input
                  type="email"
                  name="email"
                  placeholder="abc@1235gmail.com"
                  formControlName="email"
                />
                <div *ngIf="paymentForm.get('email')?.hasError('required') && submitted">
                  <span class="text-danger">Email is required.</span>
                </div>
                <div *ngIf="paymentForm.get('email')?.hasError('email') &&  paymentForm.get('email')?.touched">
                  <span class="text-danger">Enter a valid email.</span>
                </div>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col-md-12 mb-4">
                <label class="pay">Whatsapp Number</label><br>
                <!-- <input
                  type="text"
                  name="mobile"
                  placeholder="123456789"
                  formControlName="mobile"
                /> -->

                  <!-- <input  
                  type="tel"
                  name="mobile"
                  #phoneInput
                  class="form-control"
                  placeholder=""
                  formControlName="mobile"
                  style="width: 210%;"/>
    
                  <div *ngIf="paymentForm.get('mobile')?.errors && submitted">
                    <span class="text-danger" *ngIf="paymentForm.get('mobile')?.hasError('required')">
                      Mobile number is required.
                    </span>
                    <span class="text-danger" *ngIf="paymentForm.get('mobile')?.hasError('invalidPhone')">
                      Please enter a valid mobile number.
                    </span>
                  </div> -->
                  <ngx-intl-tel-input
                    [cssClass]="'form-control phone_input'"
                    [separateDialCode]="true"
                    [preferredCountries]="['in', 'us']"
                    [enableAutoCountrySelect]="true"
                    [enablePlaceholder]="true"
                    [searchCountryFlag]="true"
                    [searchCountryField]="searchFields"
                    [selectFirstCountry]="false"
                    [selectedCountryISO]="CountryISO.India"
                    [maxLength]="15"
                    name="mobile"
                    (input)="onPhoneInputChange()"
                    formControlName="mobile">
                  </ngx-intl-tel-input>

                  <!-- Validation message -->
                  <div *ngIf="phoneError" class="text-danger mt-1">
                    {{ phoneError }}
                  </div>


                <!-- <div *ngIf="paymentForm.get('mobile')?.hasError('pattern') && paymentForm.get('mobile')?.touched">
                  <span class="text-danger">Enter a valid mobile number.</span>
                </div> -->
              </div>
              <div class="col-md-6">
                <label class="pay">Currency</label>
                <input
                  type="text"
                  name="currency"
                  formControlName="currency"
                  [(ngModel)]="currency"
                  class="placeicon"
                  readonly
                />
              </div>
              <div class="col-md-6">
                <label class="pay">Price</label>
                <input
                  type="text"
                  name="price"
                  formControlName="price"
                  [(ngModel)]="price"
                  class="placeicon"
                  readonly
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="button payment-btn">
                  Make a payment
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
