<main id="main">
  <section class="patern-bg3">
    <div class="container">
      <div class="row">
        <div class="main-icon text-center">
          <img
            src="https://my-s3-images-bucket.s3.amazonaws.com/img/flower-color.png"
            alt="Yoga Gallery"
            class="img-fluid flower-img"
            width="300"
          />
        </div>
        <div class="heading-wrapper title text-center">
          <h2 class="mb-5">Yoga Gallery</h2>
        </div>
      </div>
      <div class="yoga-course-gallery-main-div">
        <div class="yoga-course-big-img-first-div">
          <img src="https://my-s3-images-bucket.s3.amazonaws.com/images/Gallery1_p2mk26.jpg" alt="Yoga Vidya School" />
        </div>
        <div class="yoga-course-big-img-second-div">
          <div>
            <img
              src="https://my-s3-images-bucket.s3.amazonaws.com/images/Gallery2_cse1jf.jpg"
              alt="Yoga Vidya School"
            />
          </div>
          <div>
            <img
              src="https://my-s3-images-bucket.s3.amazonaws.com/images/Gallery3_puiw6z.jpg"
              alt="Yoga Vidya School"
            />
          </div>
          <div>
            <img
              src="https://my-s3-images-bucket.s3.amazonaws.com/images/Gallery4_nrhzbx.jpg"
              alt="Yoga Vidya School"
            />
          </div>
          <div>
            <img
              src="https://my-s3-images-bucket.s3.amazonaws.com/images/Gallery5_zoxhnn.jpg"
              alt="Yoga Vidya School"
            />
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </section>
</main>
