.daily-schedule-section {
    text-align: center;
    background: radial-gradient(circle, hsla(0, 0%, 100%, 1) 60%, rgba(249, 117, 30, 0.21) 130%);
    background: -moz-radial-gradient(circle, hsla(0, 0%, 100%, 1) 60%, rgba(249, 117, 30, 0.21) 130%);
    background: -webkit-radial-gradient(circle, hsla(0, 0%, 100%, 1) 60%, rgba(249, 117, 30, 0.21) 130%);

    table {
        border-radius: 10px;

        th {
            background: #F9751E;
            color: #fff;
            padding: 10px;
        }

        td {
            background: #FFF5DE;
            border-bottom: 1px solid #C1C1C1;
            padding: 10px;
        }
        
    }
    table tr th:first-child {
        border-top-left-radius: 10px;
    }
        
    table tr th:last-child {
        border-top-right-radius: 10px;
    }
    table tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }
        
    table tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }
}