<div class="container-fluid topbar text-white py-2">
  <div class="row align-items-center">
    <div class="col-md-6 d-flex flex-wrap gap-3 justify-content-center justify-content-md-start">
      
      <a href="https://wa.me/917351912811" class="contact-item text-white d-flex align-items-center">
        <i class="fab fa-whatsapp me-2"></i> +91 7351912811
      </a>
      <a href="mailto:info&#64;yogavidyaschool.com" class="contact-item text-white d-flex align-items-center">
        <i class="fas fa-envelope me-2"></i> info&#64;yogavidyaschool.com
      </a>
    </div>
    <div class="col-md-6 d-flex flex-wrap gap-2 justify-content-center justify-content-md-end">
      <a href="https://www.facebook.com/yogavidyarishikesh/" class="social-icon text-white">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/Yogavidyaschool" class="social-icon text-white">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/yogavidyaschool/" class="social-icon text-white">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.youtube.com/c/prashantjyoga" class="social-icon text-white">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
</div>
