<div class="container-fluid topbar text-white py-2">
  <div class="row align-items-center">
    <div
      class="col-md-12 d-flex flex-wrap gap-2 justify-content-center justify-content-center"
    >
      <a
        [href]="contactDetailLinkEnum.whatsappLink"
        class="social-icon text-white"
      >
        <i class="fab fa-whatsapp"></i>
      </a>
      <a
        [href]="contactDetailLinkEnum.emailLink"
        class="social-icon text-white"
      >
        <i class="fas fa-envelope"></i>
      </a>
      <a
        href="https://www.facebook.com/yogavidyarishikesh/"
        class="social-icon text-white"
      >
        <i class="fab fa-facebook-f"></i>
      </a>
      <a
        href="https://twitter.com/Yogavidyaschool"
        class="social-icon text-white"
      >
        <i class="fab fa-x-twitter"></i>
      </a>
      <a
        href="https://www.instagram.com/yogavidyaschool/"
        class="social-icon text-white"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <a
        href="https://www.youtube.com/c/prashantjyoga"
        class="social-icon text-white"
      >
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
</div>
