.learning {
  text-align: center;
  padding: 20px 90px;
  background: radial-gradient(
    circle,
    rgba(255, 245, 219, 0.94) 60%,
    rgba(249, 117, 30, 0.21) 110%
  );
  background: -moz-radial-gradient(
    circle,
    rgba(255, 245, 219, 0.94) 60%,
    rgba(249, 117, 30, 0.21) 110%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 245, 219, 0.94) 60%,
    rgba(249, 117, 30, 0.21) 110%
  );
  ul {
    list-style: none;
    display: flex;
    li {
      width: 10%;
      text-align: left;
      padding: 5px 0px;
    }
    small {
      padding: 0;
      font-size: 17px;
    }
    .active {
      border-bottom: 2px solid #f26f18;
      font-weight: bold;
      color: #f26f18;
    }
  }
  .thumbnail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    margin-top: 10px;
    width: 100%;
  }
  .thumbnail img {
    width: 100%;
  }
}
.learning_right {
  width: 100%;
  max-width: 550px;
  margin-inline: auto;
}
@media only screen and (max-width: 767px) {
  .learning_right {
    margin-block: 40px;
    max-width: 100%;
  }
}

@media screen and (max-width: 900px) and (min-width: 300px) {
  .learning ul li {
    width: 25%;
    text-align: left;
    padding: 5px 0px;
  }
}
