<section class="learning" *ngIf="week1.length > 0">
  <div>
    <img
      loading="lazy"
      alt="Not Loaded"
      [src]="s3Bucket.flower"
      class="flower-img"
    />
  </div>
  <h2>
    What You Will
    <span>Learn In This {{ h2Content != "" ? h2Content : "Course" }}?</span>
  </h2>
  <small *ngIf="weekPara">{{ weekPara }}</small>
  <div class="row my-4">
    <div class="col-md-12">
      <ul>
        <li
          [class]="selectedTab == 'week1' ? 'active' : ''"
          (click)="selectedData(1, 'week1')"
        >
          Week 1
        </li>
        <li
          [class]="selectedTab == 'week2' ? 'active' : ''"
          (click)="selectedData(2, 'week2')"
        >
          Week 2
        </li>
        <li
          [class]="selectedTab == 'week3' ? 'active' : ''"
          (click)="selectedData(3, 'week3')"
        >
          Week 3
        </li>
        <li
          [class]="selectedTab == 'week4' ? 'active' : ''"
          (click)="selectedData(4, 'week4')"
        >
          Week 4
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-left">
      <h2>{{ weeKTitle }}</h2>
      <div *ngFor="let item of displayData" [innerHTML]="item"></div>
      <a href="#" class="button">Download Full Information</a>
    </div>
    <div class="col-md-6">
      <div class="learning_right">
        <img
          loading="lazy"
          alt="Not Loaded"
          class="img-fluid"
          height="660"
          width="550"
          style="border-radius: 10px"
          [src]="s3Bucket.whatWillLearn1"
        />
        <div class="thumbnail">
          <img
            loading="lazy"
            alt="Not Loaded"
            class="img-fluid"
            height="100"
            width="83"
            style="border-radius: 10px"
            [src]="s3Bucket.whatWillLearn2"
          />
          <img
            loading="lazy"
            alt="Not Loaded"
            class="img-fluid"
            height="100"
            width="83"
            style="border-radius: 10px"
            [src]="s3Bucket.whatWillLearn3"
          />
          <img
            loading="lazy"
            alt="Not Loaded"
            class="img-fluid"
            height="100"
            width="83"
            style="border-radius: 10px"
            [src]="s3Bucket.whatWillLearn4"
          />
          <img
            loading="lazy"
            alt="Not Loaded"
            class="img-fluid"
            height="100"
            width="83"
            style="border-radius: 10px"
            [src]="s3Bucket.whatWillLearn5"
          />
          <img
            loading="lazy"
            alt="Not Loaded"
            class="img-fluid"
            height="100"
            width="83"
            style="border-radius: 10px"
            [src]="s3Bucket.whatWillLearn6"
          />
          <img
            loading="lazy"
            alt="Not Loaded"
            class="img-fluid"
            height="100"
            width="83"
            style="border-radius: 10px"
            [src]="s3Bucket.whatWillLearn7"
          />
          <img
            loading="lazy"
            alt="Not Loaded"
            class="img-fluid"
            height="100"
            width="83"
            style="border-radius: 10px"
            [src]="s3Bucket.whatWillLearn8"
          />
          <img
            loading="lazy"
            alt="Not Loaded"
            class="img-fluid"
            height="100"
            width="83"
            style="border-radius: 10px"
            [src]="s3Bucket.whatWillLearn9"
          />
        </div>
      </div>
    </div>
  </div>
</section>
