<!-- about.component.html -->

<section class="about-section py-5">
  <div><img alt="flower-img" loading="lazy" src="https://my-s3-images-bucket.s3.amazonaws.com/img/flower-color.png" class="flower-img" /></div>
  <small>Welcome To</small>
  <h1>
    {{ aboutItems.title }} <span>{{ aboutItems.span }}</span>
  </h1>
  <div class="row mb-3">
    <div class="col-md-12 d-flex align-items-center">
      <div [innerHTML]="aboutItems.desc"></div>
    </div>
    <div class="col-md-12" *ngIf="aboutItems.image">
      <div class="about-section_big_image">
        <img loading="lazy" src="{{ aboutItems.image }}" alt="About Image" />
      </div>
    </div>
    <div class="col-md-12 image d-flex justify-content-center">
      <!-- <a
      *ngIf="slug == 'pranayama-course-online-pranarambha' ||
             slug == 'breath-detox-yoga' ||
             slug == 'foundation-of-spirituality-an-online-spiritual-awakening-course' ||
             slug == 'yoga-inversion-workshop-headstand' ||
             slug == 'yoga-philosophy-course-free' ||
             slug == 'yoga-history-and-philosophy'"
        href="/add-to-cart"
        class="button"
        target="_blank"
        >Add To Cart</a
      > -->
      <!-- <a
      *ngIf="slug == 'pranayama-course-online-pranarambha' ||
             slug == 'breath-detox-yoga' ||
             slug == 'foundation-of-spirituality-an-online-spiritual-awakening-course' ||
             slug == 'yoga-inversion-workshop-headstand' ||
             slug == 'yoga-philosophy-course-free' ||
             slug == 'yoga-history-and-philosophy' "  
      href="/"
      class="button"
      >Buy Now</a
    > -->
      <a
        *ngIf="slug != 'pranayama-course-online-pranarambha'"
        href="/book-now"
        class="button"
        >Enroll in the course</a
      >
      <a
        *ngIf="slug == 'pranayama-course-online-pranarambha'"
        href="checkout/pranayama-course-online-pranarambha"
        class="button"
        >Enroll in the course</a
      >
    </div>
  </div>
</section>
<section class="subjectSection py-5" *ngIf="aboutItems.subjectInfo">
  <!-- <h2>{{aboutItems.title}} <span>{{aboutItems.span}}</span></h2> -->
  <!-- <div class="container"> -->
  <div class="col-md-12 align-items-center container">
    <div
      [innerHtml]="sanitizer.bypassSecurityTrustHtml(aboutItems?.subjectInfo)"
    ></div>
  </div>
  <!-- </div> -->
</section>
