<!-- about.component.html -->
<section class="about-section py-5">
  <div>
    <img
      alt="flower-img"
      loading="lazy"
      [src]="s3Bucket.flower"
      class="flower-img"
    />
  </div>
  <small
    *ngIf="
      slug !== routEnum.bDtox &&
      slug !== routEnum.pranOnlinePranaArambh &&
      slug !== routEnum.foundationOfSpirituality"
    >Welcome To</small
  >
  <h1>
    {{ aboutItems.title }} <span>{{ aboutItems.span }}</span>
  </h1>
  <div class="row mb-3">
    <div class="col-md-12 d-flex justify-content-center">
      <div [innerHTML]="aboutItems.desc"></div>
    </div>
    <div class="col-md-12" *ngIf="aboutItems.image">
      <div class="about-section_big_image">
        <img loading="lazy" [src]="aboutItems.image" alt="About Image" />
      </div>
    </div>
    <div class="col-md-12 image d-flex justify-content-center">
      <a
        *ngIf="
          slug != 'pranayama-course-online-pranarambha' &&
          slug != routEnum.bDtox
        "
        (click)="goToPaymentPage()"
        class="button cursor-pointer"
        >Enroll in the course</a
      >
      <a
        *ngIf="slug == 'pranayama-course-online-pranarambha'"
        href="checkout/pranayama-course-online-pranarambha"
        class="get_access_btn"
        >Get Access</a
      >
    </div>
  </div>
</section>
<section class="subjectSection py-5" *ngIf="aboutItems.subjectInfo">
  @if(slug == routEnum.bDtox || slug == routEnum.pranOnlinePranaArambh){
  <div class="row">
    @for(item of aboutItems.subjectInfo;track item.id){
    <div
      class="col-md-6 mb-5"
      [innerHtml]="sanitizer.bypassSecurityTrustHtml(item?.title1)"
    ></div>
    <div class="col-md-6 mb-5">
      <div [innerHtml]="sanitizer.bypassSecurityTrustHtml(item?.title2)"></div>
      <ng-container *ngIf="item.id === 4 && slug === routEnum.bDtox">
        <div class="registration-form-container mt-5">
          <app-registration-form></app-registration-form>
        </div>
      </ng-container>
    </div>
    }
  </div>
  }@else{
  <div class="col-md-12 align-items-center container">
    <div
      [innerHtml]="sanitizer.bypassSecurityTrustHtml(aboutItems?.subjectInfo)"
    ></div>
  </div>
  }
</section>
@if(slug == routEnum.bDtox){
<div class="lesson-part">
  <div class="about-section">
    <img
      alt="flower-img"
      loading="lazy"
      [src]="s3Bucket.flower"
      class="flower-img"
    />
    <h2>7 Lessons + Bonus <span>to Transform Your Breath & Energy</span></h2>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header">
          <b>Lesson 1 – Laying the Foundation</b>
        </div>
        <div class="card-body">
          Discover how to prepare your body, mind, and space for Breath Detox.
          Learn the ideal time, posture, and the key technique that sets the
          base for your journey.
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header">
          <b>Lesson 2 – The Quality of Breath 🌬️</b>
        </div>
        <div class="card-body">
          Understand your current breathing patterns, correct hidden mistakes,
          and learn how to regulate your prana through focus and posture.
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header">
          <b>Lesson 3 – Awakening Sensations ✨</b>
        </div>
        <div class="card-body">
          Explore the subtle sensations of breath in your body. Learn how to
          transform them into meditation and balance your Apana Vayu
          (elimination energy).
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header">
          <b>Lesson 4 – The Magic of Response 🔥</b>
        </div>
        <div class="card-body">
          Shift from reaction to awareness. Experience the transformative power
          of sensations and regulate your Samana Vayu (digestive and balancing
          energy).
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header">
          <b>Lesson 5 – Inner Purification 🌿</b>
        </div>
        <div class="card-body">
          Go deeper into the breath as an inner journey. Purify the mind
          (Chitta) and awaken Udana Vayu (energy of expression and clarity).
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header">
          <b>Lesson 6 – Overcoming Mistakes ⚖️</b>
        </div>
        <div class="card-body">
          Identify common obstacles in breath practice and refine your
          technique. Balance your Vyana Vayu (circulatory and expansive energy).
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header">
          <b>Lesson 7 – Conscious Expansion 🌌</b>
        </div>
        <div class="card-body">
          Anchor Breath Detox into your daily routine, creating lasting
          transformation and harmony.
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header">
          <b>Bonus Lesson – Taking It Forward 🎁</b>
        </div>
        <div class="card-body">
          Practical guidance on how to integrate Breath Detox into your
          lifestyle, work, and spiritual journey.
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3 about-section">
    <b>
      <i class="project-color"
        >“Start Your Journey – Awaken the Power of Breath”
      </i>
    </b>
    <br class="mb-3" />
    <p>
      <!-- <span class="join-now-button">Join Now</span>
      &nbsp;&nbsp;<b>It´s free</b> -->
    </p>
  </div>
</div>
} @else if(slug == routEnum.pranOnlinePranaArambh){
<section class="banner">
  <div class="video-container">
    <video
      muted
      autoplay
      loop
      playsinline
      controls
      id="backgroundVideo"
      class="background-video"
    >
      <source [src]="youtubeLink.pranaArambh" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="form">
    <h3>Want To Practice Pranayama Sadhana!</h3>
    <h3>Well-Researched Course to:</h3>
    <ol>
      <li>Improve Health & Spiritual Wellbeing</li>
      <li>Enhance the Quality of Life</li>
      <li>Break the Cycle of Addictions</li>
    </ol>
    <div class="d-flex mt-4">
      <button
        class="modern-btn"
        (click)="registerClick(routEnum.pranOnlinePranaArambh)"
      >
        Register Now
      </button>
    </div>
  </div>
</section>
}
