.about-section {
  text-align: center;
}

h1 span {
  color: #f47019;
}

.img-shadow {
  box-shadow: 0px 23.77px 23.77px 0px rgba(0, 0, 0, 0.55);
  border-radius: 10px;
}

.subjectSection {
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 245, 219, 0.94) 60%,
    rgba(249, 117, 30, 0.21) 110%
  );
}

.button {
  margin: 0 10px;
}

.get_access_btn {
  background: rgba(249, 117, 30, 1);
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 17px !important;
  display: inline-block;
  text-decoration: none;
  margin-top: 40px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  transition: background-color 0.3s ease;
  animation: pulse 2s ease-in-out infinite;
}
/* Pulse keyframes */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.about-section_big_image {
  width: 100%;
  aspect-ratio: 16 / 8;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 21.27px 21.27px 0px #00000040;
  margin-block: 20px 30px;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10.63px solid #ffffff;
    border-radius: 24px;
  }
}
.lesson-part {
  padding: 40px 40px;
  background: radial-gradient(
    circle,
    hsla(0, 0%, 100%, 1) 60%,
    rgba(249, 117, 30, 0.21) 130%
  );
  background: -moz-radial-gradient(
    circle,
    hsla(0, 0%, 100%, 1) 60%,
    rgba(249, 117, 30, 0.21) 130%
  );
  background: -webkit-radial-gradient(
    circle,
    hsla(0, 0%, 100%, 1) 60%,
    rgba(249, 117, 30, 0.21) 130%
  );
}
.card {
  border: 0.94px solid #f9751e;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.join-now-button {
  text-decoration: underline;
  cursor: context-menu;
  color: #f5711a;
}
.banner {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 20px 0px;
  background-size: cover;
  background-position: center;

  .video-container {
    position: relative;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .form {
    border: 4px solid #f5711a;
    box-shadow: 0px 20px 20px 0px #00000040;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 20px;
    margin: 0px 20px;

    h3 {
      font-size: 22px;
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }

    small {
      padding: 0;
      font-size: 15px;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }

    .modern-btn {
      background-color: #ff6600;
      color: white;
      font-size: 1rem;
      padding: 12px 16px;
      margin-left: 30px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease;

      /* apply the pulse animation */
      animation: pulse 2s ease-in-out infinite;
    }

    .modern-btn:hover {
      background-color: #f5711a;
      transform: translateY(-2px);
    }

    .form-inputs {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        border: 0.5px solid #f5711a;
        box-shadow: 0px 4px 4px 0px #0000001a;
        border-radius: 10px;
        padding: 10px;
      }

      select {
        border: 0.5px solid #f5711a;
        box-shadow: 0px 4px 4px 0px #0000001a;
        border-radius: 10px;
        padding: 10px;
      }

      textarea {
        border: 0.5px solid #f5711a;
        box-shadow: 0px 4px 4px 0px #0000001a;
        border-radius: 10px;
        padding: 10px;
      }
    }
  }

  .footer-button {
    background: rgba(249, 117, 30, 1);
    border-radius: 10px;
    border: 0.5px solid #f5711a;
    padding: 10px 5px 0px 5px;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    font-size: 14px;

    img {
      width: 20px !important;
      margin-right: 3px;
    }
  }

  .background-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .mute-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .sound-indicator {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
}

.registration-form-container .container {
  max-width: 100% !important;
}

@media screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    align-items: center;

    .video-container {
      width: 100%;
    }

    .form {
      width: 80%;
      margin-top: 20px;
    }
  }
}

.project-color {
  font-size: 20px;
}
.cursor-pointer {
  cursor: pointer;
}
