<div class="menu">
  <div class="menu--wrapper">
    <div
    class="menu--item card"
    *ngFor="let video of videos; let i = index"
  >
    <div class="video-container">
      <video
        #videoPlayer
        [src]="isInView(i) ? video : null"
        muted
        preload="metadata"
        (loadeddata)="onVideoLoaded($event)"
      ></video>
      <div
        class="play-button"
        #playButton
        (click)="playVideo(videoPlayer, playButton)"
      >
        <img src="assets/play-icon.png" alt="Play" />
      </div>
    </div>
  </div>
  
  </div>
</div>
