.achieve-section{
    text-align: center;
    background: rgba(249, 117, 30, 1);
    padding: 40px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    .icon{
        img{
            width: 50px;
        }
    }
    .title{
        font-size: 12px;
        font-weight: 800;
    }
    .count{
        font-size: 26px;
        font-weight: 900;
    }
}