<section id="my-account">
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-lg-12">
        <img
          class="img-fluid student-thumbnail mb-2"
          src="https://my-s3-images-bucket.s3.amazonaws.com/images/avatar_s1irdr.jpg"
          alt=""
        />
        <span class="d-flex justify-content-start">
          <p class="h5">Hi, {{ userName }}</p>
          <a
            href="javascript:void(0)"
            routerLink="/password/{{ loginId }}"
            class="btn btn-info btn-sm mx-3"
            >Change Password</a
          >
        </span>
      </div>
      <div *ngIf="courseArrData.length > 0">
        <h3>My Courses</h3>
        <div
          class="container-fluid"
          *ngFor="let course of courseArrData; let i = index"
        >
          <div class="row">
            <div class="col-lg-6">
              @if(course.isYoutube){
              <iframe
                loading="lazy"
                style="width: 100%"
                height="315"
                [src]="course.introUrl"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                async
                defer
              ></iframe>
              }@else if(course.isImage) {
              <img
                loading="lazy"
                class="intro-image"
                [src]="course.introUrl"
                title="Course intro video"
                controls
                playsinline
                preload="metadata"
                controlsList="nodownload"
              />
              }
            </div>
            <div class="col-lg-6">
              <h2>{{ course?.coursetitle }}</h2>
              <span
                (click)="getOnlineCourseVideosV2(course._id, course.slug, course.id ? course.id : 0)"
                class="btn btn-info"
                >START NOW</span
              >
              <div class="content w-50 mt-3">
                <blockquote>
                  <p
                    *ngIf="course?.coursetitle != 'Breath Detox Course Online'"
                  >
                    {{ course?.shortDesc }}
                  </p>
                  <p
                    *ngIf="course?.coursetitle == 'Breath Detox Course Online'"
                  >
                    This is a 7-days Breathing Practice. Here you will get 7
                    recorded videos of Prashant J Yoga. Each video has a
                    restriction of 24 hours and the next video will open only
                    after completion of the previous video. Answering the
                    questions and the Feedbacks are mandatory to continue the
                    course.
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p *ngIf="!counter" class="h2 mt-3 text-center">
        Oops! you did not enroll to any courses.
      </p>

      <p *ngIf="!counter" class="h2 mt-3 text-center">
        Buy PRANA ARAMBHA – An Exclusive Online Pranayama Course by Prashant J
        Yoga<br />
        <a
          href="javascript:void(0)"
          (click)="bookSeatV2('pranayama-course-online-pranarambha')"
          style="background-color: #f9751e"
          class="btn btn-primary border-0"
          >Click here</a
        >
      </p>
    </div>
  </div>
</section>
