<section class="workshops">
  <div class="row">
    <div class="col-md-12">
      <div><img loading="lazy" alt="Not Loaded"src="https://my-s3-images-bucket.s3.amazonaws.com/img/flower-color.png" class="flower-img"></div>
      <h2>Our Popular <span>Yoga Yoga Retreats/Workshops</span></h2>
      <small>In addition to Yoga TTCs, Yoga Vidya School offers various short yoga courses, Yoga Retreats and Yoga Workshops </small>
      <small>related to Asanas, Pranayama, Mindfulness, Yogic Philosophy, Ayurveda etc. These programs are available in India and</small>
      <small>abroad for beginners, intermediate and advanced levels of practitioners.</small>

    </div>
    <div class="col-md-4 my-5" *ngFor="let item of workshops">
      <div class="card">
        <div class="card-image relative">
          <img [src]="item.image" class="card-img-top" alt="Card Image" />
          <!-- <div class="date">
            <div class="day">03</div>
            <div class="month">Jun</div>
          </div> -->
        </div>
        <div class="card-body">
          <div class="heading fw-600">{{ item.title }}</div>
          <div class="dis-flex">
            <p class="card-text">Location : {{ item.location }}</p>
            <a href="{{item.link}}" class="read-more">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
