
  <div class="modal-body">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    <div class="img">      
      <img loading="lazy" src="assets/webinar_modal_image.jpeg" alt="alliance" class=""/>
     
    </div>
    <h2 class="mt-2">FREE WEBINAR - 'BEYOND THE BREATH'</h2>
    <p class="desc">An Exclusive Live Session On Ancient Pranic<br/>Purification Techniques</p>
    <h1 class="date">November 24th 2024</h1>
    <button (click)="webinarRegistration()" class="btn btn-primary signup-btn">Sign Up Today!</button>        
  </div>

  
